<!DOCTYPE html>
<html>

<head>

	<title>Fresco News</title>
	<meta name="description" content="Photos and videos from real people on the scenes of breaking news events.">
	<meta name="keywords" content="news, photojournalism, photography, crowdsourced, app, iphone, android">
	<meta name="reply-to" content="info@fresconews.com">
	<meta name="copyright" content="Fresco News">
	<meta name="web_author" content="Fresco Product">
	<meta name="language" content="english">
	<meta name="robots" content="index, nofollow">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="shortcut icon" type="image/png" content="https://d1dw1p6sgigznj.cloudfront.net/images/icon-favicon.png">
	<link rel="image_src" type="image/png" content="https://d1dw1p6sgigznj.cloudfront.net/images/icon-generic.png">
	<!-- facebook 	MAKE THE IMAGESD IN THESE META TAGS POINT TO CLOUDFRONT-->
	<meta property="og:title" content="Fresco News">
	<meta property="og:image" content="https://d1dw1p6sgigznj.cloudfront.net/images/icon-opengraph.png">
	<meta property="og:url" content="http://fresconews.com/">
	<meta property="og:description" content="Photos and videos from real people on the scenes of breaking news events.">
	<meta property="og:locale" content="en_US">
	<meta property="fb:app_id" content="267157383448416">
	<meta property="fb:admins" content="1160814652">
	<!--imogen-->
	<meta property="fb:admins" content="578765921">
	<!--john-->
	<meta property="fb:admins" content="1337647648">
	<!--elmir-->
	<!-- twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@fresconews">
	<meta name="twitter:creator" content="@fresconews">
	<meta name="twitter:title" content "Fresco News">
	<meta name="twitter:description" content="Photos and videos from real people on the scenes of breaking news events.">
	<meta name="twitter:image" content="https://d1dw1p6sgigznj.cloudfront.net/images/icon-twitter.png">
	<meta name="twitter:app:country" content="US">
	<meta name="twitter:app:name:iphone" content="Fresco News">
	<meta name="twitter:app:id:iphone" content="872040692">
	<meta name="twitter:app:url:iphone" content="fresco://">
	<!-- apple -->
	<meta name="apple-mobile-web-app-title" content="Fresco">
	<link rel="apple-touch-icon" type="image/png" href="https://d1dw1p6sgigznj.cloudfront.net/images/icon-apple.png">
	<meta name="apple-itunes-app" content="app-id=872040692, app-argument=fresco://">
	<!-- resources -->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap-material-design/dist/css/material.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/mdi/css/materialdesignicons.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/slick-carousel/slick/slick.css">
	<link rel="stylesheet" type="text/css" href="/vendor/snackbarjs/dist/snackbar.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/tools.css">

</head>

<body>
