video {
}

.byline-affiliation {
	margin-top: 8px;
}

.admin-assignment-edit {
	.form-control {
		margin-bottom: 16px;
	}
}

.list-item {

	.list-item-caption {
		width: 40%;
	}

	.list-item-assignment {
		max-width: 20%;
	}
}