@import 'settings';
@import '_assignment';

.admin-edit-pane {
	border-left: 1px solid rgba(0, 0, 0, 0.12);
	background: #ffffff;

	.gallery-images {
		.slick-dots li button:before {
			font-size:8px;
		}
	}

	.dialog {
		height: 100%;
	}
}

.byline-affiliation {
	margin-top: 8px;
}

.admin-assignment-edit {
	.form-control {
		margin-top: 16px;
	}
	//First input
	.titleInput {
		margin-top:0;
	}
}

.list-item {

	.list-item-caption {
		width: 40%;
	}

}

