/* Sass Document */

/*-----------------------------------------------------------------------------------

Copyright 2016 Fresco News, Inc. All Rights Reserved.

-------------------------------------------------------------------------------------*/

$dropShadow:0 2px 2px 0 rgba(0, 0, 0 , 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
$bg:#fafafa;

/**
 * Autocomplete Element
 */

.autocomplete {
    position:relative;
    z-index:1;
    @include border-radius(2px);
}

.fresco-autocomplete::-webkit-input-placeholder {
    @include rgba(color, 0, 0, 0, 0.25);
}
 
.fresco-autocomplete:-moz-placeholder { /* Firefox 18- */
    @include rgba(color, 0, 0, 0, 0.25);
}
 
.fresco-autocomplete::-moz-placeholder {  /* Firefox 19+ */
    @include rgba(color, 0, 0, 0, 0.25);
}
 
.fresco-autocomplete:-ms-input-placeholder {  
    @include rgba(color, 0, 0, 0, 0.25);
}

.fresco-autocomplete {
    border:none;
    font-size:16px;
    line-height:24px;
    font-weight:400;
    z-index:2;
    
    border-top-right-radius:2px;
     border-top-left-radius:2px;

    @include transition(box-shadow 0.3s ease-in-out);

    &.small {   
        height:36px;
        padding:6px 0 3px 24px;
        border-radius: 2px;
        background-color: rgba(0, 0, 0, 0.05);
    }

    &.full {
        padding:19px 24px 13px;
        background:$bg;
        margin-right:16px;
    }

    &.active {
        border-bottom:1px solid #DEDEDE;        
        @include box-shadow($dropShadow);
    }
}

.predictions {
    background:$bg;
    list-style:none;
    padding:8px 0;
    margin:0;
    position:absolute;
    z-index:10;
    max-height:256px;
    overflow:auto;
    width: 100%;
    border-bottom-right-radius: 2px;
     border-bottom-left-radius: 2px;

    @include transition(box-shadow 0.3s ease-in-out);
    @include box-shadow($dropShadow);

    li {
        height:48px;
        cursor:pointer;
        width:100%;

        p {
            font-weight:500;
            vertical-align: middle;
            padding:0 24px;
            font-size:16px;
            width:inherit;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            position: relative;
            top: 14px;
            margin:0;
        }

        @include rgba(color, 0, 0, 0, 0.87);

        &:hover {
            background:#f5f5f5;
        }
    }
}