/* Sass Document */

/*-----------------------------------------------------------------------------------

Copyright 2016 Fresco News, Inc. All Rights Reserved.

-------------------------------------------------------------------------------------*/

$dropShadow:0 2px 2px 0 rgba(0, 0, 0 , 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
$bg:#fafafa;

/**
 * Autocomplete Element
 */

.autocomplete {
    position:relative;
    z-index:1;
    @include border-radius(2px);
    @include transition(margin 0.15s ease-in-out);

    input {
        border:none;
        font-size:16px;
        line-height:24px;
        font-weight:400;
        padding:0 24px;
        width:100%;
        z-index:2;
        border-top-right-radius:2px;
         border-top-left-radius:2px;

        @include transition(
            box-shadow 0.15s ease-in-out, 
            height 0.15s ease-in-out,
            background 0.15s ease-in-out
        );
    }

    &.nav {
        margin:14px 0 0 24px;
        display:inline-block;
        float:left;
    
        input {
            height:36px;
            background: rgba(0, 0, 0, 0.05);
    
            @include border-radius(2px);
            @include placeholderColor{
                @include rgba(color, 0, 0, 0, 0.25);
            }
            
            &:hover {
                @include rgba(background, 0, 0, 0, 0.12);
            }
        }

        &.active {
            margin:5px 0 0 24px;
        }
    }

    &.form {
        margin-right:16px;
        margin-bottom:5px;
        min-width:240px;

        input{
            font-size:14px;
        }
    }

    &.active {
        input {
            background:$bg !important;
            padding:0 24px !important;
            height:56px !important;
            border-bottom:1px solid #DEDEDE;        
            @include box-shadow($dropShadow);
        }
    }
}


.predictions {
    background:$bg;
    list-style:none;
    padding:8px 0;
    margin:0;
    position:absolute;
    z-index:10;
    max-height:256px;
    overflow:auto;
    width: 100%;
    border-bottom-right-radius: 2px;
     border-bottom-left-radius: 2px;

    @include transition(box-shadow 0.15s ease-in-out);
    @include box-shadow($dropShadow);

    li {
        height:48px;
        cursor:pointer;
        width:100%;

        p {
            font-weight:500;
            vertical-align: middle;
            padding:0 24px;
            font-size:16px;
            width:inherit;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            position: relative;
            top: 14px;
            margin:0;
        }

        @include rgba(color, 0, 0, 0, 0.87);

        &:hover {
            background:#f5f5f5;
        }
    }
}