.moderation-topbar__filters {
    float: right;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moderation-topbar__filter {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    margin-left: 20px;
    color: rgba(0, 0, 0, 0.26);
    user-select: none;

    &.active, &.active:hover {
        color: #0047bb;
    }

    &:hover {
        color: rgba(0, 0, 0, 0.35);
    }
}

.moderation-topbar__suspended {
    float: right;
    font-size: 14px;
    color: #fff !important;
    text-align: center;
    text-transform: uppercase;
    margin-left: 24px;
    margin-right: 16px;
    width: 107px;
	height: 36px;
	background-color: #0047bb !important;
	background-color: var(--color-b);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}

.moderation-cards-ctr {
    position: relative;
    top: 64px;
    overflow-y: scroll;
    height: calc(100% - 64px) !important;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.moderation-card {
    width: 373px;
    background-color: #fafafa;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
    margin: 24.2px 24.2px 24.2px 0;

    &:first-child {
        margin-left: 24.2px;
    }
}

.moderation-card__image {
    width: 100%;
    height: auto;
}
