/* Sass Document */

/*-----------------------------------------------------------------------------------

Copyright 2016 Fresco News, Inc. All Rights Reserved.

-------------------------------------------------------------------------------------*/

@import '../global/mixins';
@import 'settings';

/*
	Ugly fix for bootstrap for this specfic page
 */
.col-md-12.col-lg-10{
	overflow:auto;
}

/*
	Outlet Settings Wrapper
 */

.outlet-settings{
	padding:64px 0 20px;
}

/*
	Card Overrides
*/
.card {
	.header {
		padding: 14px 16px;
	}
}

/*
	Payment Card
 */

.settings-outlet-payment{
	height:228px;

	.header{

		text-transform: uppercase;

		div{
			float:right;

			a{
				@include rgba(color, 0, 0, 0, .87);
			}

			.last4{
				font-weight:500;
				color:#4cd764;
				margin-right:14px;
				text-align:right;
			}
		}
	}

	.card-form{

		.inputs{
			padding: 15px 18px 8px 18px;
			overflow:auto;
			margin:0 auto 11px;
	
			input[type="text"]{
				padding:4px 0;
				height:40px;
			}

			.left, .right{
				float:left;
			}

			$bottomMargn:18px;

			.left{
				input:first-of-type{
					margin:0 auto $bottomMargn;
				}

				padding-right:18px;
				width:342px;
			}

			.right{
				width:182px;

				.ccv, .date{
					margin:0 auto $bottomMargn;
					width:83px;
					float:left;
				}
				.date{
					margin:0 16px $bottomMargn 0;
				}
			}
		}

		button{
			width:100%;
			border-top:1px solid;
			@include rgba(border-color, 0, 0, 0, 0.12);
		}
		
	}
}

/*
	Members Card
 */
.settings-outlet-members{

	.outlet-members-container{

		ul {
			padding: 0;
			margin: 0;
			list-style: none;
			max-height: 260px;
			overflow: auto;

			li{
				height:72px;
				padding:0 16px;

				.info{
					float:left;
					position:relative;
					top:14px;

					.name{
						margin:0;
						font-size:16px;
						line-height:24px;
						@include rgba(color, 0, 0, 0, .87);
					}
					.email, .phone{
						font-size:13px;
						@include rgba(color, 0, 0, 0, 0.54);
					}
				}
				.delete-member{
					cursor:pointer;
					float:right;
					font-size:24px;
					@include rgba(color, 0, 0 ,0, 0.54);
					position:relative;
					top:24px;
					right:10px;
				}
			}
		}

	}

}

/*
	Locations Card
 */

.settings-outlet-locations, .settings-outlet-notifications{

	.labels{
		float:right;
		font-weight:500;
		@include rgba(color, 0, 0, 0, 0.54);

		span{
			margin-left:15px;
		}
	}

	ul {
		padding:0;
		margin:0;
		list-style:none;
		max-height: 260px;
	    overflow: auto;

		li{
			height:72px;
			padding:0 16px;
			.info{
				float:left;
				position:relative;
				top:14px;
			}

			&.notification{
				.title{
					margin:0;
					font-size:16px;
					line-height:24px;
					@include rgba(color, 0, 0, 0, 0.87);
				}
				.description{
					font-size:13px;
					line-height:20px;
					@include rgba(color, 0, 0, 0, 0.54);
				}
			}

			&.location{
				a{
					font-weight:inherit;
				}
				.area{
					margin:0;
					font-size:16px;
					line-height:24px;
					max-width:260px;
					font-weight:400;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					@include rgba(color, 0, 0, 0, .87);
				}
				.count{
					font-size:13px;
					@include rgba(color, 0, 0, 0, 0.54);
				}
			}			
		}
	}

	.location-options, .notification-options{
		float:right;
		position:relative;
		top:24px;

		span, input, .checkbox{
			display:inline-block;
			margin:0;
			padding:0;
			position:relative;
		}

		.remove-location{
			cursor:pointer;
			font-size:24px;
			@include rgba(color, 0, 0 ,0, 0.54);
			position:relative;
			margin-right:65px;
		}

		.checkbox{
			margin:0;

			.checkbox-material{
				margin:0;
			}

			&.check-sms{
				margin-right:27px;
			}

			&.check-email{
				margin-right:40px;
			}

			&.check-fresco{
				margin-right:20px;
			}
		}
	}

	.footer{

		padding:0 16px;

		.sub-title{
			@include rgba(color, 0, 0, 0, 0.54);
			font-weight:500;
			margin-right:20px;
			float:right;
			top: 13px;
			position: relative;
		}
		
		.location-options, .notification-options{
			top:-10px;

		}

		input{
			width:50%;
			padding-right: 10px;
		}
	}
}

/*
	User (Outlet) Notification Settings
 */

.settings-outlet-notifications {


}