/* Sass Document */

/*-----------------------------------------------------------------------------------

Copyright 2016 Fresco News, Inc. All Rights Reserved.

-------------------------------------------------------------------------------------*/

@import 'settings';
@import '../global/colors';
@import '../global/drop-shadows.scss';

/**
 * Ugly fix for bootstrap for this specfic page
 */
.col-md-12.col-lg-10{
	overflow:auto;
}

/**
 * Outlet Settings Wrapper
 */
.outlet-settings{
	padding: 64px 0 24px;
    overflow: hidden;

    /**
     * Card Overrides
     */
    .card {
        .header {
            padding: 14px 16px;

            div {
            	float:right;
            }
        }
    }
}

/**
 * Payment Card
 */
.settings-outlet-payment{
	// height:228px;

	.header {
		text-transform: uppercase;
		div {
            a {
                @include rgba(color, 0, 0, 0, .87);
            }

			.last4 {
				font-weight:500;
				color:#4cd764;
				margin-right:14px;
				text-align:right;

				&.missing {
					color:$fresco-error;
				}
			}
		}
	}

	.card-form{
		.inputs{
			padding:15px 0 8px;
			overflow:auto;
			margin:0 auto 11px;
			padding-right:16px;

			$largeInputWidth:60%;
			$smallInputWidth:83px;

			.form-group {
				margin:0;
				padding:0;
                display:block;
			}

			input{
				float:left;
				padding:4px 0;
				margin:0 0 0 16px;
			}

			.card, .name {
			    max-width:$largeInputWidth;
				height: 48px;
			}

			.ccv, .date {
			    width:$smallInputWidth;
			}

			.zip {
				max-width:182px;
			}

		}

		button{
			width:100%;
			border-top:1px solid;
			@include rgba(border-color, 0, 0, 0, 0.12);
		}

	}
}

/**
 * Members Card
 */
.settings-outlet-members{

	.outlet-members-container{

		ul {
			padding: 0;
			margin: 0;
			list-style: none;
			max-height: 260px;
			overflow: auto;

			li{
				height:72px;
				padding:0 16px;


				.info, .pending-info {
					float:left;
					position:relative;
					top:14px;
				}

				.info{
					.name{
						margin:0;
						font-size:16px;
						line-height:24px;
						@include rgba(color, 0, 0, 0, .87);
					}
					.email, .phone {
						font-size:13px;
						@include rgba(color, 0, 0, 0, 0.54);
					}
				}

				.pending-info {
					.email{
						position:relative;
						font-size:16px;
						line-height:24px;
						display:block;
						@include rgba(color, 0, 0, 0, 0.87);;
					}

					.subtext{
						font-size:13px;
						line-height:20px;
						@include rgba(color, 0, 0, 0, 0.54);
					}
				}

				.delete-member, .owner-member, .cancel, .resend {
					float:right;
					position:relative;
					font-weight:500;
				}

				.delete-member, .owner-member {
					font-size:24px;
					top:24px;
					right:10px;
					cursor:pointer;
					@include rgba(color, 0, 0 ,0, 0.54);
				}

				.cancel, .resend {
					top:29px;
					font-size:12px;
					cursor:pointer;
				}

				.cancel {
					color: rgba(0, 0, 0, 0.87);
				}
				.resend {
					margin-right:16px;
					color: #0047bb;
				}
			}
		}
	}
}

/**
 * Locations Card
 */
.settings-outlet-locations, .settings-outlet-notifications{

	.labels{
		float:right;
		font-weight:500;
		@include rgba(color, 0, 0, 0, 0.54);

		span{
			margin-left:15px;
		}
	}

	ul {
		padding:0;
		margin:0;
		list-style:none;
		max-height: 260px;
	    overflow: auto;

		li{
			height:72px;
			padding:0 16px;
			.info{
				float:left;
				position:relative;
				top: 20%;
			}

			&.notification{
				.title{
					margin:0;
					font-size:16px;
					line-height:24px;
					@include rgba(color, 0, 0, 0, 0.87);
				}
				.description{
					font-size:13px;
					line-height:20px;
				    max-width: 350px;
				    display: block;
					@include rgba(color, 0, 0, 0, 0.54);
				}
			}

			&.location{
				a{
					font-weight:inherit;
				}
				.area{
					margin:0;
					font-size:16px;
					line-height:24px;
					max-width:260px;
					font-weight:400;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					@include rgba(color, 0, 0, 0, .87);
				}
				.count{
					font-size:13px;
					font-weight: regular;
					@include rgba(color, 0, 0, 0, 0.54);
				}
			}
		}
	}

	.location-options, .notification-options{
		float:right;
		position:relative;
		top:24px;

		span, input, .checkbox{
			display:inline-block;
			margin:0;
			padding:0;
			position:relative;
		}

		.remove-location{
			cursor:pointer;
			font-size:24px;
			@include rgba(color, 0, 0 ,0, 0.54);
			position:relative;
			margin-right:65px;
		}

		.checkbox{
			margin:0;
			width:24px;

			.checkbox-material{
				margin:0;
			}

			&.check-sms{
				margin-right:27px;
			}

			&.check-email{
				margin-right:35px;
			}

			&.check-fresco{
				margin-right:10px;
			}
		}
	}

	.footer{
		.sub-title{
			@include rgba(color, 0, 0, 0, 0.54);
			font-weight:500;
			margin-right:20px;
			float:right;
			top: 16px;
			position: relative;
		}

		.location-options, .notification-options{
			top:-10px;
		}

		input[type="text"]{
			width:50%;
			height:48px;
			float:left;
			position:absolute;
			padding-right: 10px;
		}
	}
}

/**
 * Card for managing OAuth clients
 */
.client-tokens__card {
	.client-tokens__sub-header {
		//Move closer to edge
	    margin: -8px -8px 0 0;
	}

	.client-tokens__body {
		max-height: 260px;
		margin: 8px 0;
		overflow: auto;
		@include transition(height 0.3s ease);
	}

	.new-token {
		color:$fresco-blue;
		cursor:pointer;
		font-weight: 500;
	}

	.api-docs {
		background-color:$fresco-blue;
		color:#FFF;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-weight:500;
		padding:8px;
		margin-left:12px;

		@include border-radius(2px);
		@include lightShadow();
	}

}

/**
 * Individaul client item appearing in the client items card
 */
.client-item{
	padding:16px 14px;


	&:hover {
		@include rgba(background, 0, 0 ,0, 0.04);
		@include transition(background-color 0.3s ease);
	}

}

.client-item__toggle {
	float:right;
    margin-top: 14px;
}

.client-item__info {
	.client-item__tag {
		font-size: 16px;
		margin:0;
		padding:0;
		font-weight:500;
		display:inline-block;
		font-size: 18px;
		@include rgba(color, 0, 0 ,0, 0.87);
	}

	.client-item__edit {
		margin: 0 0 0 4px;
		cursor:pointer;
		display:none;
		@include rgba(color, 0, 0, 0, 0.54);

		&.toggled {
			display:inline-block;
		}
	}

	.client-item__meta {
		font-size: 12px;
		letter-spacing: normal;
		line-height:16px;
		margin:0 0 18px;
		@include rgba(color, 0, 0, 0, 0.54);
	}

	.expiring {
		color:$fresco-error;
	}

	.client-item__copy-action {
		font-weight:500;
		text-transform:uppercase;
		color:$fresco-blue;
		margin-right:16px;
		font-size:15px;
		cursor:pointer;
	}
}
