@import '../global/mixins';
@import 'circle';

/**
 * Outlet Stats wrapper class
 */

.purchases__outlets {
    width: auto;
    padding-top:64px;
    height:100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

/**
 * Column outlet for an outlet
 */

.outlet-column {
    width:320px;
    height:100%;
    min-height:252px;
    float:left;
    background:#FAFAFA;
    border-right: solid 1px;
    border-bottom:solid 1px;
    @include rgba(border-color, 0, 0, 0, 0.12);

    ul {
        list-style:none;
        margin:0;
        padding:0;
    }
}

.outlet-column__head {
    padding:18px 24px 16px;
    z-index:5;
    border-bottom:1px solid;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    @include rgba(border-color, 0, 0, 0, 0.12);
    @include transition(box-shadow 0.15s ease-in-out);

    &.shadow {
        border:none;
        @include box-shadow(0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12));
    }

    .title {
        display:flex;
        flex-basis:100%;
        justify-content:space-between;

        h3 {
            font-size:20px;
            line-height:28px;
            font-weight:500;
            margin:0 13px 0 0;
            float:left;
            max-width:177px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            @include rgba(color, 0, 0 , 0, 0.87);
        }

        span {
            display: inline-block;
            line-height: 30px;
            cursor:pointer;
        }

        .launch {
            font-size:20px;
            @include rgba(color, 0, 0, 0, 0.54);
        }

        .drag {
            font-size:20px;
            cursor:move;
            align-self:flex-end;
            @include rgba(color, 0, 0, 0, 0.26);
        }
    }

    .users {
        margin:18px 0 0;
        flex-basis:100%;

        ul {
            display:flex;
            justify-content:flext-start;

            li {
                display:inline-block;
                margin-right:24px;

                p {
                    margin: 0;
                }

                p:first-child {
                    font-size:16px;
                    line-height:28px;
                    font-weight:500;
                    @include rgba(color, 0, 0, 0, 0.54);
                }

                p:last-child {
                    font-size:12px;
                    line-height:16px;
                    @include rgba(color, 0, 0, 0, 0.54);
                }
            }
        }
    }

    .revenue {
        margin:16px 0 0;
        flex-basis:50%;

        .count {
            font-weight:500;
            font-size:16px;
            line-height:28px;
            margin-right:3px;
            @include rgba(color, 0, 0, 0, 0.87);
        }
        span {
            font-size:12px;
            line-height:16px;
            @include rgba(color, 0, 0, 0, 0.54);
        }
    }

    .goal{
        flex-basis:50%;
        display:flex;
        flex-direction:column;
        justify-content:flex-end;

        .circle{
            margin:0 0 10px;
            position:relative;
            align-self:flex-end;
            font-size: 56px !important;

            .fraction {
                position:absolute;
                top: -26px;
                left: 17px;
                z-index:5;
                text-align: center;

                .numerator {
                    font-weight:500;
                    font-size:16px;
                }

                .denominator {
                    font-size:12px;
                    @include rgba(color, 0, 0, 0, 0.54);
                }
            }
        }

        .actions {
            align-self:flex-end;
            display:flex;
            justify-content:space-around;
            width:56px;

            span {
                font-size:1.2em;
                cursor:pointer;
                @include rgba(color, 0, 0, 0, 0.54);
            }
        }
    }
}

.outlet-column__list {
    overflow:auto;
    height: calc(100% - 221px);
    padding:0 0 8px;
}

/**
 * Purchase List Item
 */
.outlet-column__purchase {
    width:100%;
    margin:8px 0 0;
    overflow:hidden;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;

    &:hover {

    }

    .meta-top {
        padding:0 24px;
        width:100%;
        height:48px;
        display:flex;
        flex-basis:100%;
        align-items:center;
        justify-content:space-between;

        h3 {
            display:inline-block;
            margin:0;
            font-size:16px;
            font-weight:500;
            @include rgba(color, 0, 0, 0, 0.87);
        }

        span {
            font-size:12px;
            line-height:16px;
            @include rgba(color, 0, 0, 0, 0.54);
        }
    }

    .media-cell {
        z-index:4;
        width:304px;
        max-height:228px;
        flex-basis:100%;
        position:relative;
        padding:0 8px;
        overflow:hidden;

        img, video  {
            @include border-radius(2px);
            display:block;
            width:100%;
            height:100%;
        }

        video {
            cursor:pointer;
        }

        .volume-toggle {
            position:absolute;
            z-index:5;
            color:white;
            cursor:pointer;
            font-size:18px;
            top:20px;
            right:20px;
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
        }
    }

    .meta-assignment {
        padding:0 24px;
        display:flex;
        height:48px;
        flex-basis:100%;
        align-items:center;
        justify-content:flex-start;

        a{
            max-width:65%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            span.mdi-logout-variant {
                font-size:20px;
                margin-right:24px;
                @include rgba(color, 0, 0, 0, 0.54);
            }

            .title {
                font-size:14px;
                font-weight:500;
            }
        }
    }
}

