.push-notifs__tab {
    position: relative;
    top: 64px;
    overflow-y: scroll;
}

.push-notifs__checkbox {
    margin-bottom: 20px;

    .checkbox-material {
        margin-right: 10px;
    }
}

.push-notifs__users {
    margin-bottom: 40px;
}

.push-notifs__galleries {
    margin-bottom: 40px;
}

