html,
body {
	height: 100%;
	background-color: $color-brand-background;
	color: $color-black-1;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
a {
	font-weight: 500;
	color: #000;
}
a:hover, a:focus {
	color: #000;
	text-decoration: none;
}

button:focus {outline:none;}

.toggler{
    cursor: pointer;
}
.toggler:hover {
	cursor: hand;
}
.mt0 {
	margin-top: 0px !important;
}

.mt12 {
  margin-top: 12px !important;
}

.mt14 {
  margin-top: 14px !important;
}

.mt16 {
  margin-top: 16px !important;
}

.mt24 {
  margin-top: 24px !important;
}

.mt64 {
  margin-top: 64px !important;
}

.mr16 {
	margin-right: 16px !important;
}

.pt0 {
	padding-top: 0px !important;
}
.pt24 {
	padding-top: 24px !important;
}
.pr24 {
	padding-right: 24px !important;
}

.p0 {
	padding:0 !important;
}

.img-cover-bg {
	height:auto;
    display: block;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.img-avatar {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    @include border-radius(2px);
    @include box-shadow(0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12));
}

input, textarea{
    color: rgba(0, 0, 0, 0.87);
    color:#000;
}

// container fix
body > div.wrapper > div > .container-fluid {
	@include display(flex);
	> .sidebar + div {
		@include flex(1);
		// overflow:auto;
	}
}

.alertify {
	.dialog, .alert {
		background: transparent;
	}

	> .dialog > div {
		border-radius: 2px;
	}

	button {
		border: 0 !important;
		font-weight: 500;
	}

}

.ie .page {
	opacity:1;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.page {
	opacity:0;
    animation:fadeIn linear 1;
    animation-fill-mode:forwards;
    animation-duration:.1s;
    animation-delay: 0.1s;
}


.wrapper, .wrapper > div, .container-fluid{
	height: 100%;
	width: 100%;
}

.container-fluid {
	padding: 0;
	> div {
		height: 100%;
		padding: 0;
	}
}

// social buttons
button.btn > span {
	line-height: 20px;
	color: inherit;
}
div.settings > div.form-group-default > button.btn.btn-twitter {
	color: #fff;
	background-color: #55acee;
}
div.settings > div.form-group-default > button.btn.btn-facebook {
	color: #fff;
	background-color: #3b5998;
}

.checkbox .check, .checkbox .check:before {
	color: rgba(0, 0, 0, 0.54);
}

.checkbox input[type=checkbox]:checked~.check:before, .checkbox input[type=checkbox]:checked~.check{
	color: $fresco-blue;

	.explicit & {
		color:$color-error;
	}
}

.checkbox input[type=checkbox]:checked + .checkbox-material .check, .checkbox-default input[type=checkbox]:checked + .checkbox-material .check {
	color: $fresco-blue;

	.explicit & {
		color:$color-error;
	}
}

.checkbox input[type=checkbox]:checked + .checkbox-material .check:before, .checkbox-default input[type=checkbox]:checked + .checkbox-material .check:before{
	color: $fresco-blue;

	.explicit & {
		color:$color-error;
	}
}


// icons
.icon {
	color: $color-black-2;
	font-size: 24px;
	line-height: 24px;
}
.icon-button {
	padding: 0;
	border: 0;
	background-color: transparent;
	@include transition-duration(0.3s);
}
.icon-button.toggled {
	margin-left: 0px;
	margin-right: 48px;
}

.search-sidebar {
	height: 100%;
	overflow: auto;
	padding-top: 64px;
}


// forms
.btn {
	margin: 0 4px;
	padding: 8px;
	font-weight: 500;
}

/**
 * Boostrap Material UI Override
 */
.form-group-default {
	display:inline-block;
	font-weight:400;

	.checkbox input[type=checkbox]:checked~.check, .checkbox input[type=checkbox]:checked~.check:before {
		color: $color-accent-primary;
	}

	.checkbox{
		.checkbox-material{
			margin-right:16px;
		}
		span{
			font-weight:500;
		}
	}

	.dropdown{
		position: absolute;
		left: 0px;
		z-index: 100;
		list-style:none;
		background:#FFF;
		padding:0;
		display: none;
		max-height:250px;
		overflow-y:scroll;
		@include box-shadow(0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16));

		li {
			padding: 5px;
			cursor:pointer;
		    font-size: 16px;
		}
		li:hover{
			background:#DDD;
		}
	}
}

.form-group {
	margin:18px 0 0;
	padding:0;

	.form-control {
		margin:0;
		color:#000;
		font-size:14px;
		padding:6px 0 0;
		height:28px;
	}

	textarea{
		// height:40px !important;
		resize:vertical;
	}

	.help-block {
		color: rgba(0, 0, 0, 0.26);
	}

	//Default style
	.control-label{
		color: rgba(0,0,0,.26);
	}

	//Just empty
	&.is-empty {
		.control-label{
			font-size:14px !important;
			top:-10px !important;
		}
	}

	//Empty and not focused
	&.is-empty, &:not(.is-focused) {
		.control-label {
			color: #7e7e7e;
		}
	}

	//Empty and focused, just focused, not empty .-.
	&.is-empty.is-focused, &.is-focused, &:not(.is-empty) {
		.control-label{
			font-size: 9px !important;
			top:-22px !important;
		}
	}
}

// map
.map-group {
	height: 100%;
	width: 100%;

	.form-group-default {
		margin-bottom: 22px;
		width:100%;

		.form-control-wrapper {
			width: 100%;
			+ .form-control-wrapper {
				margin-left: 16px;
				margin-bottom: 8px;
			}
		}
	}
	.map-container {
		width: 100%;
		height:250px;
	}
	.map-container.dispatch{
		height:100%;
	}
	.map-container.full {
		padding-top: 64px;
		margin-bottom: 0;
	}
	#map-canvas {
		height: 100%
	}
	#add-assignment-map {
		height: 307px;
	}
	.callout {
		height: 240px;
		position: relative;
	}
	.assignment-callout-img {
		width: 135px;
		height: 180px;
		display: flex;
		float: left;
	}
	.assignment-callout-main {
		width: 225px;
		height: 100%;
		float: right;
		padding: 16px 8px;
		position: relative;
		overflow: hidden;
		-webkit-user-select: auto;
		user-select: auto;
	}
	.assignment-callout-title {
		padding-bottom: 8px;
	}
	.assignment-callout-caption {
		padding-bottom: 8px;
		overflow: hidden;
		max-height: 120px;
	}
	.assignment-callout-icon {
		padding-right: 6px;
		line-height: 36px;
	}
	.assignment-callout-image-counter {
		padding-right: 16px;
		line-height: 36px;
		position: relative;
	    top: -3px;
	}
	.assignment-callout-video-counter {
		line-height: 36px;
	}
	.assignment-callout-buttons {
		position: absolute;
		bottom: 0;
		width: 209px;
	}
	.assignment-callout-button {
		/*display: inline-block;*/
		float: right;
		color: #0047bb !important;
	}
}


// content
.content {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	div {
		margin: 0;
		padding: 0;
	}
	> .row:first-child {
		@include display(flex);
		> div.main {
			max-width: 1120px;
			padding: 96px 24px 32px;
			> div {
				padding: 0 24px;
				> div.card {
					width:auto;
					margin-bottom: 24px;
					> div.card-body {
						width:100%;
						padding: 0 0 48px;
					}
					> div.card-foot {
						border-top-style: none;
					}
				}
			}
		}
		> div.flexy {
			@include flex(1);
		}
	}
	> .related {
		margin-bottom: 32px;
	}
}

.card{
	overflow: hidden;
	pointer-events: all;
}

.card-foot-btn {
	border-radius: 0px 0px 2px 2px;
}

.toggle-edit {
	.meta-description {
		max-height: 300px;
		overflow: auto;
	}
}

// meta
.meta {
	margin: 0;
	padding: 0;
	list-style-type: none;
	.meta-user {
		@include display(flex);
		position: relative;
		margin-bottom: 16px;
		width: 100%;
		> div {
			padding: 0;
			img {
				width: 48px;
				height: 48px;
				margin-right: 16px;
			}
			> span {
				display: block;
				margin-top: 1px;
			}
		}
		div:last-of-type {
			@include flex(1);
		}
		> button.btn {
			margin: 0;
			background-color: $color-shade-0;
		}
	}
	.meta-description {
		display: block;
		margin-bottom: 16px;
	}
	.meta-list > ul {
		margin-bottom: 0;
		padding:0;
		list-style-type: none;
		.expired {
			.icon{
				color:#d0021b;
			}
			font-weight:500;
		}
		> li {
			padding: 8px 0;
			margin-bottom: 4px;
			> span {
				margin-right: 16px;
				vertical-align: middle;
			}
		}
		> li:last-child {
			margin-bottom: 0;
		}
	}
}


// split
.split {
	@include display(flex);
	@include flex-direction(row);
    position: relative;
	> .split-cell {
		@include flex(1);
		> span.md-type-body2 {
			display: none; //hide suggestions since they're not currently provided
		}
	}
	> .split-cell:last-child {
		margin-left: 16px;
	}
	> .split-cell:first-child {
		margin-left: 0;
	}
}
.split-cell.drop{
	margin : 0;

	button {
		width: 100%;
		text-align: left;
	}
	.drop-menu {
		width:100%;
	}
}


// chips
div.chips {
	> div.split-cell + div.split-cell {
		padding-top: 4px;
	}
	ul.suggestions{
		position: absolute;
		z-index: 19;
		background: white;
		list-style: none;
		box-shadow: 0 3px 10px rgba(0,0,0,.23), 0 3px 10px rgba(0,0,0,.16);
		padding:0;
		li{
			padding: 5px;
		    font-size: 16px;
		}
	}
	ul.chips {
		padding: 8px 0 0;
		> li.chip {
			display: inline-block;
			position: relative;
			top: 0px;
			margin-bottom: 4px;
			margin-right: 4px;
			border: 1px solid $color-black-4;
			border-radius: 2px;
			background-color: $color-shade-1;
			box-shadow: $color-black-4 0 1px;
			.new-story div.chip, .new-story div.icon{
			  background-color: lightgreen !important;
			}
			> div.chip {
				position: relative;
				display: inline-block;
				> div.icon {
					display: block;
					opacity: 0;
					position: absolute;
					width: 100%;
					height: 100%;
					background-color: $color-shade-1;
                    z-index: 1;
					> span.icon {
						position: absolute;
						top: 50%;
						margin-top: -12px;
						height: 24px;
						width: 100%;
						text-align: center;
					}
				}
				> span.chip {
					display: block;
					padding: 4px 8px;
				}
			}
		}
		> li.chip:hover {
			cursor: pointer;
			> div.chip > div.icon {
				opacity: 1;
			}
		}
		> li.chip:active {
			position: relative;
			top: 1px;
			box-shadow: none;
			background-color: $color-shade-2;
			> div.chip > div.icon {
				background-color: $color-shade-2;
			}
		}
	}
}

.chip__primary-text {
    font-weight: 500;
    opacity: 0.87;
}

.chip__alt-text {
    font-weight: 300;
    opacity: 0.54;
}

// tabs
.tab-control {
	> button {
		height: 40px;
		margin: 0px;
		padding: 8px 24px;
		text-align: center;
		box-sizing: border-box;
		border-radius: 0;
		border-bottom: 1px solid $color-black-4;
		line-height: 25px;
		color: $color-black-2 !important;
        outline: 0;
	}
	> button:last-child {
	}
	> button.toggled {
		border-bottom: 2px solid $color-accent-primary;
		line-height: 25px;
		color: $color-black-1 !important;
	}
    > .btn {
        &:active, &:hover, &:focus, &:visited {
            outline: 0;
        }
    }
}
.tab-control.full {
	@include display(flex);
	> button {
		@include flex(1);
		margin: 0;
	}
}
.tabs {
	> .tab {
		display: none;
		position: relative;

		> .img-link{
			cursor: pointer;
		}

	}
	> .tab.toggled {
		display: block;
		height: 100%;
	}
}

// list
div.list {
	height: 100%;
	overflow-y: auto;

	a {
		text-decoration:none;

		&:focus {
			color:black;
		}
	}

	div.list-item {
		padding: 16px;
		position:relative;
		cursor: 'pointer';

		@include display(flex);


		&.assignment-list-item {
			max-width: 368px;
			overflow: hidden;
		}

		&.global {
			text-decoration:none;

			.flexy {
				max-width:71%;
			}

			.mdi-logout-variant {
				position:absolute;
				top: 25px;
			    right: 20px;
			    opacity: .26;
			}
		}

		div {
			cursor:pointer;
			margin-right: 16px;
			padding: 2px 0;
			height: 40px;
			> span.md-type-body1,
			> span.md-type-body2,
			> span.md-type-caption {
				display: block;
			}
			> a.icon,
			> span.icon {
				line-height: 40px;
			}
			p.md-type-body1,
			p.md-type-body2,
			p.md-type-caption {
				line-height: 36px;
				display:inline-block;
				margin: 0;
			}
			> span,
			> p {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		div:last-child {
			margin-right: 0;
		}
		div.flexy {
			@include flex(1);
			max-width: 85%;
		}
		div.peek {
			display: none;
		}
	}
	div.list-item:hover {
		background-color: $color-shade-2;
		> div.peek {
			display: initial;
		}
	}
	div.list-item.active {
		background-color: $color-white-2;
	}
}


// dim
.dim {
	position: fixed;
	width: 100%;
	height: 100%;
	top: -100%;
	left: -100%;
	background-color: $color-black-2;
	opacity: 0;
	z-index: $z-dim;
	@include transition-duration(0.3s);
	@include transition-property(opacity);
}
.dim.toggled {
	top: 0;
	left: 0;
	opacity: 1;
}
.dim.transparent.toggled {
	opacity: .9;
}


// dialog
.dialog {
	position: relative;
	border-radius: 2px;
	padding: 0;
	background-color: $color-shade-0;
	> .dialog-head,
	> .dialog-body,
	> .dialog-foot {
		width: 100%;
		background-color: $color-shade-0;
	}
	> .dialog-head {
		position: absolute;
		z-index: 10;
		height: 64px;
		padding: 20px 24px 20px 32px;
	    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
		> .icon {
			font-size: 20px;
			line-height: 24px;
		}
		~ .dialog-body {
			padding-top: 71px;
		}
	}
	> .dialog-body {
		border-radius: 2px;
		padding:24px 32px 88px;
		max-height: 100%;
		overflow-y: auto;

		.slick-slider{
			margin-bottom:20px;
		}

		> .dialog-col {
			padding: 0;


			+ .dialog-col {
				padding-left: 32px;
			}
			> .dialog-row#byline-edit{
				padding-bottom:16px;
			}
			> .dialog-row {
				padding: 16px 0 0;
			}
			> .dialog-row:first-child {
				padding-top: 0;
			}
		}
	}
	> .dialog-foot {
		position: absolute;
		z-index: 2;
		bottom: 0px;
		height: 64px;
		padding: 14px 16px;
		border-top: 1px solid $color-black-4;
		~ .dialog-body {
			padding-bottom:92px;
		}
	}
}


// sidebar
.sidebar {
	@media (max-width: 1199px) {
		position: fixed;
		height: 100%;
		z-index: $z-drawer;
		margin-left: -$drawer-width;
		@include transition-duration(0.3s);
	}
	position: relative;
	z-index: $z-sidebar;
	height: 100%;
	width: $drawer-width;
	background-color: $color-shade-0;
	border-right: 1px solid $color-black-4;
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	> div:first-child {
		padding: 16px 20px 0;
		height:calc(100% - 117px);
		width: 100%;
		overflow-y: auto;


		img {
			width: 194px;
			max-width: 100%;
		}
		.form-group-default {
			margin: 16px 0 32px;
			width: 100%;
			padding: 0;
		}

		.master-list{
			padding:0 0 40px;
		}

		> ul {
			> ul > li > a {
				padding-left: 64px;
			}
			li {
				margin: 0 -20px;
				@include transition(background-color 0.3s ease);

				a {
					display:block;
					line-height: 22px;
					padding:8px 20px;
					text-decoration:none;
					font-weight: 500;
				    color: rgb(0, 0, 0);
					color: rgba(0, 0, 0, 0.87);
					span {
						vertical-align: middle;
						margin-right: 24px;

						~ span {
							position:relative;
							top:1px;
						}
					}
				}
			}
			li:hover {
				background-color: $color-shade-2;
			}
			li.active {
				a > span {
					color: $color-accent-primary;
				}
			}
		}
	}
	> div:last-child {
		position: absolute;
		bottom: 0;
		height:117px;
		width: 100%;
		border-top: 1px solid $color-black-4;
		background-color: $color-shade-1;
		text-align: center;
		> img {
			display: block;
			width: 80px;
			height:80px;
			margin: -40px auto 12px;
		}
		> ul {
			padding: 4px 12px 16px;
			> li {
				display: inline;
				padding: 0;
				margin: 0;
			}
			> li:after {
				content: " • ";
			}
			> li:last-child:after {
				content: none;
			}
		}
		> p {
			margin: 0;
			padding: 16px 12px 16px 14px;
			border-top: 1px solid $color-black-4;
			text-align: left;
			> span {
				line-height: 24px;
			}
		}
	}
}
.sidebar.toggled {
	@media (max-width: 1199px) {
		margin-left: 0;
		box-shadow: $color-black-4 0 0 8px 0, $color-black-4 8px 0 8px 0;
	}
}

//.
.navbar {
	position: absolute;
	height: 64px;
	color: inherit;
	z-index: $z-navbar;
	box-sizing: border-box;
	border-bottom: 1px solid $color-black-4;
	// @include box-shadow(0 2px 2px 0 rgba(0, 0, 0 , 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12));

	.icon-button {
		margin: 20px 24px;
		position: relative;
		float:left;
	}
	.spacer {
        float: left;
		display: inline-block;
		@media (max-width: 1199px) {
			display: none;
		}
		width: 24px;
        height: 100%;
	}
	> .tab-control {
        float: left;
		display: inline-block;
        margin: 24px 24px 0 24px;
	}
	> .form-group-default {
		float:left;

		.form-group {
			margin: 14px 0 0;
		}
	}
	> h1 {
        float: left;
		display: inline-block;
		max-width: 50%;
		white-space: nowrap;
		text-overflow: ellipsis;
	    overflow: hidden;
	}
	> .icon {
		margin: 10px;
		padding: 10px;
		border-radius: 50%;
	}
	> .dim {
		z-index: $z-dim;
	}
	> .drop:last-child {
		border-left-style: none;
	}
	> .drop.no-border {
		border-left-style: none;
	}
}
.navbar.navbar-default {
	background-color: $color-shade-0;
	color: inherit;
}

//panel

.panel{
	@include box-shadow(0 2px 2px 0 rgba(0, 0, 0 , 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12));
}

.edit.panel {
	overflow: hidden;
}

//drop

.drop {
	display: inline-block;
	position: relative;
	margin: 18px 0;
	padding: 2px 24px;
	border-left: 1px solid $color-black-4;
	> button > span.mdi,
	> div > div > span.mdi {
		margin-left: 12px;
		margin-right: -6px;
	}
	> .toggle-drop {
		position: relative;
		z-index: $z-drop-enable;
		padding: 0;
		background-color: transparent;
		border-style: none;
	}
	> .drop-menu {
		display: none;
		position: absolute;
		z-index: $z-drop-menu;
		top: 28px;
		left: 0;
		margin-top: -38px;
		padding: 0;
		border-radius: 2px;
		> .toggle-drop {
			padding: 12px 24px;
			border-bottom: 1px solid $color-black-4;
			cursor: pointer;
		}
		> .drop-body {
			padding: 10px 0 0;
			display: block;
			max-height: 80%;
			overflow-y: auto;
			ul {
				list-style-type: none;
			}
			> ul.md-type-subhead {
				padding-left: 0;
				li {
					width: 100%;
					height: 32px;
					padding: 4px 24px;
					white-space: nowrap;
					cursor:pointer;
				}
				li:hover, li.active {
					background-color: $color-shade-2;
				}
			}
			> .map-group {
				width: 320px;
				padding: 10px 24px;
				> .map-container{
					padding-bottom: 100%;
				}
			}
			> .chips {
				width: 280px;
				padding: 0 24px 8px;
				> .split-cell > .form-group-default {
					width: 100%;
				}
			}
			> span {
				padding: 16px 24px 4px;
			}
			> span.md-type-body2 {
				margin: 0;
			}
		}
	}
	> .drop-menu.toggled {
		display: initial;
	}
	> .drop-menu.toggled:hover {
		opacity: 1;
	}
}

// grid
.grid {
	position: absolute;
	height: 100%;
	overflow-y:auto;
	padding: 64px 0 0;
	.tile__frame {
		position: absolute;
		z-index: $z-tile-body-frame;
	}
	.tiles {
		margin: 0;
		padding:0;

		// .story{
		// 	.flex-row, .flex-col{
		// 		height:150px
		// 	}
		// }

		> .tile {
			cursor: pointer;
			position: relative;
			padding: 2px;

			.right-info {
				position: absolute;
				font-size: 12px;
				color:rgba(0, 0, 0, .54);
				right: 0px;
			}

			.hover {
				position: absolute;
				overflow-y:hidden;
				z-index: 1;
				width: 100%;
				height: 100%;
				visibility: hidden;
			}
			span.available {
  				color: #4cd764;
			}
			.tile-body {
				position: relative;
				border: 1px solid $color-black-4;

				> .tile__frame {
					position: absolute;
					width: 100%;
					height: 100%;
				}
				> .img {
					> .img-cover{
						object-fit: cover;
					}
				}
				> .hover {
					@include display(flex);
					@include flex-direction(column);
					background-color:rgba(0,0,0, 0.24);
					color: $color-white-1;
					> a {
						color:#FFF;
						margin-bottom: 8px;
					}
					p {
						@include flex(1);
						width: 100%;
						margin-bottom: 0;
						padding: 7px 12px 0;
						overflow: hidden;
						text-overflow: ellipsis;
						text-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 3px 3px rgba(0, 0, 0, 0.1);
					}
					> span {
						display: block;
						width: 100%;
						padding: 7px 12px;
						text-align: right;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
					}
					> ul {
						margin-bottom: 0;
						padding: 7px 12px;
						border-top: 1px solid $color-white-4;
						list-style-type: none;
						li {
							line-height: 24px;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
							a{
								color: inherit;
							}
						}
					}
				}
				.flex-row,
				.flex-col {
					@include display(flex);
					@include flex(1);
					position: relative;
					padding: 0;
					margin: 0;
					height:150px;
					overflow: hidden;
					> .img {
						@include flex(1);
						padding-bottom: 50%;
					}
					> .frs-background-image {
						@include flex(1);
						padding-bottom: 50%;
					}
				}
				.flex-col {
					@include flex-direction(column);
				}
				> .flex-col > .flex-row > .img {
					padding-bottom: 25%;
				}
				> .flex-col > .flex-row > .frs-background-image {
					padding-bottom: 25%;
				}
				.img {
					position: relative;
					margin: 0;
					padding-bottom: 100%;
					overflow: hidden;
					> img {
						height: 100%;
						min-width: 100%;
						position: absolute;
						z-index: 0;
					}
				}
				.frs-background-image{
					position: relative;
					margin: 0;
					padding-bottom: 100%;
					overflow: hidden;
					background-repeat: no-repeat;
					background-size:cover;
					background-position:center;
					width:100%;

					.img{
						display:none;
					}
				}
			}
			> .tile-foot {
				position: relative;
				height: 64px;
				background-color: $color-shade-0;
				border: 1px solid $color-black-4;
				border-top: 0;

				> .hover {

					background-color: $color-shade-0;
					> a {
						margin: 0 12px;
						line-height: 62px;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
					}
					> span {
						margin-right: 12px;
						line-height: 62px;
					}
				}
				> div {
					> div {
						max-width: 70%;
						text-overflow: ellipsis;
						display: inline-block;
						padding: 7px 12px;
						> span {
							display: block;
							line-height: 24px;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;

							&.timestring{
								color:rgba(0, 0, 0, 0.54);
							}
						};
						~ span {
							margin: 0 12px;
							line-height: 62px;
						}
					}
				}
			}
		}
		> .tile:hover .hover {
			visibility: visible;
		}
		> .tile.toggled {
			> .tile-body > .tile__frame {
				background-color: rgba(92,133,245,.54);
			}
			> .tile-foot {
				background-color: $color-accent-faded;
				> .hover {
					background-color: $color-accent-faded;
				}
			}
		}
	}
	> div + div {
		padding: 0 24px;
		> h3 {
			margin: 32px 0 12px;
		}
		> ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			> li {
				margin: 12px 0;
			}
		}
	}
}

.gallery {
	.flex-row, .flex-col {
		height: 150px !important;
	}
}


// profile
.profile.hidden-xs {
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 0px;
	padding-top: 64px;
	height: 100%;
	overflow-y: auto;
	img {
		margin-top: 24px;
		width: 100%;
	}
	.meta {
		padding: 24px 0;
	}
	+ .tall {
		padding: 0;
		> .grid {
			width: 100%;
		}
	}
}


// settings
div.settings {
	padding-top: 64px;
	height: 100%;
	overflow-y: auto;
	> div {
		padding: 24px;
	}
	> div.form-group-default {
		> * + * {
			margin-top: 24px;
		}
		> div.flex-row > img.img-circle {
			height: 48px;
			width:48px;
			+ div.flexy {
				padding: 8px 0 8px 8px
			}
		}
		> button.btn {
			background-color: $color-shade-0;
		}
	}
	> div.list {
		padding: 24px 0;
		> h3.md-type-title {
			margin-left: 16px;
		}
	}
}


// admin
div.admin {
	padding-top: 64px;
	> div.tab > div.list {
		padding: 0;
		+ div {
			padding: 0;
			height: 100%;
			background-color: $color-shade-0;
			border-left: 1px solid $color-black-4;
			> div.dialog {
				height: 100%;
				> div.dialog-body > * + * {
					margin-top: 24px;
				}
			}
		}
	}
}


// cards
.cards {
	position: absolute;
	top: 64px;
	right: 0px;
	width: 384px;
	max-width: 100%;
	height: calc(100% - 64px);
	padding: 8px 8px 72px;
	overflow-y: auto;
}
.card.panel {
	position: relative;
	padding: 0;
	margin-bottom: 8px;
	background-color: $color-shade-0;
	> .card-head,
	> .card-body,
	> .card-foot {
		width: 100%;

		img {
		    width: 100%;
		}
	}
	> .card-head {
		position: absolute;
		z-index: 1;
		height: 56px;
		padding: 16px 20px;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		background-color: $color-shade-0;
		> .icon {
			font-size: 20px;
			line-height: 24px;
		}
		~ .card-body {
			padding-top: 45px;
		}
		> .tab-control {
			margin: -16px -20px 0;
		}
	}
	> .card-head.small {
		height: 40px;
		~ .card-body {
			padding-top: 40px;
		}
	}
	> .card-body {
		padding: 16px 20px;
		max-height: 100%;
		overflow-y: auto;
		border-radius: 2px;
		> .card-col {
			padding: 0;
			+ .card-col {
				padding-left: 32px;
			}
			> .card-row {
				padding: 16px 0;
			}
			> .card-row:first-child {
				padding-top: 0;
			}
		}
		> .tabs.full {
			margin: 0 -20px;
			width: calc(100% + 40px);
			> .tab {
				height: 40vh;
			}
		}
		> .form-group-default {
			width: 100%;
			> .form-control-wrapper {
				margin-bottom: 24px;
			}
		}
	}
	> .card-foot {
		position: absolute;
		z-index: 1;
		bottom: 0px;
		height: 64px;
		padding: 14px 16px;
		border-top: 1px solid $color-black-4;
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
		background-color: $color-shade-0;
		~ .card-body {
			padding-bottom: 64px;
		}
	}
	> .card-foot.small {
		height: 48px;
		padding: 0 4px;
		> span {
			line-height: 48px;
			padding: 0 12px;
		}
		~ .card-body {
			padding-bottom: 48px;
		}
	}
	> .card-foot.center {
		text-align: center;
	}
	> .card-foot.center.toggled {
		display: none;
		~ .card-body {
			padding-bottom: 0;
		}
	}
}
.card.panel.toggled {
	display: none;
}

.card.bodyless{
	> .card-body{
		padding:0;
	}
}


// bulk select
.hover.well.bulk {
	position: fixed;
	z-index: $z-dialog-under;
	bottom: -276px;
	right: 32px;
	margin: 0;
	padding: 0;
	width: 640px;
	@include box-shadow(0 4px 4px 0 rgba(0, 0, 0 , 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12));
	@include transition-duration(0.3s);
	> .thumbs {
		width: 640px;
		height: 144px;
		border-radius: 2px 2px 0 0;
		overflow-x: auto;
		overflow-y: hidden;
		white-space: nowrap;
		> .thumb {
			display: inline-block;
			margin-right:1px;
			height: 144px;
			> .img-responsive {
				max-height: 100%;
			}
		}
	}
	> .row {
		margin: 0;
		padding: 14px 16px;
	}
}
.hover.well.bulk.toggled {
	bottom: 32px;
}


// edit
.edit {
	position: fixed;
	top: 105%;
	left: 5%;
	z-index: $z-dialog-over;
	width: 90%;
	height: 90%;
	border-radius: 2px;
	@include transition-duration(0.3s);
	@include border-radius(2px);
	> .edit-current,
	> .edit-new {
		height: 100%;
	}
	> .edit-current {
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
		border-right: 1px solid $color-black-4;
		padding: 24px;
		background-color: $color-shade-1;
	}
	> .edit-new {
		> .dialog-head {
			border-top-right-radius: 2px;
		}
		> .dialog-foot {
			border-bottom-right-radius: 2px;
		}
	}
	.checkbox input[type=checkbox]:checked ~ .check:before, .checkbox input[type=checkbox]:checked~.check{
	color: #0047bb;
	}
}
.edit.toggled {
	top: 5%;
}


// payment
a.payment {
	display: block;
	margin:26px 0 14px;
	font-size: 12px;
	line-height: 12px;
	font-weight: normal;
	color: $color-black-2;
	> span {
		&.available {
			color: $color-success;
		}
		&.unavailable {
			color: $color-error;
		}
	}
}
p.payment {
	@extend a.payment;
	margin-top: -16px;
}
div.payment {
	margin-bottom: 48px;
	h3 {
		margin: 48px 0 24px;
	}
	.flex-row, .row {
		margin-bottom: 24px;
	}
	.md-type-caption {
		line-height: 32px;
	}
	input {
		&[maxLength="2"] {
			width: 20px;
		}
		&[maxLength="3"] {
			width: 28px;
		}
		&[maxLength="5"] {
			width: 40px;
		}
	}
}


// time
div.time {}


// stretch utilities
.tall {
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
}
.fat {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}
.flex-row {
	@include display(flex);
	> div {
		margin: 0 8px;
	}
	> div:first-child {
		margin-left: 0;
	}
	> div:last-child {
		margin-right: 0;
	}
}
.flex-col {
	@include display(flex);
	@include flex-direction(column);
}
.flexy {
	@include flex(1);
}

/**** Global Selectors ****/

/**
 * MDI Override
 */

.mdi-download,
.mdi-library-plus,
.mdi-cash {
  cursor: pointer;
}

.mdi.icon.toggler {
	position: relative;
}

/** Move to Frick */
.mdi-close-circle {
  transition: transform 300ms;
}
/* */
.mdi-close-circle.addback {
  transform: rotate(45deg);
}

.mdi-checkbox-marked-circle.verified {
	color: #0047bb;
}

.ellipses {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width:100%;
}


.alertify{
	z-index:7;
}

.form-control:focus, .form-control.focus {
	background-image: linear-gradient(#0047bb, #0047bb), linear-gradient(#d2d2d2, #d2d2d2) !important;
}

.form-control:focus ~ .control-label, .form-control.focus ~.control-label {
	color: #0047bb !important;
}

.cell-stories {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.form-group.is-focused label{
    color: $fresco-blue;

    .explicit & {
    	color:$color-error !important;
    }
}

.checkbox input[type=checkbox]:checked + .checkbox-material .check, label.checkbox-inline input[type=checkbox]:checked + .checkbox-material .check {
    border-color: $fresco-blue;

    .explicit &  {
    	border-color:$color-error !important;
    }
}

.alertify {
    .dialog {
        .msg {
            overflow-wrap: break-word;
        }
    }
}

