@import "../../fonts/nota/nota";

/**
* Styles for everything on the stories page
*/


//navigation topbar for stories
.navbar.stories {
    margin-bottom: 0;
}
nav.stories {
	z-index: 2;
	>:first-child {
		float: left;
	}
	>:last-child {
		float: right;
		padding-right: 24px;
		padding-top: 18px;
	}
	.filters {
		display: flex;
		flex-wrap: wrap;
		> * {
			width: 50%;
		}
        @media (max-width: 1525px) {
            flex-flow: column;
            > * {
                width: 100%;
            }
        }
	}
	input[type="radio"]:checked+span+span+p {
		font-weight: 500;
		color: black;
	}
	label > p {
		display: inline;
		padding-left: 16px;
        font-size: 14px;
        white-space: nowrap;
	}
	label > p.bold {
		color: black;
	}
    .autocomplete-dropdown {
        display: none;
        top: 100%;

        width: 67%;
        @include box-shadow(-3px 3px 5px 0px rgba(0, 0, 0 , 0.24));
        left: 10px;
        position: absolute;
        @include flex-direction(column);
        background: white;
        z-index: 1;
        > section {
            padding: 8px 24px;
            width: 100%;
            ul {
                padding: 0;
                margin: 0;
                @include display(flex);
                @include flex-direction(row);
                @include flex-wrap(wrap);
                @include justify-content(flex-start);
                > :hover {
                    background-color: #ddddd6;
                    cursor: pointer;
                    @include border-radius(16px);
                }
                >li {
                    list-style: none;
                    background: $fresco-bg;
                    text-overflow: ellipsis;
                    width: auto;
                    height: 32px;
                    @include border-radius(16px);
                    border-radius: 16px;
                    margin: 0 10px 10px 0;
                    vertical-align: middle;
                    line-height: 32px;
                    padding: 0 10px;
                }
                .meta-user {
                    @include display(flex);
                    @include align-items(center);
                    @include justify-content(space-between);
                    padding: 0;
                    >.meta-user-icon {
                        transform: scale(.6);
                    }
                    >span {
                        padding-right: 10px;
                    }
                    >span:last-child {
                        color: rgba(0, 0, 0, 0.54);
                    }
                }
            }
        }
        > .search-assignments {
            li {
                width: 100%;
            }
        }
    }

    .show.autocomplete-dropdown {
        @include display(flex);
    }
    //search bar and dropdowns
	.stories-search {
		width: 50%;
        max-width: 1000px;
        position: relative;
		@media (max-width: 1000px) {
			width: 66%;
		}
		>section {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			width: 100%;
			>input {
				width: 100%;
				border: none;
				padding-left: 5px;
			}
		}
		>span, section > span:last-child {
			float: right;
            cursor: pointer;
		}

		.search-dropdown {
            position: absolute;
			background: $color-shade-2;
			top: 146%;
			width: 100%;
			height: auto;
			@include box-shadow(-5px 5px 10px 0px rgba(0, 0, 0 , 0.24));
            >.search-dropdown--body {
                @include display(flex);
                @include justify-content(space-between);
                > * {
                    width: 50%;
                    padding: 24px 0 24px 24px;
                }
                >*:last-child {
                    padding-right: 24px;
                }
                p {
                    font-weight: 500;
                    color: rgba(0, 0, 0, 0.54);
                }
                // .sortby-time label, .display-time label {
                //     padding-left: 0;
                // }
            }
            >.search-dropdown--buttons {
                border-top: 1px solid rgba(207, 207, 207, 1);
                @include display(flex);
                @include justify-content(space-between);
                >.button {
                    padding: 18px 24px;
                    font-size: 15px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                >.button:first-child {
                    color: #d0021b;
                }
                >.button:last-child {
                    color: #0047bb;
                }
                >.button:hover {
                    cursor: pointer;
                    color: black;
                }
                >.button:active {
                    background-color: rgba(207, 207, 207, 1);
                }
            }
		}

        // autocomplete Dropdown

        >div.none {
            display: none;
        }
	}
}

#stories {
    font-size: 0;
    width: 100%;
    .story-thumbnails {

    }
}
#stories > li:not(:first-child) > .story-info {
    border-top: solid 1px rgba(207, 207, 207, 1);
}

.story-info {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px rgba(207, 207, 207, 1);
    background-color: white;
    > .meta-user {
        padding-left: 16px;
        p {
            display: inline;
            width: auto;
            font-size: 12px;
            color: rgba(0, 0, 0, 0.54);
        }
        section p:first-child {
            padding-right: 10px;
            color: black
        }
        .meta-user-name {
            font-weight: 500;
            > * {
                display: inline;
                padding-right: 16px;
            }
            > section {
                position: relative;
                p {
                    padding-left: 12px;
                }
            }
        }
    }
    >div.download-story {
        width: auto;
        height: auto;
        max-height: 36px;
        line-height: 1.14;
        margin: 18px 16px;
        white-space: nowrap;
        text-transform: uppercase;
        font-family: $nota, sans-serif;
        padding: 11px 8px;
        border-radius: 2px;
    	background-color: #0047bb;
        color: white;
    	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    }
    >div.download-story:active {
        background-color: #06388a;
    }
    >div.download-story:hover {
        cursor: pointer;
    }


    // clean this up later
    .green {
        background-color: #4cd764;
    }
    .gray {
        background-color: rgb(145, 145, 145);
    }
}

.circle {
    display: inline;
    position: absolute;
    top: 40%;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.story-thumbnails {
    // @ttention might want a media query here
    font-size: 14px;
    display: flex;
    height: auto;
    padding: 0 0 10px 0;
    width: 100%;
    overflow: scroll;
    >li {
        width: 182px;
        position: relative;
        margin: 3px;
        border: solid 1px rgba(207, 207, 207, 1);
        background-color: white;
        display: inline;
        height: 100%;

        >img, .story-num-left {
            width: 180px;
            height: 180px;
            background-color: $fresco-bg;
            text-align: center;
            color: rgba(0, 0, 0, 0.12);
            vertical-align: middle;
            font-size: 2em;
            line-height: 180px;
        }
        .post-location {
            padding: 12px 0 0 12px;
            font-weight: 500;
            overflow: hidden;
            max-width: 182px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .post-time {
            margin: 10px 0 12px 12px;
            font-size: 12px;
            color: rgba(0, 0, 0, 0.54);
        }
    }
    >li:hover {
        .story-num-left {
            background-color: #e3e3dd;
        }
        cursor: pointer;
        background-color: $fresco-bg;
    }
    .circle {
        top: 75%;
        right: 5%;
    }
    .blue {
        background-color: #0047bb;
    }
}

// individual stories
.story-container {
    padding: 64px 0;
    .grid{
        padding: 1px 0;
    }
    .story-summary {
        padding: 24px;
        img {
            width: 192px;
            height: 192px;
            margin-right: 24px;
        }
        @include display(flex);
    }
}
