/* Sass Document */

/*-----------------------------------------------------------------------------------
Copyright 2016 Fresco News, Inc. All Rights Reserved.
-------------------------------------------------------------------------------------*/

@import '../global/mixins';

.stats{
    padding-top:64px;
    overflow:auto;

    .map-wrap, .info-wrap, .buttons {
        float:left;
        @include border-radius(2px);
        @include box-shadow(0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12));
        background:#FFF;
        padding:10px 20px 15px;
        height:auto;
        margin:20px;
    }

    .map-wrap{
        padding:10px 20px 15px;
        max-width:560px;

        h3{
            font-size:14px;
            font-weight:400;
            margin:5px 0 12px;
            line-height:24px;
        }

        .kml {
            float:none !important;
            margin:0 0 10px !important;
            display:block;
        }
        
        input[type="file"]{
            display:none;
        }

        .map{
            height:370px;
            @include border-radius(2px);
            @include box-shadow(0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12));
        }
    }

    .info-wrap{
        table{
            border-spacing: 5px;

            tr{
                margin:5px 0px;
                border-bottom:1px solid #DDD;
            }

            td{
                border-right:1px solid #DDD;
                margin-right:15px;
                padding:5px;
            }
        }
    }
}