/* Sass Document */

/*------------------------------------------------------------------------------------

Copyright 2016 Fresco News, Inc. All Rights Reserved.

-------------------------------------------------------------------------------------*/

@import '../global/mixins';
@import 'settings';

// settings
.user-settings {
	padding: 64px 0 20px;
	height:100%;
	overflow:auto;
}

.settings-info{
	.card-form{
		textarea{
			height:144px;
		}
	}
}

.settings-user-account{

	.card-form{
		input{
			width:100%;
			border-bottom:1px solid;
			@include rgba(border-color, 0, 0, 0, 0.12);
		}
	}
}