/* Sass Document */

/*------------------------------------------------------------------------------------

Copyright 2016 Fresco News, Inc. All Rights Reserved.

-------------------------------------------------------------------------------------*/

@import '../global/mixins';
@import 'dialogs';
@import 'settings';

// settings
.user-settings {
	padding: 64px 0 20px;
	height:100%;
	overflow:auto;

}

.settings-info{
	.card-form{
		textarea{
			height:144px;
		}
	}
}

.settings-user-account{

	.card-form{
		input{
			width:100%;
			border-bottom:1px solid;
			@include rgba(border-color, 0, 0, 0, 0.12);
		}
	}
}

// detail
.meta-user {
    white-space: nowrap;
    width: 100%;
}

.meta-user--icon {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 20px;
    display: inline-block;

    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 26px;
    }
}

.meta-user--text {
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
    width: 100%;
}

.meta-user--name {
    span {
        vertical-align: middle;
    }

    span:first-child{
        font-weight: 700;
    }
    span:last-child{
        margin-left: 8px;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.54);
    }
}

.meta-user--stats {
    vertical-align: bottom;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

