<html style="font-family: 'Roboto', sans-serif">
	<body>
		<div class="nav">
			<img src="https://d1dw1p6sgigznj.cloudfront.net/images/wordmark-foot.png"></img>
			<div>
				<h1>OUTLET OWNER VERIFIED</h1>
                <p>Updated {{ last_updated }}</p>
			</div>
		</div>
    	<div class="content">
            {{ table }}
		</div>
	</body>
</html>
