/* Sass Document */

/*------------------------------------------------------------------------------------

Copyright 2016 Fresco News, Inc. All Rights Reserved.

-------------------------------------------------------------------------------------*/

/**
 * Contact `Get in Touch` Modal
 */

.contact{
	@extend .modal_window;
	max-width:320px;
	overflow:hidden;
	margin-top:5%;

	.header{
		border:none;
	}
}
