/* Sass Document */

/*------------------------------------------------------------------------------------

Copyright 2016 Fresco News, Inc. All Rights Reserved.

-------------------------------------------------------------------------------------*/

/**
 * Team Modal
 */

.faq{
	@extend .modal_window;
	max-width:736px;

	@include mobile{
		height:100%;
	}

	.body{
		width:100%;
	    height: 550px;
	    overflow:auto;

	    @include mobile{
	    	height:100%;
	    }

    	.faq-child{

    		padding:0 16px;
    		margin:24px 0;

	    	.question{
	    		font-size:24px;
	    		font-weight:500;
	    		margin:0 0 12px;
	    	}

	    	.answer{
	    		line-height:20px;
	    		font-size:14px;
	    		font-family:$roboto;
	    		@include rgba(color, 0, 0, 0, 0.87);
	    	}
    	}
	}
}
