/* Sass Document */

/*------------------------------------------------------------------------------------

Copyright 2016 Fresco News, Inc. All Rights Reserved.

-------------------------------------------------------------------------------------*/

/**
 * Forgot Password Modal
 */

.forgot{
	@extend .modal_window;

	width:320px;

	position: absolute;
	top: 40%;
	left:0;
	right:0;

	
}
