/* Sass Document */

/*------------------------------------------------------------------------------------

Copyright 2016 Fresco News, Inc. All Rights Reserved.

-------------------------------------------------------------------------------------*/

@import "../global/_global";
@import "../global/fresco-slick";
@import "./public/vendor/slick-carousel/slick/slick.scss";
@import "./public/vendor/slick-carousel/slick/slick-theme.scss";
@import "./public/vendor/Waves/src/scss/waves.scss";
@import "landing";
@import "modals";
@import "team";
@import "account";
@import "press";
@import "contact";
@import "faq";
@import "legal";
@import "forgot";
@import "join";
@import "reset";

.wrapper{
	height:auto;
	overflow:hidden;

	&.full {
		min-height: 100%;
	}
}

.nav{
	transform: translate3d(0, -128px, 0);
}

/**
 *  Master Hero Background
 */
.hero-bg{
	height:100%;
	width:100%;
	z-index:-1;
	overflow:hidden;
	position:fixed;
	left:0; right:0; top:0; bottom:0;

	div{
		position:absolute;
		left:0; right:0; top:0; bottom:0;
		background: #ffc600 url("https://d1dw1p6sgigznj.cloudfront.net/index/map.png");
		background-repeat: no-repeat;
		background-position:50%;
	    background-size:cover;
		left:0; right:0; top:0; bottom:0;
		animation: animateBackground 30s linear;
		overflow:hidden;
	}
}

 @keyframes animateBackground {
 	from { 
 		@include transform(scale(2, 2) translate(0px, 46px));
 	}
 	to   { 
 		@include transform( scale(1,1) translate(0px, 0px));
 	}
}

