/* Sass Document */

/*------------------------------------------------------------------------------------

Copyright 2016 Fresco News, Inc. All Rights Reserved.

-------------------------------------------------------------------------------------*/

.modal{
	display:none;
	opacity:0;
	position:relative;
	margin:0 auto;

	form{
		position: relative;

		::-webkit-input-placeholder {
			@include rgbaWithHex(color, 0, 0, 0, .26, #BDBDBD);
		}
		:-moz-placeholder { /* Firefox 18- */
			@include rgbaWithHex(color, 0, 0, 0, .26, #BDBDBD);
		}

		::-moz-placeholder {  /* Firefox 19+ */
			@include rgbaWithHex(color, 0, 0, 0, .26, #BDBDBD);
		}
		:-ms-input-placeholder {  
			color:rgbaWithHex(0, 0, 0, .26, #BDBDBD);
		}
		input, textarea, .dropdown{
			border-top:1px solid #F4F4F4;
		}
		input, textarea{
			display:block;
			width:90%;
			padding:16px;
			border-left:none; border-bottom:none; border-right:none;
			font-size:16px;
			background:none;
			font-weight:400;
			font-family:$roboto;
		}
		textarea{
			height:180px;
			resize:none;
		}
		.dropdown{
			cursor:pointer;
			font-family:$roboto;
			font-weight:400;
			
			div{
				padding:16px 0 16px 16px;
				p{
					display:inline-block;
					font-size:16px;
					@include rgbaWithHex(color, 0, 0, 0, .26, #BDBDBD);
				}
				span{
					float:right;
					margin-right:10px;
					font-size:20px;
					@include rgbaWithHex(color, 0, 0, 0, 0.54, #757575);
				}
			}
			ul{
				display:none;
				position: absolute;
				width: 100%;
				z-index: 10;
				background: #FFF;
				border-top:1px solid #F3F3F3;
				border-top:1px solid rgba(0, 0, 0, 0.05);
				@include box-shadow(0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 3px 3px 0 rgba(0, 0, 0, 0.10));

				li{
				    padding: 16px 0 16px 16px;
				}
				li:hover{
					background:#DDD;
				}
			}
		}
		h3{
			font-weight:700;
			text-align:left;
			padding:16px 0 10px 14px;
			font-size:24px;
		}
		h2{
			font-size:20px;
			line-height:24px;
			font-weight:700;
			margin:17px 0 12px 14px;
		}
		.description{
			font-family:$roboto;
			max-width:85%;
			@include rgba(color, 0, 0, 0, 0.54);
			font-size:12px;
			margin:-6px 0 20px 14px;
		}
	}
}


/**
 * Window styling for modal, child of `.modal`
 */

.modal_window{
	@extend .modal;

	@include box-shadow(0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 3px 3px 0 rgba(0, 0, 0, 0.10));
	background:#FFF;
	position:relative;
	margin:0 auto 10px;

	.header{
		padding:0 16px;
		height:63px;
		border-bottom:1px solid #E6E6E6;
		border-bottom:1px solid rgba(0,0,0,0.10);

		h2{
			display:inline-block;
			font-size:24px;
			font-weight:700;
			margin:20px auto 0;
		}

		.mdi-close{
			top:15px; right:10px;
			position:absolute;
			font-size:1.4em;
			cursor:pointer;
			@include rgbaWithHex(color, 0, 0, 0, 0.54, #757575);
		}
		.mdi-close:hover{
			color:#000;
		}
	}
}

.active{
	display:block;
	opacity:1;
}

@import "team";
@import "account";
@import "press";
@import "contact";
@import "legal";
@import "hsa";
@import "forgot";
@import "reset";
