<div class="modal account <%- active %>" id="_account">
	<div id="_presentation" class="presentation">
		<iframe width="100%" height="100%" src="https://www.youtube.com/embed/I3Dhw6YCT-U" frameborder="0" allowfullscreen></iframe>
	</div>

	<div class="form-wrap login" id="_login">
		<form id="loginForm">
			<h3>Log In</h3>
			<span class="mdi mdi-help-circle help modal-action" data-event="modal" data-modal="forgot"></span>
			<input id="login-email" placeholder="Email" type="text" />
			<input id="login-password" placeholder="Password" type="password" />
		</form>

		<div id="_login-form-header" class="form-header button">
			<h3>LOG IN</h3>
		</div>
	</div>

	<div class="form-wrap signup" id="_signup">
		<form id="signupForm">

			<h3>Try out Fresco News</h3>

			<h2>Outlet Info</h2>

			<input id="outlet-name" type="text" placeholder="Name" />
			<input id="outlet-url" type="text" placeholder="Website URL" />
			<div class="dropdown" id="outlet-medium">
				<div>
					<p>Primary Medium</p>
					<span class="mdi mdi-unfold-more"></span>
				</div>
				
				<ul>
					<li>Phone</li>
					<li>Fax</li>
				</ul>
			</div>
			<div class="dropdown" id="outlet-state">
				<div>
					<p>State</p>
					<span class="mdi mdi-unfold-more"></span>
				</div>
				<ul>
					<li>Alabama</li>
					<li>Alaska</li>
					<li>Arizona</li>
					<li>Arkansas</li>
					<li>California</li>
					<li>Colorado</li>
					<li>Connecticut</li>
					<li>Delaware</li>
					<li>District Of Columbia</li>
					<li>Florida</li>
					<li>Georgia</li>
					<li>Hawaii</li>
					<li>Idaho</li>
					<li>Illinois</li>
					<li>Indiana</li>
					<li>Iowa</li>
					<li>Kansas</li>
					<li>Kentucky</li>
					<li>Louisiana</li>
					<li>Maine</li>
					<li>Maryland</li>
					<li>Massachusetts</li>
					<li>Michigan</li>
					<li>Minnesota</li>
					<li>Mississippi</li>
					<li>Missouri</li>
					<li>Montana</li>
					<li>Nebraska</li>
					<li>Nevada</li>
					<li>New Hampshire</li>
					<li>New Jersey</li>
					<li>New Mexico</li>
					<li>New York</li>
					<li>North Carolina</li>
					<li>North Dakota</li>
					<li>Ohio</li>
					<li>Oklahoma</li>
					<li>Oregon</li>
					<li>Pennsylvania</li>
					<li>Rhode Island</li>
					<li>South Carolina</li>
					<li>South Dakota</li>
					<li>Tennessee</li>
					<li>Texas</li>
					<li>Utah</li>
					<li>Vermont</li>
					<li>Virginia</li>
					<li>Washington</li>
					<li>West Virginia</li>
					<li>Wisconsin</li>
					<li>Wyoming</li>
				</ul>
			</div>

			<h2>Your Info</h2>
			
			<p class="description">You’ll be the owner of this outlet, responsible for inviting members and managing payment information. 
			We can transfer ownership if needed.</p>

			<input id="outlet-member-name" type="text" placeholder="Name" />
			<input id="outlet-phone" type="text" placeholder="Phone number" />
			<input id="outlet-email" type="text" placeholder="Email" />
			<input id="outlet-password" type="password" placeholder="Password" />
		</form>

		<div id="_signup-form-header" class="form-header button">
			<h3>TRY OUT FRESCO NEWS</h3>
		</div>
	</div>
</div>