<div class="modal account <%- active %>" id="_account">
	<div id="_presentation" class="presentation">
		<iframe width="100%" height="100%" src="https://www.youtube.com/embed/I3Dhw6YCT-U" frameborder="0" allowfullscreen></iframe>
	</div>

	<div class="form-wrap login" id="_login">
		<form>
			<h3>Log In</h3>
			<span class="mdi mdi-help-circle help" class="modal-action" data-modal="forgot"></span>
			<input id="login-email" placeholder="Email" type="text" />
			<input id="login-password" placeholder="Password" type="password" />
		</form>

		<div id="_login-form-header" class="form-header">
			<h3>LOG IN</h3>
		</div>
	</div>

	<div class="form-wrap signup" id="_signup">
		<form>

			<h3>Try out Fresco News</h3>

			<h2>Outlet Info</h2>

			<input id="outlet_name" type="text" placeholder="Name" />
			<input id="outlet_name" type="text" placeholder="Website URL" />
			<div class="dropdown">
				<div>
					<p>Primary Medium</p>
					<span class="mdi mdi-unfold-more"></span>
				</div>
				
				<ul>
					<li>Phone</li>
					<li>Fax</li>
				</ul>
			</div>
			<div class="dropdown">
				<div>
					<p>State</p>
					<span class="mdi mdi-unfold-more"></span>
				</div>
				<ul>
					<li>NY</li>
					<li>FL</li>
				</ul>
			</div>

			<h2>Your Info</h2>
			
			<p class="description">You’ll be the owner of this outlet, responsible for inviting members and managing payment information. 
			We can transfer ownership if needed.</p>

			<input id="signup_name" type="text" placeholder="Name" />
			<input id="signup_phone" type="text" placeholder="Phone number" />
			<input id="signup_name" type="text" placeholder="Email" />
			<input id="signup_name" type="password" placeholder="Password" />
		</form>

		<div id="_signup-form-header" class="form-header">
			<h3>TRY OUT FRESCO NEWS</h3>
		</div>
	</div>
</div>