<div class="modal contact xs <%- active %>" id="_contact">
	<div class="header">
		<h2>Get in Touch</h2>
		
		<span data-event="landing" class="mdi mdi-close modal-action"></span>
	</div>
	
	<div class="body">
		<div class="form-wrap">
			<form id="contact-form">
				<input id="contact-name" maxlength="200" placeholder="Name" type="text" />
				
				<input id="contact-email" maxlength="200" placeholder="Email" type="text" />
				
				<div id="contact-inquiry-type" class="dropdown">
					<div>
						<p>Type of inquiry</p>
						<span class="mdi mdi-unfold-more"></span>
					</div>
					
					<ul>
						<li>Feedback</li>
						<li>Help</li>
						<li>Sales</li>
					</ul>
				</div>
				
				<textarea placeholder="Message" id="contact-message" maxlength="500"></textarea>
				
				<input id="login_submit" type="submit" value="SEND MY MESSAGE" />
			</form>
		</div>
	</div>
</div>