<div class="modal forgot <%- active %>" id="_forgot">
	<div class="header">
		<h2>Forgot your password?</h2>
	</div>
	
	<div class="body">
		<div class="form-wrap" id="_forgot">
			<form id="forgot-form">
				<input id="email" placeholder="Email address" type="text" />
				
				<input class="button" id="login_submit" type="submit" action="/q/login" value="SEND RECOVERY LINK" />
			</form>
		</div>
	</div>
</div>