<div class="modal hsa <%- active %>" id="_hsa">
	<div class="header">
		<h2>Hosted Services Agreement</h2>
		
		<span data-event="landing" class="mdi mdi-close modal-action"></span>
	</div>
	
	<div class="body">
		<div >TEst</div>
	</div>
</div>