<div class="modal modal_window legal xs <%- active %>" id="_legal">
	<div class="header">
		<div>
			<h3 class="tab" id="terms-tab">Terms of Service</h3>
			<h3 class="tab inactive" id="privacy-tab">Privacy Policy</h3>
		</div>
		
		<span data-event="landing" class="mdi mdi-close modal-action"></span>
	</div>
	
	<div class="body">
		<div id="terms">
			<p align="center">
			    <strong>End User Terms of Service</strong>
			</p>
			<p>
			    <strong> </strong>
			</p>
			<p>
			    Effective Date: September 15<sup>th</sup>, 2016
			</p>
			<p>
			    This website, computing application, and the data, services, information, tools, functionality, updates and similar materials delivered or provided thereby
			    (collectively, the “Service”) are supplied by Fresco News, Inc. (“Fresco”, “us” or “we”) subject to your agreement to and compliance with the conditions
			    set forth in this Terms and Conditions Agreement (the “Agreement”). By creating an account to use the Service or otherwise entering into this Agreement,
			    you are creating a binding contract with us.
			</p>
			<p>
			    We may revise or update this Agreement by posting an amended version through the Service and making you aware of the revisions. Your use of the Service
			    following an update to this Agreement (or other acceptance method) is considered acceptance of the updated Agreement. If you do not accept the changes, you
			    must stop using the Service.
			</p>
			<p>
			    <strong>LICENSE </strong>
			    <br/>
			    As long as you are in compliance with the conditions of this Agreement and all incorporated documents, we hereby grant you a limited, revocable,
			    non-assignable, non-transferrable, non-sublicensable, non-commercial, non-exclusive license to use and access the Service only on your computing device for
			    personal use. No rights not explicitly listed are granted.
			</p>
			<p>
			    <strong>INCORPORATED TERMS</strong>
			    <br/>
			    The following additional terms are incorporated into this Agreement as if fully set forth herein:
			</p>
			<p>
			    <strong>
			        <em>
			            1. Privacy Policy
			            <br/>
			            2. Copyright Policy
			            <br/>
			            3. Complaint Policy (including Privacy and Trademark)
			        </em>
			    </strong>
			</p>
			<p>
			    <strong>
			        DISCLAIMERS
			        <br/>
			    </strong>
			    The Service allows its users and third-parties to post content and materials, which we do not review, control or endorse. You agree that we are not
			    responsible for any content, advice or other materials appearing on or through the Service.
			</p>
			<p>
			    We do not investigate or perform background checks on users of the Services. It is up to you to ensure your own safety in your interactions with other
			    users of the Services and in your activities conducted in connection with the Service.
			</p>
			<p>
			    Some users may request that you engage in certain activities, and if you choose to do so, such activities are at your absolute sole risk. You understand
			    and agree that we are not responsible for any damage, injury, death or harm you may suffer as a result of your activities in response to solicitations on
			    the Service.
			</p>
			<p>
			    <strong>
			        IMPORTANT NOTICES; AVAILABILITY
			        <br/>
			    </strong>
			    While we make reasonable efforts to ensure that the Service remains available at all times, we do not represent or warrant that access to the Service will
			    be error-free or uninterrupted, or without defect, and we do not guarantee that users will be able to access or use the Service, or its features, at all
			    times.
			</p>
			<p>
			    We reserve the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service, or any part thereof, with or
			    without notice.<strong> </strong>
			</p>
			<p>
			    The Service may contain typographical errors or inaccuracies, including relating to price, and may not be complete or current. We reserve the right to
			    correct any such errors, inaccuracies or omissions and to change or update information at any time without prior notice, even if your order has already
			    been accepted or processed.
			</p>
			<p>
			    If you use the Service on your mobile device, it may cause you to incur data charges.
			</p>
			<p>
			    <strong>
			        ELIGIBILITY
			        <br/>
			    </strong>
			    You must be at least eighteen (18) years old to use the Service. By using the Service, you represent that you meet this minimum age requirement.
			</p>
			<p>
			    Some parts or all of the Service may not be available to the general public, and we may impose eligibility rules from time to time. We reserve the right to
			    amend or eliminate these eligibility requirements at any time.
			</p>
			<p>
			    <strong>
			        RULES OF CONDUCT
			        <br/>
			    </strong>
			    Your use of the Service is conditioned on your compliance with the terms of this Agreement, including but not limited to these rules of conduct.
			</p>
			<p>
			    You agree that you will not violate any applicable law or regulation in connection with your use of the Service. Without limiting the foregoing, you agree
			    that you will not make available through the Service any material or information that infringes any copyright, trademark, patent, trade secret, or other
			    right of any party (including rights of privacy or publicity).
			</p>
			<p>
			    You agree not to distribute, upload, make available or otherwise publish through the Service any suggestions, information, ideas, comments, questions,
			    notes, plans, proposals, or materials similar thereto (“Submissions”) or graphics, drawings, designs, text, information, audio, photos, software, music,
			    sounds, video, comments, messages or similar materials (“Content”) that:
			</p>
			<p>
			    1. is unlawful or encourages another to engage in anything unlawful;
			</p>
			<p>
			    2. contains a virus or any other similar programs or software which may damage the operation of our or another’s computer;
			</p>
			<p>
			    3. violates the rights of any party or infringes upon the patent, trademark, trade secret, copyright, or other intellectual property right of any party;
			    or,
			</p>
			<p>
			    4. is libelous, defamatory, pornographic, obscene, lewd, indecent, inappropriate, invasive of privacy or publicity rights, abusing, harassing, threatening,
			    bullying or otherwise objectionable.
			</p>
			<p>
			    You must keep your user name and password and any other information needed to login to the Service, if applicable, confidential and secure. We are not
			    responsible for any unauthorized access to your account or profile by others.
			</p>
			<p>
			    You further agree that you will not do any of the following:
			</p>
			<p>
			    1. modify, adapt, translate, copy, reverse engineer, decompile or disassemble any portion of the Service;
			</p>
			<p>
			    2. interfere with or disrupt the operation of the Service, including restricting or inhibiting any other person from using the Service by means of hacking
			    or defacing;
			</p>
			<p>
			    3. transmit to or make available in connection with the Service any denial of service attack, virus, worm, Trojan horse or other harmful code or activity;
			</p>
			<p>
			    4. attempt to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without proper authorization;
			</p>
			<p>
			    5. take any action that imposes, or may impose, in our sole discretion, an unreasonable or disproportionately large load on our infrastructure;
			</p>
			<p>
			    6. harvest or collect the email address or other contact information of other users of the Service;
			</p>
			<p>
			    7. scrape or collect content from the Service via automated means;
			</p>
			<p>
			    8. submit, post or make available false, incomplete or misleading information to the Service, or otherwise provide such information to us;
			</p>
			<p>
			    9. register for more than one user account; or,
			</p>
			<p>
			    10. impersonate any other person or business.
			</p>
			<p>
			    You are not licensed to access any portion of the Service that is not public, and you may not attempt to override any security measures in place on the
			    Service.
			</p>
			<p>
			    Notwithstanding the foregoing rules of conduct, our unlimited right to terminate your access to the Service shall not be limited to violations of these
			    rules of conduct.
			</p>
			<p>
			    <strong>
			        CONTENT SUBMITTED OR MADE AVAILABLE TO US
			        <br/>
			    </strong>
			    You are under no obligation to submit anything to us or to make any Content available through the Service. Unless otherwise noted, we will not claim
			    ownership of any Content. If, however, you choose to submit any Content to the Service, or otherwise make available any Content through the Service, you
			    hereby grant us a perpetual, irrevocable, transferrable, sub-licensable, non-exclusive, worldwide, fully paid up, royalty-free, right and license to
			    reproduce, use, modify, display, perform, distribute, translate and create derivative works from any such Content through and incident to the Service
			    (including but not limited to the right to sub-license the Content , as well as to commercially use the rights of publicity, persona, image and name of the
			    individuals depicted in such Content within the Service and incident to the Service. In any of our use of your Content where the substantially consists of
			    your Content, we will give you reasonable authorship attribution.
			</p>
			<p>
			    By submitting any Content or Submissions to us, you hereby agree, warrant and represent that: (a) you are authorized to submit the Content or Submission to
			    us for republication through the Service, and you have secured any necessary licenses or permissions from rights owners relating to the Content or
			    Submission, including but not limited to copyright licenses or licenses to rights of publicity; (b) the Content and Submissions do not contain proprietary
			    or confidential information; (c) the provision of the Content and Submissions, and their use by us in connection with the Service, is not and will not be a
			    violation of any third-party’s rights; (d) all such Submissions and Content are accurate and true; (e) we are not under any confidentiality obligation
			    relating to the Content or Submissions; (f) we shall be entitled to use or disclose the Content or Submissions in any way; (g) you are not entitled to
			    compensation in exchange for the Submissions or Content, and (h) are not entitled to attribution relating to the Submissions or Content
			</p>
			<p>
			    You acknowledge that we are under no obligation to maintain the Service, or any information, materials, Submissions, Content or other matter you submit,
			    post or make available to or on the Service. We reserve the right to withhold, remove and or discard any such material.
			</p>
			<p>
			    <strong>
			        CONTENT SHARED THROUGH THE SERVICE
			        <br/>
			    </strong>
			    The Service may make it possible for you to choose to share certain information with the public. There are a number of ways in which you can control how
			    much information is shared with the public, and we will make efforts to comply with your instructions from the options provided to you. You understand that
			    by designating information to be shared through the Service, you may be revealing information that you choose to share. You understand and acknowledge that
			    you are fully aware and responsible for the impact of sharing such materials, and you agree that we shall not be held responsible, and we shall be released
			    and held harmless by you from any liability or damages arising out of such conduct. <strong></strong>
			</p>
			<p>
			    <strong>
			        CONTENT REQUESTS, PAYMENTS; ARCHIVE
			        <br/>
			    </strong>
			    <u>Requests</u>
			    . The Service permits certain publishers, as such publishers are more fully identified in the Service and as agreed between such publishers and Fresco
			    (“Publishers”) to request submissions of Content (“Requests”) from users (“Producers” or “you”); and, if the Publisher so desires, to purchase a license to
			    use the Content submitted in response to the Request. Requests will specify the sum (net of Fresco’s commission) to be paid to the Producer (the “Request
			    Fee”) upon the acceptance of the Content by the Publisher, as well as other details, within the Request, including but not limited to, title, caption,
			    “Assignment Expiration Time,” “Option Minimum Time Period,” “Exclusive License Period,”<strong> </strong>geographic location and radius.
			</p>
			<p>
			    You agree that the designation of Publishers under this Agreement may be established by Fresco and such third-party publishers on a case by case basis. For
			    example, a Publisher may sometimes be a television station or a newspaper, or may be a broader umbrella media organization.
			</p>
			<p>
			    <u>Exclusive “First Look” to Purchase</u>
			    . As a user, you may submit Content in response to Requests prior to the Assignment Expiration Time, which may be adjusted by Fresco. If you do, the
			    Publisher receiving the submission will have an <em>exclusive</em> option to purchase an exclusive license in the Content for a period of time, which may
			    vary. For a single Publisher Request, the period of time of the <em>exclusive</em> option to purchase a license will begin upon submission of the Content
			    and will continue until the later of (i) the Assignment Expiration Time, or (ii) the time the Content was submitted, plus the Option Minimum Time Period
			    (the “Option Period”). For single Publisher listings, if the Publisher does not elect to purchase a license to the Content during the Option Period, the
			    Content will automatically be made available in the Archive. during the Option Period, the Producer may not sell, license, or permit any other entity to
			    use the Content.
			</p>
			<p>
			    <u>The Consolidated Listings</u>
			    . From time to time, we may combine multiple similar Requests into a consolidated listing (each a “Consolidated Listing”), for example, in the event that
			    multiple Publishers post Requests relating to the same event. For a Consolidated Listing, you may only submit Content to one Publisher at a time. If you
			    submit Content to a specific Publisher in a Consolidated Listing, that Publisher will then have an <em>exclusive</em> option, during the Option Period to
			    purchase an <em>exclusive </em>Solicited Publisher Content License for that Content during the Exclusive License Period. If the Content is not licensed by
			    the first Publisher you submit to in the Consolidated Listing, the Content may be offered for licensing to other eligible Publishers in the Consolidated
			    Listing under the terms of this paragraph. If none of the Publishers participating in the Consolidated Listing elect to purchase a license to the Content
			    before the expiration of all applicable Option Periods, the Content will automatically be made available in the Archive (as defined below).
			</p>
			<p>
			    <u>Solicited Publisher Content License</u>
			    . A Publisher is under no obligation to accept any Content you submit in response to a Request (whether in a single listing or a Consolidated Listing), but
			    if it does (i) you will be paid the Request Fee through the Service, and (ii) you automatically, without additional action required, grant a Solicited
			    Publisher Content License (as defined herein) to the Publisher, as further described in the section entitled LICENSE FACILITATED TO PUBLISHERS. Fresco will
			    pay the Request Fee to you, after receipt from Publisher.
			</p>
			<p>
			    <u>Archive</u>
			    . Fresco may make an area of the Service available for you to publish your Content for viewing and potential licensing by certain Publishers, known as “the
			    Archive.” Content you submit in response to Requests may automatically be made available in the Archive upon (i) expiration of the Option Period(s) (if no
			    Publishers elect to purchase a Solicited Publisher Content License license), or (ii) the expiration of the Exclusive License Period, if applicable. The
			    Service may also permit you to make unsolicited Content available in the Archive. By making your Content available in the Archive, you are offering an
			    Archive Publisher Content License in the Content to certain Publishers for a standard fee set by Fresco from time to time (the “Archive Fee”). If a
			    Publisher accepts your offer to license your Content from the Archive, you automatically grant the Archive Publisher Content License to the Publisher for
			    that Content. Fresco will pay the Archive Fee, net Fresco’s commission, to you after received from the Publisher.
			</p>
			<p>
			    You may remove any of your Content from the Archive at any time; however, any Publisher Content Licenses granted before your removal will remain in effect.
			    You may not remove Content from responses to Requests after you have submitted it for potential license purchase.
			</p>
			<p>
			    <u>Payment Processor</u>
			    . We may use a third-party payment processor (the “Payment Processor”) to bill and remit payments through an online account for use of the Services. The
			    processing of payments will be subject to the terms, conditions and privacy policies of the Payment Processor in addition to these Terms. We are not
			    responsible for error by the Payment Processor. We reserve the right to correct any errors or mistakes that it makes even if it has already requested or
			    received payment. Once a Publisher has made payment to Fresco or its authorized Payment Processor, the Publisher shall have no further liability for
			    payment to the Producer.
			</p>
			<p>
			    For more information about our pricing, delivery and sales, please see our FAQs [<a href="https://fresconews.com/faq">LINK</a>], which are incorporated
			    herein by reference.
			</p>
			<p>
			    Notwithstanding the foregoing, the above description may be adjusted or amended by Fresco from time to time in accordance with this Agreement.
			</p>
			<p>
			    <strong>LICENSES FACILITATED TO PUBLISHERS</strong>
			</p>
			<p>
			    <u>Solicited Publisher Content License</u>
			    . If a Publisher purchases a license in Content submitted in response to a Request (whether an individual Request or a Consolidated Listing), you thereby
			    automatically
			    <strong>
			        GRANT TO THE PUBLISHER A, PERPETUAL, IRREVOCABLE, NON-SUB-LICENSABLE AND NON-TRANSFERRABLE (EXCEPT TO AFFILIATES AS DESCRIBED HEREIN), WORLDWIDE, FULLY
			        PAID-UP, ROYALTY FREE RIGHT AND LICENSE TO
			    </strong>
			    <strong>
			        REPRODUCE, USE, MODIFY, DISPLAY, PERFORM, DISTRIBUTE, TRANSLATE AND CREATE DERIVATIVE WORKS FROM ANY SUCH CONTENT, IN ANY AND ALL MEDIA, WHETHER NOW
			        KNOWN OR HEREAFTER DEVISED, BY ANY AND ALL MEANS OR TECHNOLOGIES, WHETHER NOW KNOWN OR HEREAFTER DEVISED, IN ALL LANGUAGES, THROUGHOUT THE UNIVERSE AND
			        IN PERPETUITY, ALL WITHOUT ANY RESTRICTIONS, LIMITATIONS OR CONDITIONS OF ANY KIND
			    </strong>
			    (the foregoing being the “Solicited Publisher Content License”). The Solicited Publisher Content License is <em>exclusive</em> to the purchasing Publisher
			worldwide during the applicable Exclusive License Period.<strong><u>THIS MEANS YOU MAY NOT PERMIT ANY OTHER PERSON OR ENTITY, WHETHER ON THE SERVICE OR OTHERWISE, TO USE THAT CONTENT DURING THE </u></strong>    <strong><u>EXCLUSIVE LICENSE PERIOD</u></strong>. After the Exclusive License Period expires, Publisher(s) shall retain the Solicited Publisher Content
			    License on a non-exclusive basis, and you may license the Content to others on a non-exclusive basis over the Service or otherwise.
			</p>
			<p>
			    <u>Archive Publisher Content License</u>
			    . If a Publisher purchases a license in Content offered through the Archive, you thereby automatically
			    <strong>
			        GRANT TO THE PUBLISHER, A PERPETUAL, IRREVOCABLE, NON-SUB-LICENSABLE AND NON-TRANSFERRABLE (EXCEPT TO AFFILIATES AS DESCRIBED HEREIN), WORLDWIDE, FULLY
			        PAID UP, ROYALTY FREE RIGHT AND LICENSE TO
			    </strong>
			    <strong>
			        REPRODUCE, USE, MODIFY, DISPLAY, PERFORM, DISTRIBUTE, TRANSLATE AND CREATE DERIVATIVE WORKS FROM ANY SUCH CONTENT, IN ANY AND ALL MEDIA, WHETHER NOW
			        KNOWN OR HEREAFTER DEVISED, BY ANY AND ALL MEANS OR TECHNOLOGIES, WHETHER NOW KNOWN OR HEREAFTER DEVISED, IN ALL LANGUAGES, THROUGHOUT THE UNIVERSE AND
			        IN PERPETUITY, ALL WITHOUT ANY RESTRICTIONS, LIMITATIONS OR CONDITIONS OF ANY KIND
			    </strong>
			    (the foregoing being the “Archive Publisher Content License” and together with the “Solicited Publisher Content License, the “Publisher Content License”).
			    <strong>
			        The Archive Publisher Content License is non-exclusive, such that you may grant concurrent licenses in the Content to multiple entities, over the
			        Service or otherwise.
			    </strong>
			</p>
			<p>
			    <u>Attribution/Right to Edit</u>
			    . As a condition to the Publisher Content License, unless otherwise instructed by Fresco in Fresco’s sole discretion (which you grant Fresco the right to
			    do on your behalf), Publishers shall give reasonably prominent authorship attribution to you in all uses of the Content. You understand that the Publisher
			    may amend, change, distort and otherwise modify the Content after the purchase of the Publisher Content License. Other than the attribution as stated
			    herein, you waive any and all moral rights in your Content. Notwithstanding the foregoing, through functionality of the Service, you may opt-out of
			    attribution when submitting Content.
			</p>
			<p>
			    <u>Affiliates</u>
			    . Publishers may transfer and/or sub-license Content that they license to (i) any entity that they control, (ii) any entity that controls them, or (iii)
			    any entity under common control with them (each an “Affiliate”). To “control” means owning or otherwise controlling 50% or more of the voting securities or
			    rights of an entity, or otherwise having the power to dictate its activities.
			</p>
			<p>
			    <u>Promises and Responsibilities</u>
			    . You understand and agree that you are a direct licensor to the Publisher. Although Fresco may facilitate the Publisher Content Licenses through the
			    Service, you understand and agree that Fresco is not granting this license to the Publisher – you are doing so directly. As the Producer, you represent and
			    warrant to Fresco and the Publisher that (a) you are the sole owner of the rights herein granted to Publisher; (b) you have the right to enter into and
			    perform this Agreement; (c) no consents, authorizations, or releases need to be obtained from any third parties, and no payments need to be made to any
			    third parties for the use of the Content; and (d) that the use of the Content as provided herein will not violate or infringe upon the rights of any third
			    parties. In addition to that which is provided to Fresco herein, you will indemnify, defend and hold harmless Publishers to whom you grant licenses through
			    the Services, and all those claiming under or through such Publishers, from any claims, actions, losses, damages, liabilities and expenses, including
			    reasonable attorneys' fees and disbursements, which may result from any breach or alleged breach by you of your representations and warranties hereunder.
			    Publishers shall be considered third-party beneficiaries to this provision of the Agreement.
			</p>
			<p>
			    <strong>OUR INTELLECTUAL PROPERTY</strong>
			</p>
			<p>
			    We own our graphics, logos, names, designs, page headers, button icons, scripts, and service names, which are our trademarks, trade names and/or trade
			    dress. The “look” and “feel” of the Service (including color combinations, button shapes, layout, design and all other graphical elements) is protected by
			    U.S. copyright and trademark law. All product names, names of services, trademarks and service marks (“Marks”) are our property or the property of their
			    respective owners, as indicated. You may not use the Marks or copyrights for any purpose whatsoever other than as permitted by this Agreement.
			</p>
			<p>
			    You acknowledge that the software used to provide the Service, and all enhancements, updates, upgrades, corrections and modifications to the software, all
			    copyrights, patents, trade secrets, or trademarks or other intellectual property rights protecting or pertaining to any aspect of the software (or any
			    enhancements, corrections or modifications) and any and all documentation therefor, are and shall remain the sole and exclusive property of us and/or our
			    licensors, as the case may be. This Agreement does not convey title or ownership to you, but instead gives you only the limited rights set forth herein.
			</p>
			<p>
			    <strong>
			        ENFORCEMENT AND TERMINATION OF SERVICES
			        <br/>
			    </strong>
			    We reserve the right to deny all or some portion of the Service to any user, in our sole discretion, at any time.
			</p>
			<p>
			    Without limiting the foregoing or assuming additional legal obligations, we have a policy of terminating repeat violators of the Copyright Act, in
			    accordance with applicable law. All grants of any rights from you to us related to Content, Submissions, or other materials, including but not limited to
			    copyright licenses, shall survive any termination of this Agreement. Further, your representations, defense and indemnification obligations survive any
			    termination of this Agreement.
			</p>
			<p>
			    <strong>
			        LINKS AND THIRD-PARTY CONTENT
			        <br/>
			    </strong>
			    The Service may contain links. Such links are provided for informational purposes only, and we do not endorse any website or services through the provision
			    of such a link.
			</p>
			<p>
			    The Service may contain articles, text, imagery, video, audio, data, information and other similar materials originating from third-parties. We do not
			    endorse any third party content that may appear on the Service or that may be derived from content that may appear on the Service, even if such content was
			    summarized, collected, reformatted or otherwise edited by us.
			</p>
			<p>
			    <strong>
			        DISCLAIMERS AND LIMITATION ON LIABILITY
			        <br/>
			    </strong>
			    YOU AGREE AND ACKNOWLEDGE THAT THE SERVICE IS PROVIDED “AS IS” AND “AS AVAILABLE”, WITHOUT ANY WARRANTY OR CONDITION, EXPRESS, IMPLIED OR STATUTORY. WE,
			    OUR PARENTS, SUBSIDIARIES, AFFILIATES, OFFICERS, DIRECTORS, SHAREHOLDERS, MEMBERS, MANAGERS, EMPLOYEES AND SUPPLIERS SPECIFICALLY DISCLAIM ANY IMPLIED
			    WARRANTIES OF TITLE, ACCURACY, SUITABILITY, APPLICABILITY, MERCHANTABILITY, PERFORMANCE, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT OR ANY OTHER
			    WARRANTIES OF ANY KIND. NO ADVICE OR INFORMATION (ORAL OR WRITTEN) OBTAINED BY YOU FROM US SHALL CREATE ANY WARRANTY. <strong></strong>
			</p>
			<p>
			    <strong>USE OF THE SERVICE IS AT YOUR SOLE RISK. </strong>
			    <strong>WE DO</strong>
			    <strong>
			        NOT WARRANT THAT YOU WILL BE ABLE TO ACCESS OR USE THE SERVICE AT THE TIMES OR LOCATIONS OF YOUR CHOOSING; THAT THE SERVICE WILL BE UNINTERRUPTED OR
			        ERROR-FREE; THAT DEFECTS WILL BE CORRECTED; THAT DATA TRANSMISSION OR STORAGE IS SECURE OR THAT THE SERVICE IS FREE OF INACCURACIES,
			        MISREPRESENTATIONS, VIRUSES OR OTHER HARMFUL INFORMATION OR COMPONENTS.
			    </strong>
			    <strong></strong>
			</p>
			<p>
			    TO THE MAXIMUM EXTENT PERMITTED BY LAW, IN NO EVENT SHALL WE OR OUR PARENTS, SUBSIDIARIES, AFFILIATES, OFFICERS, DIRECTORS, SHAREHOLDERS, MEMBERS,
			    MANAGERS, EMPLOYEES AND SUPPLIER (COLLECTIVELY, THE “RELATED PARTIES”) BE LIABLE TO YOU BASED ON OR RELATED TO THE SERVICE, WHETHER BASED IN CONTRACT, TORT
			    (INCLUDING NEGLIGENCE), STRICT LIABILITY OR OTHERWISE, AND WE SHALL NOT BE RESPONSIBLE FOR ANY LOSSES OR DAMAGES, INCLUDING WITHOUT LIMITATION DIRECT,
			    INDIRECT, INCIDENTAL, CONSEQUENTIAL, OR SPECIAL DAMAGES ARISING OUT OF OR IN ANY WAY CONNECTED WITH ACCESS TO OR USE OF THE SERVICE, EVEN IF WE AND/OR
			    RELATED PARTIES HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
			</p>
			<p>
			    Notwithstanding the foregoing, in the event that a court shall find that the above disclaimers are not enforceable, then you agree that neither we nor any
			    of the Related Parties shall be liable for (1) any damages in excess of $500.00 or (2) any indirect, incidental, punitive, special, or consequential
			    damages or loss of use, lost revenue, lost profits or data to you or any third party from your use of the Service. This limitation shall apply regardless
			    of the basis of your claim or whether or not the limited remedies provided herein fail of their essential purpose.
			</p>
			<p>
			    This limitation shall not apply to any damage that we cause you intentionally and knowingly in violation of this Agreement or applicable law that cannot be
			    disclaimed in this Agreement.
			</p>
			<p>
			    <strong>
			        INDEMNIFICATION
			        <br/>
			    </strong>
			    You agree to defend, indemnify and hold us and our suppliers, subsidiaries, licensors, and licensees, and each of their officers, directors, shareholders,
			    members, employees and agents harmless from all allegations, judgments, awards, losses, liabilities, costs and expenses, including but not limited to
			    reasonable attorney's fees, expert witness fees, and costs of litigation arising out of or based on (a) Submissions or Content you submit, post to or
			    transmit through the Service, (b) your use of the Service, (c) your violation of the Agreement, (d) any claim that we are a licensor of your Content to
			    Publishers, and (e) any conduct, activity or action which is unlawful or illegal under any state, federal or common law, or is violative of the rights of
			    any individual or entity, engaged in, caused by, or facilitated in any way through the use of Service.
			</p>
			<p>
			    <strong>DISPUTES, GOVERNING LAW AND JURISDICTION</strong>
			</p>
			<p>
			    You agree that any claim or dispute between us arising out of or relating in any way to your use of the Service or any service provided by us, will be
			    resolved solely and exclusively by binding arbitration, rather than in court, except that you may assert claims in small claims court if your claims
			    qualify. The Federal Arbitration Act and federal arbitration law apply to this agreement. The laws of the State of New York shall govern this Agreement,
			    and shall be used in any arbitration proceeding.
			</p>
			<p>
			    There is no judge or jury in arbitration, and court review of an arbitration award is limited. However, an arbitrator can award on an individual basis the
			    same damages and relief as a court (including injunctive and declaratory relief or statutory damages), and must follow the terms of this Agreement as a
			    court would.
			</p>
			<p>
			    To begin an arbitration proceeding, you must send a letter requesting arbitration and describing your claim to the following address: Fresco News, Inc., 85
			    Broad St. #17.134, New York, NY 10004.
			</p>
			<p>
			    Arbitration under this Agreement will be conducted by the American Arbitration Association (AAA) under its rules then in effect. Payment of all filing,
			    administration and arbitrator fees will be governed by the AAA's rules.
			</p>
			<p>
			    You agree that any dispute resolution proceedings will be conducted only on an individual basis and not in a class, consolidated or representative action.
			    If for any reason a claim proceeds in court rather than in arbitration, both you agree that parties have each waived any right to a jury trial.
			</p>
			<p>
			    Notwithstanding the foregoing, you agree that we may bring suit in court to enjoin infringement or other misuse of intellectual property or other
			    proprietary rights, or for defense and indemnification as provided for herein.
			</p>
			<p>
			    To the extent arbitrations does not apply, you agree that any dispute arising out of or relating to the Services, or to us, may only be brought by you, and
			    may be brought by us, in a state or federal court located in New York, New York. YOU HEREBY WAIVE ANY OBJECTION TO THIS VENUE AS INCONVENIENT OR
			    INAPPROPRIATE, AND AGREE TO JURISDICTION AND VENUE IN NEW YORK.
			</p>
			<p>
			    <strong>POLICIES FOR CHILDREN </strong>
			</p>
			<p>
			    The Service are not directed to individuals under the age of 13. You must be over the age of 17 to use the Service. In the event that we discover that a
			    child under the age of 13 has provided personally identifiable information to us, we will make efforts to delete the child’s information in accordance with
			    the Children's Online Privacy Protection Act. Please see the Federal Trade Commission's website (www.ftc.gov) for more information.
			</p>
			<p>
			    Notwithstanding the foregoing, pursuant to 47 U.S.C. Section 230(d), as amended, we hereby notify you that parental control protections are commercially
			    available to assist you in limiting access to material that is harmful to minors. More information on the availability of such software can be found
			    through publicly available sources. You may wish to contact your Internet Service Provider for more information.
			</p>
			<p>
			    <strong>GENERAL</strong>
			    <br/>
			    <u>Severability</u>
			    . If any provision of this Agreement is found for any reason to be unlawful, void or unenforceable, then that provision will be given its maximum
			    enforceable effect, or shall be deemed severable from this Agreement and will not affect the validity and enforceability of any remaining provision.
			    <br/>
			    <u>No Partnership</u>
			    . You agree that no joint venture, partnership, employment, or agency relationship exists between you and us as a result of this Agreement or your use of
			    the Service.
			    <br/>
			    <u>Assignment</u>
			    . We may assign our rights under this Agreement, in whole or in part, to any person or entity at any time with or without your consent. You may not assign
			    the Agreement without our prior written consent, and any unauthorized assignment by you shall be null and void.
			    <br/>
			    <u>Attorneys’ Fees</u>
			    . In the event that we bring any litigation in connection with this Agreement, the prevailing party in such litigation shall be entitled to recover from
			    the other party all the reasonable costs, attorneys’ fees and other expenses incurred by such prevailing party in the litigation.
			    <br/>
			    <u>No Waiver</u>
			    . Our failure to enforce any provision of this Agreement shall in no way be construed to be a present or future waiver of such provision, nor in any way
			    affect the right of any party to enforce each and every such provision thereafter. The express waiver by us of any provision, condition or requirement of
			    this Agreement shall not constitute a waiver of any future obligation to comply with such provision, condition or requirement.
			    <br/>
			    <u>Notices</u>
			    . All notices given by you or required under this Agreement shall be in writing and addressed to: legal@fresconews.com.
			    <br/>
			    <u>Equitable Remedies</u>
			    . You hereby agree that we would be irreparably damaged if the terms of this Agreement were not specifically enforced, and therefore you agree that we
			    shall be entitled, without bond, other security, or proof of damages, to appropriate equitable remedies with respect to breaches of this Agreement, in
			    addition to such other remedies as we may otherwise have available to us under applicable laws.
			    <br/>
			    <u>Entire Agreement</u>
			    . This Agreement, including the documents expressly incorporated by reference, constitutes the entire agreement between you and us with respect to the
			    Service, and supersedes all prior or contemporaneous communications, whether electronic, oral or written.
			    <br/>
			    <br/>
			</p>
			<p>
			    <strong>
			        ADDITIONAL TERMS APPLICABLE TO iOS-POWERED SOFTWARE
			        <br/>
			    </strong>
			    In the event that you use the Service through software operating on iOS, the following additional terms apply:<strong></strong>
			</p>
			<p>
			    1. You acknowledge that these terms of use are concluded between you and us only, and not with Apple, Inc. (“Apple”). We, and not Apple, are solely
			    responsible for its iOS application and the services and materials available thereon.<strong></strong>
			</p>
			<p>
			    2. Your use of our iOS application is subject to the Usage Rules set forth in Apple’s then-current App Store Terms of Service.
			</p>
			<p>
			    3. You agree that Apple has no duty or obligation to provide support or maintenance services with respect to our iOS application.
			</p>
			<p>
			    4. To the maximum extent permitted by applicable law, Apple will have no warranty obligation with respect to our iOS application.
			</p>
			<p>
			    5. You agree that we, and not Apple, are responsible for addressing any claims by you or any third party relating to our iOS application or your possession
			    and/or use of our iOS application, including, but not limited to: (i) product liability claims; (ii) any claim that the application fails to conform to any
			    applicable legal or regulatory requirement; and (iii) claims arising under consumer protection or similar legislation.
			</p>
			<p>
			    6. You agree that Apple is not responsible for the investigation, defense, settlement and discharge of any third party intellectual property infringement
			    claim related to our iOS application or your possession and use of our iOS application.
			</p>
			<p>
			    7. You agree to comply with all applicable third party terms of agreement when using our iOS application, such as the terms of your wireless carrier, where
			    applicable.
			</p>
			<p>
			    8. The parties agree that Apple and Apple’s subsidiaries are third party beneficiaries to the terms of use applicable to our iOS application. Upon your
			    acceptance of the Terms of Service, Apple will have the right (and will be deemed to have accepted the right) to enforce the Agreement against you as a
			    third party beneficiary thereof.
			</p>
			<p>
			    <strong>COPYRIGHT POLICY </strong>
			    <br/>
			    If you believe in good faith that any material posted on or through our Service infringes the copyright in your work, please contact our copyright agent,
			    designated under the Digital Millennium Copyright Act (“DMCA”) (17 U.S.C. §512(c)(3)), with correspondence containing the following:<strong></strong>
			</p>
			<p>
			    · A physical or electronic signature of the owner, or a person authorized to act on behalf of the owner, of the copyright that is allegedly infringed;
			</p>
			<p>
			    · Identification of the copyrighted work claimed to have been infringed;
			</p>
			<p>
			    · Identification, with information reasonably sufficient to allow its location of the material that is claimed to be infringing;
			</p>
			<p>
			    · Information reasonably sufficient to permit us to contact you;
			</p>
			<p>
			    · A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent,
			    or the law; and,
			</p>
			<p>
			    · A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of
			    an exclusive right that is allegedly infringed.
			    <br/>
			    <br/>
			</p>
			<p>
			    You acknowledge that if you fail to comply with all of the requirements of this policy, your DMCA notice may not be valid. For any questions regarding this
			    procedure, or to submit a complaint, please contact our designated DMCA Copyright Agent:
			</p>
			<p>
			    Copyright Agent
			</p>
			<p>
			    Fresco News, Inc.
			</p>
			<p>
			    85 Broad St. #17.134
			</p>
			<p>
			    New York, NY 10004
			</p>
			<p>
			    e-mail: legal@fresconews.com
			</p>
			<p>
			    <br/>
			    <a name="complaint_policy"></a>
			    <strong>COMPLAINT POLICY (INCLUDING TRADEMARK AND PRIVACY)</strong>
			    <br/>
			    If you believe in good faith that any material posted on the Service infringes any of your rights other than in copyright, or is otherwise unlawful, you
			    must send a notice to legal@fresconews.com, containing the following information:
			</p>
			<p>
			    · Your name, physical address, e-mail address and phone number;
			</p>
			<p>
			    · A description of the material posted on the Site that you believe violates your rights or is otherwise unlawful, and which parts of said materials you
			    believe should be remedied or removed;
			</p>
			<p>
			    · Identification of the location of the material on the Site;
			</p>
			<p>
			    · If you believe that the material violates your rights, a statement as to the basis of the rights that you claim are violated;
			</p>
			<p>
			    · If you believe that the material is unlawful or violates the rights of others, a statement as to the basis of this belief;
			</p>
			<p>
			    · A statement under penalty of perjury that you have a good faith belief that use of the material in the manner complained of is not authorized and that
			    the information you are providing is accurate to the best of your knowledge and in good faith; and,
			</p>
			<p>
			    · Your physical or electronic signature.
			</p>
			<p>
			    If we receive a message that complies with all of these requirements, we will evaluate the submission, and if appropriate, in our sole discretion, we will
			    take action. We may disclose your submission to the poster of the claimed violative material, or any other party.
			</p>
		</div>

		<div id="privacy">
			<p class="p1"><span class="s1"><strong>PRIVACY POLICY</strong></span></p>
			<p class="p1"><span class="s1"><strong>Your Privacy Rights</strong></span></p>
			<p class="p2"><span class="s2">Effective Date: 1/31/16</span></p>
			<p class="p2"><span class="s2">This Privacy Policy describes the types of information gathered by Fresco News, Inc. (&ldquo;Fresco&rdquo;, &ldquo;us&rdquo; or &ldquo;we&rdquo;) in the process of providing this website, computing application, and the data, services, information, tools, functionality, updates and similar materials (collectively, the &ldquo;Service&rdquo;), how we use it, with whom the information may be shared, what choices are available to you regarding collection, use and distribution of information and our efforts to protect the information you provide to us through the Service. By using the Service, you hereby consent to allow us to process information in accordance with this Policy. Please also refer to our [Terms of Use], which are incorporated as if fully recited herein. Capitalized terms in this policy without definitions shall have their meanings from the Terms of Service.</span></p>
			<p class="p2"><span class="s2">This policy is subject to change. If our information retention or usage practices change, we will let you know by posting the Privacy Policy changes on the Service and/or otherwise making you aware of the changes. Please refer to the &ldquo;Effective Date&rdquo; above to see when this Policy was last updated.</span></p>
			<p class="p2"><span class="s2"><strong>Territoriality<br /> </strong>Regardless of where our servers are located, your personal data may be processed by us in the United States, where data protection and privacy regulations may or may not be to the same level of protection as in other parts of the world. BY VISITING THE WEBSITE AND USING THE SERVICE, YOU UNEQUIVOCALLY AND UNAMBIGUOUSLY CONSENT TO THE COLLECTION AND PROCESSING IN THE UNITED STATES OF ANY INFORMATION COLLECTED OR OBTAINED BY US THROUGH VOLUNTARY SUBMISSIONS, AND THAT U.S. LAW GOVERNS ANY SUCH COLLECTION AND PROCESSING.</span></p>
			<p class="p2"><span class="s2"><strong>Information Collected<br /> </strong>We collect two types of information about persons who use the Service: voluntarily provided personal information and automatically collected information.</span></p>
			<p class="p3"><span class="s2"><strong>Personal Information Collected<br /> </strong>We collect certain Personal Information about you, which may be supplied when you sign-up for the Service, when you complete a survey, when you create or update an account, when you use the Service, when you request services or otherwise when you submit such information. The information that may be collected includes:</span></p>
			<ul>
			<li class="li2"><span class="s2">Name;</span></li>
			<li class="li2"><span class="s2">Address;</span></li>
			<li class="li2"><span class="s2">Phone number;</span></li>
			<li class="li2"><span class="s2">Email;</span></li>
			<li class="li2"><span class="s2">Username;</span></li>
			<li class="li2"><span class="s2">Social Media account names and information;</span></li>
			<li class="li2"><span class="s2">Device identifiers;</span></li>
			<li class="li2"><span class="s2">Location data;</span></li>
			<li class="li2"><span class="s2">Social security numbers (if you earn over a certain amount through the Service);</span></li>
			</ul>
			<p class="p3"><span class="s2">Although the Service may ask for a payment card at times, we collect this information through a third-party payment processor, and we do not take possession of your card information.</span></p>
			<p class="p3"><span class="s2"><strong>Non-Personal Information<br /> </strong>Non-Personal Information is non-personally identifiable or anonymous information about you, including but not limited to age, gender, links and materials posted, enrolment history, the type of device you used and its operating system, the pages accessed most frequently, how pages are used, applications downloaded, search terms entered, and similar non-personal data. <br /> <br /> Automatically Tracking Internet Protocol (IP) addresses is one method of automatically collecting information about your activities online and information volunteered by you. An IP address is a number that is automatically assigned to your device whenever you surf the internet. Further, the Service may utilize web beacons, pixel tags, cookies, embedded links, and other commonly used information-gathering tools. The Service may also collect device identifiers.</span></p>
			<p class="p3"><span class="s2">Although it may be possible to turn off the collection of cookies through your device, that may interfere with your use of the Service.</span></p>
			<p class="p3"><span class="s2">The Service may request permission and access your photo gallery, camera roll or other device storage area holding your images, in order for you to upload and share content through the Service. </span></p>
			<p class="p2"><span class="s2"><strong>Use of Information</strong></span></p>
			<p class="p4"><span class="s2"><strong>Internal Use of Information<br /> </strong>We accept and gather information in an effort to provide the Service to you. We may also use this information to help us develop and improve our Service, fulfill your requests, send materials to you, inform you about our offers, tailor our Service to meet your interests, and for other purposes permitted by law. </span></p>
			<p class="p4"><span class="s2"><strong>Sharing Information Collected with Third Parties, Consultants, and Affiliates<br /> </strong>We may share personal information with our business associates, consultants, service providers, advisors and affiliates in order for them to provide services to us, to you, and to enable us to provide the Service. For example, our host and internet service provider may have access to this information.</span></p>
			<p class="p4"><span class="s2">We may disclose your profile, image and uploaded content as featured users on our service, for marketing purposes. We may also share non-personal information for marketing purposes.</span></p>
			<p class="p4"><span class="s2">We may incorporate your personal and non-personal information into an aggregate databases, using industry standard methodology to anonymize the data, and we may use such anonymous aggregate databases for our general business purposes, including sharing such databases and analysis derived therefrom with others. </span></p>
			<p class="p4"><span class="s2">If you use the Service to interact with other user, your personal and non-personal information may be shared with those other uses. Additionally, your profile pages will be public, and as such, any personal information you make available on those pages will be publicly available. </span></p>
			<p class="p4"><span class="s2">We may share your personal and non-personal information with Publishers that purchase licenses to your Content.</span></p>
			<p class="p4"><span class="s2"><strong>Location Information<br /> </strong>We are particularly sensitive to the storage and use of location data that we collect about individuals. Personal location data will be stored by Fresco using industry standard encryption methods, and in an anonymous way.</span></p>
			<p class="p4"><span class="s2">Your location will be shared only when you share it through the Service, when you respond to solicitations on the Service and when you share content on the Service.</span></p>
			<p class="p4"><span class="s2">In addition, material you share on the Service may include location information in its metadata, and by sharing such materials, you may be disclosing your present or prior location.</span></p>
			<p class="p4"><span class="s2"><strong>General Exemption<br /> </strong>Notwithstanding the foregoing, we may disclose personal and non-personal information to the extent we believe it necessary to comply with the law, such as in response to a subpoena or court order, to defend a legal claim or otherwise as permitted by applicable law. We may disclose any information in our possession in the event that we believe it necessary or appropriate to prevent criminal activity, personal injury, property damage or bodily harm. </span></p>
			<p class="p4"><span class="s2">Additionally, we may transfer your personal and non-personal to successor in interest, which may include but may not be limited to a third-party in the event of an acquisition, sale, merger or bankruptcy.</span></p>
			<p class="p2"><span class="s2"><strong>Links<br /> </strong>Our Service may contain links to other websites. We are not responsible for the privacy practices of such other sites. When you leave our Service to visit another website or application, please read the privacy statements of websites that may collect personally identifiable information. This Privacy Policy applies solely to information collected by us through the Service. </span></p>
			<p class="p2"><span class="s2"><strong>Security <br /> </strong>We employ procedural and technical safeguards to secure your personal information against loss, theft, alteration, and unauthorized access, use and disclosure. We also employ security procedures to protect your information from unauthorized access by users inside and outside the company.</span></p>
			<p class="p2"><span class="s2">Regardless of the precautions we take, no transmission of data over the internet is guaranteed to be completely secure. It may be possible for third parties not under our control to intercept or access transmissions or private communications unlawfully. While we strive to protect personal information, we cannot ensure or warrant the security of any information you transmit to us. </span></p>
			<p class="p2"><span class="s2"><strong>E-Mail and Electronic Newsletters<br /> </strong>We may offer electronic newsletters and e-mails concerning promotions, new products and services, or other marketing materials as a service to our users. You may receive newsletters and e-mails concerning promotions and marketing of ours, after you register through with the Service. If, after you have received a message, you no longer wish to receive such materials, you may opt-out by following the unsubscribe instructions included in each electronic newsletter and e-mail.&nbsp;</span></p>
			<p class="p2"><span class="s2"><strong>Access and Control<br /> </strong>Some of the information collected about you will be retrievable and changeable through your username login. To do so, follow instructions on the Service.&nbsp;</span></p>
			<p class="p2"><span class="s2"><strong>Communication Tools<br /> </strong>The Service may contain tools that enable you to share personal information, including sensitive information, with others, through social media and in other ways. Should you choose to use such tools, please exercise caution when sharing sensitive information. The Service will not share this information in this manner without you directing it to do so. </span></p>
			<p class="p2"><span class="s2"><strong>Do Not Track<br /> </strong>At this time, the Service does not specifically respond to do-not-track signals.</span></p>
			<p class="p2"><span class="s2"><strong>Children and Privacy<br /> </strong>We do not knowingly permit users to register for our Service if they are under 13 years old, and therefore do not request personally identifiable information from anyone under the age of 13. If we become aware that a customer is under the age of 13 and has registered without prior verifiable parental consent, we will remove his or her personally identifiable registration information from our files. If you are the parent or guardian of a person under the age of 13 who has provided personally identifiable information to us without your approval, please inform us by contacting us at the e-mail address below and we will remove such information from our database. </span></p>
			<p class="p2"><span class="s2"><strong>California Privacy Rights</strong></span><span class="s2">California law allows California residents to request information regarding our disclosures in the prior calendar year, if any, of their personally identifiable information to third parties. To make such a request, please contact us at legal@fresconews.com with "Request for Privacy Information" in the subject line. Please include enough detail for us to locate your file; at a minimum, your name, email, and username, if any. We will attempt to provide you with the requested information within thirty (30) days of receipt. We reserve our right not to respond to requests sent more than once in a calendar year, or requests submitted to an address other than the one posted in this notice. Please note that this law does not cover all information sharing. Our disclosure only includes information covered by the law.</span></p>
			<p class="p2"><span class="s2"><strong>Contact Information<br /> </strong>If you have any questions or suggestions regarding our Privacy Policy, please contact us via e-mail at legal@fresconews.com.</span></p>
		</div>
	</div>
</div>