<div class="modal press <%- active %>" id="_press">
	<div class="header">
		<h2>Fresco in the News</h2>
		
		<span data-event="landing" class="mdi mdi-close modal-action"></span>
	</div>
	
	<div class="body">
		<ul class="articles">
			<li>
				<div class="preview">
					<img />
				</div>
				<div class="meta">
					<a href=""><h3>Fresco News Raises $1.2 Million to Help Media Crowdsource Videos, Photos</h3></a>
					<p class="author">Lora Kolodny • Wall Street Journal</p>
					<div class="description">
						Fresco’s seed investors include Reese Schonfeld, a co-founder of CNN and the Food Network; former Yahoo CEO Ross Levinsohn; former AOL Chief Executive Jon Miller; Michael Jones, former Myspace CEO and currently CEO of Science Inc.; and Mediabistro founder Laurel Touby. Other investors are early-stage funds Fresco Capital, 1517 Fund, Social Starts and others.
					</div>
				</div>
			</li>
			<li>
				<div class="preview">
					<img />
				</div>
				<div class="meta">
					<h3>Fresco News Raises $1.2 Million to Help Media Crowdsource Videos, Photos</h3>
					<p class="author">Lora Kolodny • Wall Street Journal</p>
					<div class="description">
						Fresco’s seed investors include Reese Schonfeld, a co-founder of CNN and the Food Network; former Yahoo CEO Ross Levinsohn; former AOL Chief Executive Jon Miller; Michael Jones, former Myspace CEO and currently CEO of Science Inc.; and Mediabistro founder Laurel Touby. Other investors are early-stage funds Fresco Capital, 1517 Fund, Social Starts and others.
					</div>
				</div>
			</li>
			<li>
				<div class="preview">
					<img />
				</div>
				<div class="meta">
					<h3>Fresco News Raises $1.2 Million to Help Media Crowdsource Videos, Photos</h3>
					<p class="author">Lora Kolodny • Wall Street Journal</p>
					<div class="description">
						Fresco’s seed investors include Reese Schonfeld, a co-founder of CNN and the Food Network; former Yahoo CEO Ross Levinsohn; former AOL Chief Executive Jon Miller; Michael Jones, former Myspace CEO and currently CEO of Science Inc.; and Mediabistro founder Laurel Touby. Other investors are early-stage funds Fresco Capital, 1517 Fund, Social Starts and others.
					</div>
				</div>
			</li>
			<li>
				<div class="preview">
					<img />
				</div>
				<div class="meta">
					<h3>Fresco News Raises $1.2 Million to Help Media Crowdsource Videos, Photos</h3>
					<p class="author">Lora Kolodny • Wall Street Journal</p>
					<div class="description">
						Fresco’s seed investors include Reese Schonfeld, a co-founder of CNN and the Food Network; former Yahoo CEO Ross Levinsohn; former AOL Chief Executive Jon Miller; Michael Jones, former Myspace CEO and currently CEO of Science Inc.; and Mediabistro founder Laurel Touby. Other investors are early-stage funds Fresco Capital, 1517 Fund, Social Starts and others.
					</div>
				</div>
			</li>
			<li>
				<div class="preview">
					<img />
				</div>
				<div class="meta">
					<h3>Fuck</h3>
					<p class="author">Lora Kolodny • Wall Street Journal</p>
					<div class="description">
						Fresco’s seed investors include Reese Schonfeld, a co-founder of CNN and the Food Network; former Yahoo CEO Ross Levinsohn; former AOL Chief Executive Jon Miller; Michael Jones, former Myspace CEO and currently CEO of Science Inc.; and Mediabistro founder Laurel Touby. Other investors are early-stage funds Fresco Capital, 1517 Fund, Social Starts and others.
					</div>
				</div>
			</li>
			<li>
				<div class="preview">
					<img />
				</div>
				<div class="meta">
					<h3>Fuck</h3>
					<p class="author">Lora Kolodny • Wall Street Journal</p>
					<div class="description">
						Fresco’s seed investors include Reese Schonfeld, a co-founder of CNN and the Food Network; former Yahoo CEO Ross Levinsohn; former AOL Chief Executive Jon Miller; Michael Jones, former Myspace CEO and currently CEO of Science Inc.; and Mediabistro founder Laurel Touby. Other investors are early-stage funds Fresco Capital, 1517 Fund, Social Starts and others.
					</div>
				</div>
			</li>
			<li>
				<div class="preview">
					<img />
				</div>
				<div class="meta">
					<h3>Fuck</h3>
					<p class="author">Lora Kolodny • Wall Street Journal</p>
					<div class="description">
						Fresco’s seed investors include Reese Schonfeld, a co-founder of CNN and the Food Network; former Yahoo CEO Ross Levinsohn; former AOL Chief Executive Jon Miller; Michael Jones, former Myspace CEO and currently CEO of Science Inc.; and Mediabistro founder Laurel Touby. Other investors are early-stage funds Fresco Capital, 1517 Fund, Social Starts and others.
					</div>
				</div>
				
			</li>
		</ul>
	</div>

	<div class="modal-footer">
		<ul>
			<li>
				<a href="">
					<span class="mdi mdi-download"></span>
					<p>PRESS KIT PDF</p>
				</a>
			</li>
			<li>
				<a href="">
					<span class="mdi mdi-google-drive"></span>
					<p>FULL PRESS KIT</p>
				</a>
			</li>
		</ul>
	</div>
</div>