<div class="modal reset <%- active %>" id="_reset">
	<div class="header">
		<h2>Reset Password</h2>
	</div>
	
	<div class="body">
		<div class="form-wrap" id="_reset">
			<form id="reset-form">
				<input id="email" placeholder="New password" type="password" />
				<input name='utf-8' type='hidden' value='✓' />
				<input name="username" id="username" type="hidden" />
				<input name="token" id="token" type="hidden" />
				
				<input class="button" id="login_submit" type="submit" value="SAVE PASSWORD" />
			</form>
		</div>
	</div>
</div>