<%
    const submitText = hasOutlet ? 'SAVE PASSWORD & LOG IN' : 'SAVE PASSWORD';
%>

<div class="modal modal_window reset <%- active %>" id="_reset">
	<div class="header">
		<h2>Reset Password</h2>
	</div>
	
    <div class="body">
        <div class="form-wrap">
			<form id="reset-form">
                <input type="password" placeholder="Your new password" id="reset-password" />
                <input type="hidden" name="token" id="reset-token" value="<%- token %>" /> 
                <input type="hidden" value="<%- hasOutlet %>"  id="reset-hasOutlet" />              
                <input type="submit" class="button" value="<%- submitText %>" />
			</form>
		</div>
	</div>
</div>