<div class="modal reset <%- active %>" id="_reset">
	<div class="header">
		<h2>Reset Password</h2>
	</div>
	<div class="body">
		<div class='error' id='error'></div>
		<noscript>We apologize, but resetting your password requires javascript</noscript>
		<div class="form-wrap" id="_reset">
			<form id="reset-form" action='#' method='POST'>
				<input placeholder="Password" name="new_password" type="password" />
				<input name='utf-8' type='hidden' value='✓' />
				<input name="username" id="username" type="hidden" />
				<input name="token" id="token" type="hidden" />
				<input class="button" id="login_submit" type="submit" value="SAVE PASSWORD" />
			</form>
		</div>
	</div>
</div>

<script language='javascript' type='text/javascript'>
  <!--
  window.onload = function() {
    var urlParams = {};
    (function () {
        var pair, // Really a match. Index 0 is the full match; 1 & 2 are the key & val.
            tokenize = /([^&=]+)=?([^&]*)/g,
            // decodeURIComponents escapes everything but will leave +s that should be ' '
            re_space = function (s) { return decodeURIComponent(s.replace(/\+/g, " ")); },
            // Substring to cut off the leading '?'
            querystring = window.location.search.substring(1);

        while (pair = tokenize.exec(querystring))
           urlParams[re_space(pair[1])] = re_space(pair[2]);
    })();

    var base = 'https://www.parse.com';
    var id = urlParams['id'];
    document.getElementById('form').setAttribute('action', base + '/apps/' + id + '/request_password_reset');
    document.getElementById('username').value = urlParams['username'];

    document.getElementById('token').value = urlParams['token'];
    if (urlParams['error']) {
      document.getElementById('error').appendChild(document.createTextNode(urlParams['error']));
    }
  }
  //-->
</script>
