<div class="modal reset <%- active %>" id="_reset">
	<div class="header">
		<h2>Reset Password</h2>
	</div>
	
	<div class="body">
		<div class="form-wrap" id="_reset">
			<form id="reset-form">
				<input id="email" placeholder="New password" type="password" />
				
				<input class="button" id="login_submit" type="submit" action="/q/login" value="SAVE PASSWORD & LOG IN" />
			</form>
		</div>
	</div>
</div>