<div class="modal team <%- active %>" id="_team">
	<div class="header">
		<h2>Team</h2>
		
		<span data-event="landing" class="mdi mdi-close modal-action"></span>
	</div>
	
	<div class="body">
		<div class="banner">
			<img src="https://d1dw1p6sgigznj.cloudfront.net/index/team.jpg">
		</div>

		<div class="team-rows">
			<div class="row">
				<ul>
					<li>
						<div class="avatar">
							<img />
						</div>
						<div class="meta">
							<p class="name">John Meyer</p>
							<p class="title">Chief Exective Officer</p>
							<p class="handler">@beastmode</p>
						</div>
					</li>
					<li>
						<div class="avatar">
							<img />
						</div>
						<div class="meta">
							<p class="name">Jeremy Ogorek</p>
							<p class="title">Chief Exective Officer</p>
							<p class="handler">@beastmode</p>
						</div>
					</li>
					<li>
						<div class="avatar">
							<img />
						</div>
						<div class="meta">
							<p class="name">Kyle Marimon</p>
							<p class="title">Chief Exective Officer</p>
							<p class="handler">@beastmode</p>
						</div>
					</li>
				</ul>
			</div>
			
			<div class="row">
				<h3>Content</h3>
				
				<ul>
					<li>
						<div class="avatar">
							<img />
						</div>
						
						<div class="meta">
							<p class="name">John Meyer</p>
							<p class="title">Chief Exective Officer</p>
							<p class="handler">@beastmode</p>
						</div>
					</li>
					<li>
						<div class="avatar">
							<img />
						</div>
						<div class="meta">
							<p class="name">Jeremy Ogorek</p>
							<p class="title">Chief Exective Officer</p>
							<p class="handler">@beastmode</p>
						</div>
					</li>
					<li>
						<div class="avatar">
							<img />
						</div>
						<div class="meta">
							<p class="name">Kyle Marimon</p>
							<p class="title">Chief Exective Officer</p>
							<p class="handler">@beastmode</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>