<html>
	<head></head>
	<body>
		<div class="container">
			<div class="email-content">
				<div class="email-content__body">
					Hey \{{user}}!! - <br/><br/>
					<p>
						I just wanted to personally welcome you to Fresco! We built this to allow people such as yourself to gain a larger voice in your community, all while getting paid for it.
					</p>
					<p>
						<b>Here are some tips for getting the best out of Fresco:</b>
					</p>
					<ol>
						<li>Use our in-app camera! It provides real-time feedback on shooting videos that helps you take the best quality shots, increasing your chances of getting videos purchased by up to 300%.</li>
						<li>Watch our <a target="_blank" href="https://www.youtube.com/channel/UCZo9kkMn-AxZukBXYnWBqFw">tutorial videos</a>. They'll teach you how to shoot the variety of shots that you should submit when at a news event. It’ll only take you 5 min!</li>
						<li>Join our <a target="_blank" href="https://www.facebook.com/groups/903162316388581/">Facebook community group</a> to meet &amp; interact with other citizen journalists on the Fresco platform.</li>
					</ol>
					<p>
						Please me know if you have any questions!! I’ll personally respond to you within 12-24 hours.
					</p>
					<p>
						Can’t wait to see you on the news!
					</p>
					<br/>
					<h3>John H. Meyer</h3>
					<b>CEO</b><br/>
					<a target="_blank", href="http://www.twitter.com/BEASTMODE">@beastmode</a><br/>
					<a href="https://www.fresconews.com" target="_blank">
				        <img style="width: 240px" src="https://d1dw1p6sgigznj.cloudfront.net/images/wordmark-nav.png" alt="Fresco Logo"></img>
				    </a><br/>
					Watch: <a target="_blank" href="https://www.youtube.com/watch?v=qU8dk2iFDUw">Fresco in 30 seconds</a>
				</div>
			</div>
		</div>
	</body>
</html>
