<div class="card panel card-outlet-info">
	<input type="file" class="outlet-avatar" style="position:absolute;top:-100px" accept="image/png,image/jpeg" multiple>
	<div class="card-image">
		<div class="img" style="background-image:url('<%= avatar %>')"></div>
		<div class="img-overlay">
			<span class="mdi mdi-upload"></span>
		</div>
	</div>
	<div class="card-controls">
		<input type="text" class="outlet-name" placeholder="Outlet name" value="<%= title %>">
		<input type="text" class="outlet-website" placeholder="Website" value="<%= website %>">
		<textarea class="outlet-bio" rows="2" placeholder="Bio" value="<%= bio %>"></textarea>
		<button class="btn btn-flat outlet-info-save">SAVE CHANGES</button>
	</div>
</div>