<div class="card panel card-outlet-card">
	<div class="header">
		<span class="title">PAYMENT INFORMATION</span>
		<span>PURCHASE HISTORY</span>
		<% if (brand && last4 != null) { %><span class="current-card">USING-<%= brand %> <%= last4 %></span><% } %>
	</div>
	<div class="payment-content">
		<div>
			<div>
				<input class="form-control floating-label payment-ccn integer" placeholder="Card number" maxlength="16" tabindex="1">
			</div>
			<input class="form-control floating-label payment-name" placeholder="Name on card" tabindex="4">
		</div>
		<div>
			<div>
				<input class="form-control floating-label payment-exp" placeholder="00 / 00" maxlength="5" tabindex="2">
				<input class="form-control floating-label payment-cvv integer" placeholder="CVV" maxlength="4" tabindex="3">
			</div>
			<input class="form-control floating-label payment-zip" placeholder="ZIP" maxlength="5" tabindex="5">
		</div>
	</div>
	<button class="btn btn-flat outlet-card-save" tabindex="6">SAVE CHANGES</button>
</div>