*.scssc
.idea
dump.rdb
node_modules
app/server
uploads
sessions
cert/*
cert/DigiCertCA.crt
public/vendor
public/js/pages
public/css/page
public/css/pages
public/js/public.js
public/js/platform.js
public/css/public.css
public/css/platform.css
config/*.json
