<html>
	<head></head>
	<body>
		<div class="container">
			<div class="email-content">
				<div class="email-content__title">
					Assignment: \{{ assignment }}
				</div>
				<div class="email-content__body">
					Uh Oh! There was a problem with this assignment and it couldn't be approved! Contact Fresco News for more information!
				</div>
				{{> footer }}
			</div>
		</div>
	</body>
</html>
