<html>
	<head></head>
	<body>
		<div class="container">
			<div class="email-content">
				<div class="email-content__title">
					Statement
				</div>
				<div class="email-content__body">
					\{{{ table }}}
				</div>
				{{> footer }}
			</div>
		</div>
	</body>
</html>
