<html>
	<body>
		<div class="nav">
            <img src="https://d1dw1p6sgigznj.cloudfront.net/images/wordmark-foot.png" >
			<div>
				<h1>ASSIGNMENT REJECTED</h1>
			</div>
		</div>
    	<div class="content">
            Your assignment <b>{{ assignment }}</b> was rejected.  {{ reason}}
            <br><br>
            Please feel free to contact support@fresconews.com with any questions or concerns.
		</div>
	</body>
</html>
