<% include segments/head %>

<%
	console.log(err);
 %>

<div class="wrapper">

	<% include segments/nav %>

	<div class="error page">
		<div>
			<h1><%= err.code %></h1>
			<h3><%= err.message %></h3>
		</div>
	</div>

	<% include segments/footer %>
	
</div>

<% include segments/scripts %>