<!DOCTYPE html>
<html>
<head>
	<title>Fresco News</title>
	<meta name="description" content="Photos and videos from real people on the scenes of breaking news events.">
	<meta name="keywords" content="news, photojournalism, photography, crowdsourced, app, iphone, android">
	<meta name="reply-to" content="info@fresconews.com">
	<meta name="copyright" content="Fresco News">
	<meta name="web_author" content="Fresco Product">
	<meta name="language" content="english">
	<meta name="robots" content="index, nofollow">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="shortcut icon" type="image/png" content="https://d1dw1p6sgigznj.cloudfront.net/images/icon-favicon.png">
	<link rel="image_src" type="image/png" content="https://d1dw1p6sgigznj.cloudfront.net/images/icon-generic.png">
	<!-- resources -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/materialdesignicons.min.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/slick.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
</head>
<body>
	<nav>
		<a href="/"><img alt="Fresco" src="https://d1dw1p6sgigznj.cloudfront.net/images/wordmark-nav.png"></a>
		<ul>
			<%
				if (typeof(user) !== 'undefined'){
			%>
				<li><a href="/highlights">DASHBOARD</a></li>
			<%
				}
			%>
		</ul>
	</nav>
	<section class="dark" id="hero" style="height: 90vh;">
		<div>
			<h1><%= error_code %></h1><h3><%= error_message %></h3>
		</div>
	</section>
	<!-- footer -->
	<footer class="dark" style="
	    position: fixed;
	    bottom:  0;
	    right: 0;
	    left: 0;
	">
		<div>
			<img class="lazy" src="https://d1dw1p6sgigznj.cloudfront.net/images/wordmark-foot.png">
			<p>
				Fresco News Inc.<br>
				85 Broad St #17.134<br>
				New York, NY 10004
			</p>
		</div>
		<div>
			<span>&copy;2015 Fresco News Inc.</span>
		</div>
		<div>
			<ul>
				<li><a class="mdi mdi-twitter" href="https://twitter.com/fresconews/" target="_blank"></a></li>
				<li><a class="mdi mdi-facebook-box" href="https://facebook.com/fresconews/" target="_blank"></a></li>
				<li><a class="mdi mdi-instagram" href="https://instagram.com/fresconews/" target="_blank"></a></li>
			</ul>
			<ul>
				<li data-toggle-id="team" data-toggle-role="controller" data-toggle-action="enable">Team</li>
				<li><a href="https://d1dw1p6sgigznj.cloudfront.net/pdf/press.pdf" target="_blank">Press Kit</a></li>
			</ul>
		</div>
	</footer>
	<%- include('segments/team') %>
	<script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/vendor/jquery_lazyload/jquery.lazyload.js"></script>
	<script type="text/javascript" src="/vendor/jquery.transit/jquery.transit.js"></script>
	<script type="text/javascript" src="/javascripts/toggle.js"></script>
</body>
</html>
