<% include segments/head %>

<div class="wrapper">

	<% include segments/nav %>

	<div class="error page">
		<div>
			<h1><%= err.status %></h1>
			<h3><%= err.message %></h3>
            <h3><%= err.stack %></h3>
		</div>
	</div>

	<% include segments/footer %>
	
</div>

<% include segments/scripts %>