<% include segments/head %>
	
	<div id="app" class="wrapper"><%- react %></div>

<!--Components-->
<%- include('segments/gallery-create') %>
<!--Scripts-->
<%- include('segments/scripts') %>
</body>
</html>