<% include segments/head %>
	
	<%- include('segments/sidebar', { user : user, config : config}) %>

	<div class="col-md-12 col-lg-10" id="page"></div>

</div>
<!--Components-->
<%- include('segments/gallery-create') %>
<!--Scripts-->
<%- include('segments/scripts') %>
</body>
</html>