<% include segments/head %>

	<div id="app" class="wrapper"><%- react %></div>

<!--Scripts-->
<%- include('segments/scripts') %>
<style>
	.meta-description, .meta-user, .meta-list {
		-webkit-user-select: text;
		-moz-user-select: text;
		-ms-user-select: text;
		user-select: text;
	}
</style>
</body>
</html>