<% include segments/head %>
	
	<header> <!--pending background image-->
		<span class="head">Be a photojournalist on your time with</span>
		
		<img src="https://d1dw1p6sgigznj.cloudfront.net/images/wordmark-ad.png" align="middle">
	</header>
	
	<main>
		<figure class="card">
			<img src="https://d1dw1p6sgigznj.cloudfront.net/images/dispatch@2x.png">
			
			<figcaption class="secondary">
				Fresco notifies you about nearby breaking news events when news outlets need photos and videos for their coverage. When a news outlet uses your content, you get paid instantly!
				<div class="head secondary iconfix">
					$20/<span class="mdi mdi-file-image-box"></span> &bull; $50/<span class="mdi mdi-movie"></span>
				</div>
			</figcaption>
		</figure>
		
		<article class="card">
			<header class="head">
				How to get started
			</header>
			<table>
				<tr>
					<td>
						<span class="mdi mdi-checkbox-marked-circle-outline"></span>
					</td>
					<td>
						Have an iPhone 5S or newer
					</td>
				</tr>
				<tr>
					<td>
						<span class="mdi mdi-checkbox-blank-circle-outline"></span>
					</td>
					<td>
						Download Fresco for iOS
					</td>
				</tr>
				<tr>
					<td>
						<span class="mdi mdi-checkbox-blank-circle-outline"></span>
					</td>
					<td>
						Start responding to assignments!
					</td>
				</tr>
			</table>
			<div>
				<a href="https://itunes.apple.com/app/apple-store/id872040692?pt=83522801&ct=FacebookAd112&mt=8" target="_blank">
					<img src="https://d1dw1p6sgigznj.cloudfront.net/images/store-apple.svg">
				</a>
			</div>
		</article>
	</main>
	
	<%- include('segments/footer') %>

</body>
</html>