<!DOCTYPE html>
<html>
<head>
	<title>Fresco News</title>
	<meta name="description" content="Photos and videos from real people on the scenes of breaking news events.">
	<meta name="keywords" content="news, photojournalism, photography, crowdsourced, app, iphone, android">
	<meta name="reply-to" content="info@fresconews.com">
	<meta name="copyright" content="Fresco News">
	<meta name="web_author" content="Fresco Product">
	<meta name="language" content="english">
	<meta name="robots" content="index, nofollow">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="shortcut icon" type="image/png" content="https://d1dw1p6sgigznj.cloudfront.net/images/icon-favicon.png">
	<link rel="image_src" type="image/png" content="https://d1dw1p6sgigznj.cloudfront.net/images/icon-generic.png">
	<!-- facebook -->
	<meta property="og:title" content="Fresco News">
	<meta property="og:image" content="https://d1dw1p6sgigznj.cloudfront.net/images/icon-opengraph.png">
	<meta property="og:url" content="http://fresconews.com/">
	<meta property="og:description" content="Photos and videos from real people on the scenes of breaking news events.">
	<meta property="og:locale" content="en_US">
	<meta property="fb:app_id" content="267157383448416">
	<meta property="fb:admins" content="1160814652"> <!--imogen-->
	<meta property="fb:admins" content="578765921"> <!--john-->
	<meta property="fb:admins" content="1337647648"> <!--elmir-->
	<!-- twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@fresconews">
	<meta name="twitter:creator" content="@fresconews">
	<meta name="twitter:title" content"Fresco News">
	<meta name="twitter:description" content="Photos and videos from real people on the scenes of breaking news events.">
	<meta name="twitter:image" content="https://d1dw1p6sgigznj.cloudfront.net/images/icon-twitter.png">
	<meta name="twitter:app:country" content="US">
	<meta name="twitter:app:name:iphone" content="Fresco News">
	<meta name="twitter:app:id:iphone" content="872040692">
	<meta name="twitter:app:url:iphone" content="fresco://">
	<!-- apple -->
	<meta name="apple-mobile-web-app-title" content="Fresco">
	<link rel="apple-touch-icon" type="image/png" href="https://d1dw1p6sgigznj.cloudfront.net/images/icon-apple.png">
	<meta name="apple-itunes-app" content="app-id=872040692, app-argument=fresco://">
	<!-- resources -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/materialdesignicons.min.css"/>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/stylesheets/promo.css">
</head>
<body>
	<header> <!--pending background image-->
		<span class="head">Be a photojournalist on your time with</span>
		<img src="https://d1dw1p6sgigznj.cloudfront.net/images/wordmark-ad.png" align="middle">
	</header>
	<main>
		<figure class="card">
			<img src="https://d1dw1p6sgigznj.cloudfront.net/images/dispatch@2x.png">
			<figcaption class="secondary">
				Fresco notifies you about nearby breaking news events when news outlets need photos and videos for their coverage. When a news outlet uses your content, you get paid instantly!
				<div class="head secondary iconfix">
					$20/<span class="mdi mdi-file-image-box"></span> &bull; $50/<span class="mdi mdi-movie"></span>
				</div>
			</figcaption>
		</figure>
		<article class="card">
			<header class="head">
				How to get started
			</header>
			<table>
				<tr>
					<td>
						<span class="mdi mdi-checkbox-marked-circle-outline"></span>
					</td>
					<td>
						Have an iPhone 5S or newer
					</td>
				</tr>
				<tr>
					<td>
						<span class="mdi mdi-checkbox-blank-circle-outline"></span>
					</td>
					<td>
						Download Fresco for iOS
					</td>
				</tr>
				<tr>
					<td>
						<span class="mdi mdi-checkbox-blank-circle-outline"></span>
					</td>
					<td>
						Start responding to assignments!
					</td>
				</tr>
			</table>
			<div>
				<a href="https://itunes.apple.com/us/app/fresco-news/id872040692?mt=8" target="_blank">
					<img src="https://d1dw1p6sgigznj.cloudfront.net/images/store-apple.svg">
				</a>
			</div>
		</article>
		<form class="card">
			<header class="head">
				Want to get more involved?
			</header>
			<div>
				<p class="secondary">
					We're looking for photographers who can take Fresco to the next level in markets all over the US. Get in touch and we'll see how we can work together.
				</p>
				<input name="message" type="email" placeholder="Email address" required>
				<input type="submit">
			</div>
		</form>
	</main>
</body>
</html>