<html style="font-family: 'Roboto', sans-serif">

    <body style="margin:10px auto;text-align:center;">

        <img style="display: block;margin:40px auto 0;max-width:300px;" src="https://d1dw1p6sgigznj.cloudfront.net/images/wordmark-news.png"/>

        <h2>Assignment: \{{ assignment }}</span></h2>

        <p stlye="max-width:250px;margin:0 auto;">Uh Oh! There was a problem with this assignment and it couldn't be approved! Contact Fresco News for more information!

        </p>

    </body>

</html>
