<html>
	<head></head>
	<body>
		<div class="container">
			<div class="email-content">
				<div class="email-content__title">
					New Credit
				</div>
				<div class="email-content__body">
					Your outlet <i>\{{ outlet }}</i> now has <b>$\{{ amount }}</b> of free credit on Fresco News!  You can use this money to pay for your content, and don't pay a dime until you run out!
				</div>
				{{> footer }}
			</div>
		</div>
	</body>
</html>
