/* Sass Document */
/*-----------------------------------------------------------------------------------

Copyright 2016 Fresco News, Inc. All Rights Reserved.

-------------------------------------------------------------------------------------*/
/* Sass Document */
/*-----------------------------------------------------------------------------------

Copyright 2016 Fresco News, Inc. All Rights Reserved.

-------------------------------------------------------------------------------------*/
/**
 * Border Radius
 * @param  {[type]} $radius Radius to set to 
 */
/**
 * Shadow
 * @param  {[type]} $radius Radius to set to 
 */
/**
 * CSS3 Transition
 */
/**
 * Placeholder color mixin
 */
/**
 * CSS3 Transform
 */
/* Sass Document */
/*-----------------------------------------------------------------------------------

Copyright 2016 Fresco News, Inc. All Rights Reserved.

-------------------------------------------------------------------------------------*/
/* Sass Document */
/*-----------------------------------------------------------------------------------

Copyright 2016 Fresco News, Inc. All Rights Reserved.

-------------------------------------------------------------------------------------*/
/**
 * Border Radius
 * @param  {[type]} $radius Radius to set to 
 */
/**
 * Shadow
 * @param  {[type]} $radius Radius to set to 
 */
/**
 * CSS3 Transition
 */
/**
 * Placeholder color mixin
 */
/**
 * CSS3 Transform
 */
.left, .right {
  float: left;
  max-width: 590px; }

.centered {
  margin: auto;
  max-width: 624px; }
  .centered .left, .centered .right {
    float: none; }

/**
 * Styles for settings containers
 */
@media screen and (max-width: 1406px) {
  .outlet-settings, .user-settings {
    max-width: 624px;
    margin: auto; } }

.quick-support {
  margin: 24px 0 24px 40px;
  float: left;
  clear: both; }
  .quick-support h3 {
    font-size: 14px;
    font-weight: 500;
    margin: 12px auto 20px;
    color: black;
    color: rgba(0, 0, 0, 0.54); }
  .quick-support ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .quick-support ul li span {
      vertical-align: middle;
      margin-right: 34px;
      font-size: 24px;
      color: black;
      color: rgba(0, 0, 0, 0.54); }
    .quick-support ul li a {
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      vertical-align: middle; }

.card {
  margin: 24px 0 0 24px;
  width: 560px;
  float: left;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12); }
  .card .header {
    height: 48px;
    padding: 16px;
    font-size: 14px;
    border-bottom: 1px solid;
    border-color: black;
    border-color: rgba(0, 0, 0, 0.12); }
    .card .header .title {
      font-weight: 500;
      text-align: left;
      text-transform: uppercase;
      color: black;
      color: rgba(0, 0, 0, 0.54); }
  .card .card-form {
    overflow: auto; }
    .card .card-form input, .card .card-form textarea {
      border: none;
      resize: none;
      display: block;
      padding: 14px 16px; }
    .card .card-form button {
      text-align: right;
      margin: 0;
      height: 48px;
      padding: 14px 16px;
      width: 100%; }
    .card .card-form input[type="text"] {
      height: 48px; }
    .card .card-form input[type="file"] {
      display: none; }
    .card .card-form .changed {
      color: #0047BB; }
  .card .footer {
    border-top: 1px solid;
    padding: 0 16px;
    border-color: black;
    border-color: rgba(0, 0, 0, 0.12);
    height: 48px; }
    .card .footer input {
      border: none;
      height: 100%;
      width: 100%; }
  .card .empty-title {
    font-size: 14px;
    padding: 20px 16px;
    font-weight: 400;
    margin: 0;
    color: black;
    color: rgba(0, 0, 0, 0.54); }

/**
 * Meta Card Info for outlet
 */
.settings-info {
  height: 240px; }
  .settings-info div {
    float: left; }
  .settings-info .card-form {
    width: 320px; }
    .settings-info .card-form input, .settings-info .card-form textarea {
      border-bottom: 1px solid;
      border-color: black;
      border-color: rgba(0, 0, 0, 0.12); }
    .settings-info .card-form input, .settings-info .card-form textarea, .settings-info .card-form button {
      width: 100%; }
    .settings-info .card-form textarea {
      height: 96px; }
    .settings-info .card-form input[type="file"] {
      display: none; }
  .settings-info .avatar {
    float: left;
    width: 240px;
    height: 240px;
    background-repeat: no-repeat;
    background-size: cover; }
    .settings-info .avatar .overlay {
      width: 100%;
      height: 100%;
      background: #000;
      cursor: pointer;
      background: black;
      background: rgba(0, 0, 0, 0.54);
      position: relative; }
      .settings-info .avatar .overlay span {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFF;
        margin: 0 auto;
        width: 95px;
        height: 100%;
        font-size: 96px;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.24); }

/*
	Ugly fix for bootstrap for this specfic page
 */
.col-md-12.col-lg-10 {
  overflow: auto; }

/*
	Outlet Settings Wrapper
 */
.outlet-settings {
  padding: 64px 0 20px; }

/*
	Card Overrides
*/
.card .header {
  padding: 14px 16px; }

/*
	Payment Card
 */
.settings-outlet-payment {
  height: 228px; }
  .settings-outlet-payment .header {
    text-transform: uppercase; }
    .settings-outlet-payment .header div {
      float: right; }
      .settings-outlet-payment .header div a {
        color: black;
        color: rgba(0, 0, 0, 0.87); }
      .settings-outlet-payment .header div .last4 {
        font-weight: 500;
        color: #4cd764;
        margin-right: 14px;
        text-align: right; }
  .settings-outlet-payment .card-form .inputs {
    padding: 15px 18px 8px 18px;
    overflow: auto;
    margin: 0 auto 11px; }
    .settings-outlet-payment .card-form .inputs input[type="text"] {
      padding: 4px 0;
      height: 40px; }
    .settings-outlet-payment .card-form .inputs .left, .settings-outlet-payment .card-form .inputs .right {
      float: left; }
    .settings-outlet-payment .card-form .inputs .left {
      padding-right: 18px;
      width: 342px; }
      .settings-outlet-payment .card-form .inputs .left input:first-of-type {
        margin: 0 auto 18px; }
    .settings-outlet-payment .card-form .inputs .right {
      width: 182px; }
      .settings-outlet-payment .card-form .inputs .right .ccv, .settings-outlet-payment .card-form .inputs .right .date {
        margin: 0 auto 18px;
        width: 83px;
        float: left; }
      .settings-outlet-payment .card-form .inputs .right .date {
        margin: 0 16px 18px 0; }
  .settings-outlet-payment .card-form button {
    width: 100%;
    border-top: 1px solid;
    border-color: black;
    border-color: rgba(0, 0, 0, 0.12); }

/*
	Members Card
 */
.settings-outlet-members .outlet-members-container ul {
  padding: 0;
  margin: 0;
  list-style: none;
  max-height: 260px;
  overflow: auto; }
  .settings-outlet-members .outlet-members-container ul li {
    height: 72px;
    padding: 0 16px; }
    .settings-outlet-members .outlet-members-container ul li .info, .settings-outlet-members .outlet-members-container ul li .pending-info {
      float: left;
      position: relative;
      top: 14px; }
    .settings-outlet-members .outlet-members-container ul li .info .name {
      margin: 0;
      font-size: 16px;
      line-height: 24px;
      color: black;
      color: rgba(0, 0, 0, 0.87); }
    .settings-outlet-members .outlet-members-container ul li .info .email, .settings-outlet-members .outlet-members-container ul li .info .phone {
      font-size: 13px;
      color: black;
      color: rgba(0, 0, 0, 0.54); }
    .settings-outlet-members .outlet-members-container ul li .pending-info .email {
      position: relative;
      font-size: 16px;
      line-height: 24px;
      display: block;
      color: black;
      color: rgba(0, 0, 0, 0.87); }
    .settings-outlet-members .outlet-members-container ul li .pending-info .subtext {
      font-size: 13px;
      line-height: 20px;
      color: black;
      color: rgba(0, 0, 0, 0.54); }
    .settings-outlet-members .outlet-members-container ul li .delete-member, .settings-outlet-members .outlet-members-container ul li .cancel, .settings-outlet-members .outlet-members-container ul li .resend {
      float: right;
      position: relative;
      font-weight: 500; }
    .settings-outlet-members .outlet-members-container ul li .delete-member {
      font-size: 24px;
      top: 24px;
      right: 10px;
      cursor: pointer;
      color: black;
      color: rgba(0, 0, 0, 0.54); }
    .settings-outlet-members .outlet-members-container ul li .cancel, .settings-outlet-members .outlet-members-container ul li .resend {
      top: 29px;
      font-size: 12px;
      cursor: pointer; }
    .settings-outlet-members .outlet-members-container ul li .cancel {
      color: rgba(0, 0, 0, 0.87); }
    .settings-outlet-members .outlet-members-container ul li .resend {
      margin-right: 16px;
      color: #0047bb; }

/*
	Locations Card
 */
.settings-outlet-locations .labels, .settings-outlet-notifications .labels {
  float: right;
  font-weight: 500;
  color: black;
  color: rgba(0, 0, 0, 0.54); }
  .settings-outlet-locations .labels span, .settings-outlet-notifications .labels span {
    margin-left: 15px; }

.settings-outlet-locations ul, .settings-outlet-notifications ul {
  padding: 0;
  margin: 0;
  list-style: none;
  max-height: 260px;
  overflow: auto; }
  .settings-outlet-locations ul li, .settings-outlet-notifications ul li {
    height: 72px;
    padding: 0 16px; }
    .settings-outlet-locations ul li .info, .settings-outlet-notifications ul li .info {
      float: left;
      position: relative;
      top: 14px; }
    .settings-outlet-locations ul li.notification .title, .settings-outlet-notifications ul li.notification .title {
      margin: 0;
      font-size: 16px;
      line-height: 24px;
      color: black;
      color: rgba(0, 0, 0, 0.87); }
    .settings-outlet-locations ul li.notification .description, .settings-outlet-notifications ul li.notification .description {
      font-size: 13px;
      line-height: 20px;
      color: black;
      color: rgba(0, 0, 0, 0.54); }
    .settings-outlet-locations ul li.location a, .settings-outlet-notifications ul li.location a {
      font-weight: inherit; }
    .settings-outlet-locations ul li.location .area, .settings-outlet-notifications ul li.location .area {
      margin: 0;
      font-size: 16px;
      line-height: 24px;
      max-width: 260px;
      font-weight: 400;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: black;
      color: rgba(0, 0, 0, 0.87); }
    .settings-outlet-locations ul li.location .count, .settings-outlet-notifications ul li.location .count {
      font-size: 13px;
      font-weight: regular;
      color: black;
      color: rgba(0, 0, 0, 0.54); }

.settings-outlet-locations .location-options, .settings-outlet-locations .notification-options, .settings-outlet-notifications .location-options, .settings-outlet-notifications .notification-options {
  float: right;
  position: relative;
  top: 24px; }
  .settings-outlet-locations .location-options span, .settings-outlet-locations .location-options input, .settings-outlet-locations .location-options .checkbox, .settings-outlet-locations .notification-options span, .settings-outlet-locations .notification-options input, .settings-outlet-locations .notification-options .checkbox, .settings-outlet-notifications .location-options span, .settings-outlet-notifications .location-options input, .settings-outlet-notifications .location-options .checkbox, .settings-outlet-notifications .notification-options span, .settings-outlet-notifications .notification-options input, .settings-outlet-notifications .notification-options .checkbox {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative; }
  .settings-outlet-locations .location-options .remove-location, .settings-outlet-locations .notification-options .remove-location, .settings-outlet-notifications .location-options .remove-location, .settings-outlet-notifications .notification-options .remove-location {
    cursor: pointer;
    font-size: 24px;
    color: black;
    color: rgba(0, 0, 0, 0.54);
    position: relative;
    margin-right: 65px; }
  .settings-outlet-locations .location-options .checkbox, .settings-outlet-locations .notification-options .checkbox, .settings-outlet-notifications .location-options .checkbox, .settings-outlet-notifications .notification-options .checkbox {
    margin: 0;
    width: 24px; }
    .settings-outlet-locations .location-options .checkbox .checkbox-material, .settings-outlet-locations .notification-options .checkbox .checkbox-material, .settings-outlet-notifications .location-options .checkbox .checkbox-material, .settings-outlet-notifications .notification-options .checkbox .checkbox-material {
      margin: 0; }
    .settings-outlet-locations .location-options .checkbox.check-sms, .settings-outlet-locations .notification-options .checkbox.check-sms, .settings-outlet-notifications .location-options .checkbox.check-sms, .settings-outlet-notifications .notification-options .checkbox.check-sms {
      margin-right: 27px; }
    .settings-outlet-locations .location-options .checkbox.check-email, .settings-outlet-locations .notification-options .checkbox.check-email, .settings-outlet-notifications .location-options .checkbox.check-email, .settings-outlet-notifications .notification-options .checkbox.check-email {
      margin-right: 35px; }
    .settings-outlet-locations .location-options .checkbox.check-fresco, .settings-outlet-locations .notification-options .checkbox.check-fresco, .settings-outlet-notifications .location-options .checkbox.check-fresco, .settings-outlet-notifications .notification-options .checkbox.check-fresco {
      margin-right: 10px; }

.settings-outlet-locations .footer, .settings-outlet-notifications .footer {
  padding: 0 16px; }
  .settings-outlet-locations .footer .sub-title, .settings-outlet-notifications .footer .sub-title {
    color: black;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
    margin-right: 20px;
    float: right;
    top: 13px;
    position: relative; }
  .settings-outlet-locations .footer .location-options, .settings-outlet-locations .footer .notification-options, .settings-outlet-notifications .footer .location-options, .settings-outlet-notifications .footer .notification-options {
    top: -10px; }
  .settings-outlet-locations .footer input[type="text"], .settings-outlet-notifications .footer input[type="text"] {
    width: 50%;
    height: 48px;
    float: left;
    position: absolute;
    padding-right: 10px; }

/*
	User (Outlet) Notification Settings
 */
