<!DOCTYPE html>
<html>
<head>
	<title>Password Changed | Fresco News</title>
	<meta name="viewport" content="width=device-width, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,500">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/materialdesignicons.min.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/snackbar.min.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
	
	<style>
		html {
			height: 100%;
		}
		a:hover {
			text-decoration: none;
		}
		div.row {
			width: 572px;
		}
		footer {
			position: absolute;
			bottom: 0;
			width: 100%;
		}
		.section {
			padding-bottom: 16px;
		}
		#wordmark {
			padding: 12px 12px;
		}
		form {
			margin-top: 24px;
		}
		form > input {
			display: block;
			width: 240px;
			padding: 4px 0;
			background-color: transparent;
			border-style: none; 
		}
		form > input[type="text"], form > input[type="password"] {
			border-bottom: 1px solid rgba(0, 0, 0, 0.12); 
		}
		form > input[type="text"]:-moz-placeholder, form > input[type="password"]:-moz-placeholder {
			color: rgba(0, 0, 0, 0.26); 
		}
		form > input[type="text"]::-moz-placeholder, form > input[type="password"]::-moz-placeholder {
			color: rgba(0, 0, 0, 0.26);
		}
		form > input[type="text"]:-ms-input-placeholder, form > input[type="password"]:-ms-input-placeholder {
			color: rgba(0, 0, 0, 0.26);
		}
		form > input[type="text"]::-webkit-input-placeholder, form > input[type="password"]::-webkit-input-placeholder {
			color: rgba(0, 0, 0, 0.26);
		}
		form > input[type="text"]:focus, form > input[type="password"]:focus {
			margin-bottom: -1px;
			outline: 0;
			border-bottom: 2px solid rgba(0, 0, 0, 0.87);
		}
		form > input[type="submit"] {
			text-align: right;
			color: rgba(0, 0, 0, 0.54);
			font-weight: 700;
			font-size: 24px;
			text-transform: uppercase;
			font-family: "Nota", sans-serif;
		}
		form > input[type="submit"]:hover {
			color: #000;
		}
		form > input:not(:first-child) {
			margin-top: 24px;
		}
		form > a {
			position: relative;
			top: 4px;
			font-size: 12px;
		}
	</style>
</head>
<body>
	<nav>
		<a id="wordmark" href="/"><img alt="Fresco" src="https://d1dw1p6sgigznj.cloudfront.net/images/wordmark-nav.png"></a>
  </nav>
	<section>
		<div class="row">
      		<h3>Your password has successfully been changed!</h3>
			<form id="login-form" method="POST" action="/login">
				<input type="text" id="login-email" class="email" placeholder="Email address" spellcheck="false">
				<input type="password" id="login-password" placeholder="Password" spellcheck="false">
				<input type="submit" value="Log in">
			</form>
		</div>
	</section>
	<!-- footer -->
	<%- include('../segments/footer') %>
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/toggle.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="/javascripts/material.min.js"></script>
	<script type="text/javascript" src="/javascripts/snackbar.min.js"></script>
	<script type="text/javascript" src="/javascripts/fresco.js"></script>
	<script type="text/javascript">
		$('#login-form').on('submit', function(evt){
			evt.preventDefault();
			
			var errDialog = $('#login-err'),
				emailInput = document.getElementById('login-email'),
				passInput = document.getElementById('login-password');
				
			if (errDialog.css('display') != 'none')
				errDialog.slideUp();
				
			if (emailInput.value == '' && emailInput.className.indexOf('error') == -1){
				emailInput.className += ' error';
				return false;
			}
			if (passInput.value == '' && passInput.className.indexOf('error') == -1){
				passInput.className += ' error';
				return false;
			}
			
			$.ajax({
				url: "/scripts/user/login",
				type: 'POST',
				data: {
					email: emailInput.value,
					password: passInput.value
				},
				dataType: 'json',
				success: function(result, status, xhr){
					if (result.err)
						return this.error(null, null, result.err);
					
					window.location.replace('/highlights');
				},
				error: function(xhr, status, error){
					switch(error){
						case 'Unauthorized':
						case 'ERR_UNAUTHORIZED':
							$.snackbar({content: 'Invalid username or password'});
							break;
						default:
							$.snackbar({content: resolveError(error)});
					}
				}
			});
			
			return false;
		});
	</script>
</body>
</html>