<!DOCTYPE html>
<html>
<head>
	<title>Reset Password | Fresco News</title>
	<meta name="viewport" content="width=device-width, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,500">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/materialdesignicons.min.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/snackbar.min.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
	
	<style>
		a:hover {
			text-decoration: none;
		}
		div.row {
      		width: auto !important;
			max-width: 322px;
		}
		footer {
			position: absolute;
			bottom: 0;
			width: 100%;
		}
		.section {
			padding-bottom: 16px;
		}
		#wordmark {
			padding: 12px 12px;
		}
		form {
			margin-top: 24px;
		}
		form > input {
			display: block;
			width: 272px;
			padding: 4px 0;
			background-color: transparent;
			border-style: none; 
		}
		form > input[type="text"], form > input[type="password"] {
			border-bottom: 1px solid rgba(0, 0, 0, 0.12); 
		}
		form > input[type="text"]:-moz-placeholder, form > input[type="password"]:-moz-placeholder {
			color: rgba(0, 0, 0, 0.26); 
		}
		form > input[type="text"]::-moz-placeholder, form > input[type="password"]::-moz-placeholder {
			color: rgba(0, 0, 0, 0.26);
		}
		form > input[type="text"]:-ms-input-placeholder, form > input[type="password"]:-ms-input-placeholder {
			color: rgba(0, 0, 0, 0.26);
		}
		form > input[type="text"]::-webkit-input-placeholder, form > input[type="password"]::-webkit-input-placeholder {
			color: rgba(0, 0, 0, 0.26);
		}
		form > input[type="text"]:focus, form > input[type="password"]:focus {
			margin-bottom: -1px;
			outline: 0;
			border-bottom: 2px solid rgba(0, 0, 0, 0.87);
		}
		form > input[type="submit"] {
			text-align: right;
			color: rgba(0, 0, 0, 0.54);
			font-weight: 700;
			font-size: 24px;
			text-transform: uppercase;
			font-family: "Nota", sans-serif;
		}
		form > input[type="submit"]:hover {
			color: #000;
		}
		form > input:not(:first-child) {
			margin-top: 24px;
		}
		form > a {
			position: relative;
			top: 4px;
			font-size: 12px;
		}
	</style>
</head>
<body>
	<nav>
		<a id="wordmark" href="/"><img alt="Fresco" src="https://d1dw1p6sgigznj.cloudfront.net/images/wordmark-nav.png"></a>
  </nav>
	<section>
		<div class="row">
      <h3>Enter A New Password<span id='app'></span></h3>
      <noscript>We apologize, but resetting your password requires javascript</noscript>
      <div class='error' id='error'></div>
      <form id='form' action='#' method='POST'>
        <!--<label>New Password for <span id='username_label'></span></label>-->
        <input name="new_password" type="password" />
        <input name='utf-8' type='hidden' value='✓' />
        <input name="username" id="username" type="hidden" />
        <input name="token" id="token" type="hidden" />
        <input type="submit" value="Submit"/>
      </form>
		</div>
	</section>
	<!-- footer -->
	<%- include('../segments/footer') %>
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/toggle.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="/javascripts/material.min.js"></script>
	<script type="text/javascript" src="/javascripts/snackbar.min.js"></script>
	<script type="text/javascript" src="/javascripts/fresco.js"></script>
  <script language='javascript' type='text/javascript'>
    <!--
    window.onload = function() {
      var urlParams = {};
      (function () {
          var pair, // Really a match. Index 0 is the full match; 1 & 2 are the key & val.
              tokenize = /([^&=]+)=?([^&]*)/g,
              // decodeURIComponents escapes everything but will leave +s that should be ' '
              re_space = function (s) { return decodeURIComponent(s.replace(/\+/g, " ")); },
              // Substring to cut off the leading '?'
              querystring = window.location.search.substring(1);
  
          while (pair = tokenize.exec(querystring))
            urlParams[re_space(pair[1])] = re_space(pair[2]);
      })();
  
      var base = 'https://www.parse.com';
      var id = urlParams['id'];
      document.getElementById('form').setAttribute('action', base + '/apps/' + id + '/request_password_reset');
      document.getElementById('username').value = urlParams['username'];
  
      document.getElementById('token').value = urlParams['token'];
      if (urlParams['error']) {
        document.getElementById('error').appendChild(document.createTextNode(urlParams['error']));
      }
      if (urlParams['app']) {
        document.getElementById('app').appendChild(document.createTextNode(' for ' + urlParams['app']));
      }
    }
    //-->
  </script>
</body>
</html>
