<% include ../segments/head %>

<div class="wrapper">
    <div id="_nav" class="nav transparent">
        <a class="logo" href="/" target="_parent">
            <span class="icon-fresco"></span>
        </a>

        <ul>
            <li><a href="/" target="_parent">HOME</a></li>
        </ul>
    </div>

    <div class="hero-bg">
        <div></div>
    </div>

    <%- include('../modals/reset', {active: 'active-modal'}) %>

    <%- include('../segments/footer', {display: 'none'}) %>

</div>

<% include ../segments/scripts %>