<% include ../segments/head %>

<div class="wrapper">
    <div id="_nav" class="nav transparent">
        <a class="logo" href="/">
            <span class="icon-fresco"></span>
        </a>

        <ul>
            <li><a href="/">HOME</a></li>
        </ul>
    </div>

    <div class="hero-bg">
        <div></div>
    </div>

    <h1 class="banner">Password successfuly updated!</h1>

</div>

<% include ../segments/scripts %>