footer {
	position: page;
	bottom: 0;
	width: 100%;
}


.slick-slide{
	width:100%;
	margin:0 auto;
	text-align: center;
    max-height:80vh;
}

.slick-slide img {
    width: 100%;
    display: block;
}

.no-select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#gallery-info {
	padding: 24px;
	font-size: 16px;
	line-height: 20px;
}

.section {
	padding-bottom: 16px;
}

.post {
	height: 90px;
	width: auto;
	padding-bottom: 12px;
	padding-right: 1px;
}

.gallery {
	padding-right: 12px;
}

#gallery-nav {
	align-items: center;
	flex-direction: column;
}
.slide.hide {
	display: none;
}

#wordmark {
	/*padding-top: 12px;*/
	margin: 12px 0px;
}

.meta-list > ul {
	margin-bottom: 0;
	padding: 0 24px;
	list-style-type: none;
}
/* line 246, ../sass/_rules.scss */
.meta-list > ul > li {
	padding: 8px 0;
	margin-bottom: 4px;
}
/* line 249, ../sass/_rules.scss */
.meta-list > ul > li > span {
	margin-right: 16px;
	vertical-align: -50%;
}
/* line 253, ../sass/_rules.scss */
.meta-list > ul > li:last-child {
	margin-bottom: 0;
}

.favicon {
	width: 30px;
	height: 30px;
}

.meta {
	position: absolute;
	bottom: 0;
	left: 0;
	right: initial !important;
	top: initial !important;
}