#newsroom-tools, #consumer-app, #partner-signup {
  background: #f2f2ed;
}

#newsroom-tools > div, #consumer-app > div, #partner-signup > div {
  padding: 96px;
  position: relative;
}

#newsroom-tools button, #consumer-app button, #partner-signup button {
  float: right;
  margin-top: 10px;
}

#newsroom-tools button:first-of-type, #consumer-app button:first-of-type, #partner-signup button:first-of-type {
  float: left;
}

#newsroom-tools > div, #consumer-app > div, #partner-signup > div, #newsroom-tools > span, #consumer-app > span, #partner-signup > span {
  transform: none;
}

#newsroom-tools > span, #consumer-app > span, #partner-signup > span {
  position: absolute;
}

#newsroom-tools ul, #consumer-app ul, #partner-signup ul {
  list-style: disc !important;
  padding-left: 22px;
  font-size: 24px;
}

#newsroom-tools li, #consumer-app li, #partner-signup li {
  margin-bottom: 10px;
}

#newsroom-tools h2, #consumer-app h2, #partner-signup h2 {
  font-size: 48px;
  margin-top: 25px;
  margin-left: 96px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.87);
  position: relative;
  height: 42px;
}

#newsroom-tools h2 span, #consumer-app h2 span, #partner-signup h2 span {
  position: absolute;
  bottom: -10px;
  background: #f2f2ed;
  padding-right: 10px;
}

#newsroom-tools h2, #consumer-app h2, #partner-signup h2 {
  color: #ffc600;
}

#newsroom-tools h3, #consumer-app h3, #partner-signup h3 {
  font-size: 42px;
  margin-bottom: 20px;
}

#newsroom-tools h4, #consumer-app h4, #partner-signup h4 {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.get-in-touch, #partner-signup-submit {
  color: white;
  padding: 15px;
  margin: 60px 0 auto auto;
  border-radius: 3px;
  text-transform: uppercase;
  background: #ffc600;
  display: inline-block;
  padding: 15px 30px 13px 30px;
  font-size: 28px;
  font-weight: bold;
}

.get-in-touch:hover, #partner-signup-submit:hover, .get-in-touch:focus, #partner-signup-submit:focus {
  background: #e6b600;
  cursor: pointer;
}

.get-in-touch:active, #partner-signup-submit:active {
  background: #ffc600;
}

#newsroom-tools .slide, #consumer-app .slide {
  position: relative;
}

#newsroom-tools .slick-slide img, #consumer-app .slick-slide img {
  width: auto;
}

#newsroom-tools .content, #consumer-app .content, #newsroom-tools .screenshot, #consumer-app .screenshot {
  float: left;
}

#newsroom-tools .content, #consumer-app .content {
  width: 33.33%;
  position: relative;
}

#newsroom-tools .screenshot, #consumer-app .screenshot {
  height: 700px;
  width: 66.66%;
  position: relative;
}

#newsroom-tools .screenshot-standalone, #consumer-app .screenshot-standalone {
  text-align: center;
}

#newsroom-tools .screenshot-standalone img, #consumer-app .screenshot-standalone img {
  display: inline;
}

.newsroom-container {
  padding-top: 40px !important;
}

#partner-signup p {
  margin-bottom: 10px;
}

#partner-signup ul {
  font-size: 16px;
}

.col-1-2 {
  padding-right: 20px;
  padding-bottom: 20px;
  float: left;
  width: 50%;
}

.col-1-2:last-child {
  padding-right: 0;
}

@media only screen and (max-width: 1024px) {
  .col-1-2 {
    width: 100%;
    padding-bottom: 20px;
    padding-right: 0;
  }
}

#partner-signup-form input[type="text"],
#partner-signup-form input[type="password"] {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

#partner-signup-form input, #partner-signup-form select {
  display: block;
  width: 100%;
  padding: 4px 0;
  background-color: transparent;
  border-style: none;
}

#partner-signup-form input:not(:first-child), #partner-signup-form select:not(:first-child) {
  margin-top: 24px;
}

#partner-signup-form select {
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.partner-signup-container {
  padding-top: 40px !important;
}

#open-consumer-modal {
  padding-top: 12px;
  padding-right: 15px;
  float: left;
}

#consumer-app .content {
  width: 66.66%;
}

#consumer-app .screenshot {
  width: 33.33%;
}

#consumer-app ul {
  margin-bottom: 20px;
}

#consumer-app .device-iphone {
  height: 400px;
  position: relative;
  left: 20px;
}

#consumer-app .device-iphone-image {
  position: absolute;
  top: 49px;
  left: 34px;
  height: 300px;
  /* width: 170px */
}

#partner-signup-submit {
  margin-top: 30px;
  text-align: center;
}

.text-center {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  #newsroom-tools, #consumer-app, #partner-signup {
    line-height: 1.2;
  }
  #newsroom-tools .slide, #consumer-app .slide, #partner-signup .slide {
    height: auto;
    max-height: none !important;
  }
  #newsroom-tools > div, #consumer-app > div, #partner-signup > div {
    padding: 40px;
  }
  .get-in-touch, #partner-signup-submit {
    width: 100%;
  }
  #newsroom-tools .screenshot, #consumer-app .screenshot, #newsroom-tools .content, #consumer-app .content {
    width: 100%;
    margin-bottom: 20px;
    height: auto;
  }
  #newsroom-tools .content-standalone, #consumer-app .content-standalone {
    padding-top: 0;
  }
  #newsroom-tools .content, #consumer-app .content {
    padding: 0;
  }
  .mobile-hide {
    display: none;
  }
}

@media only screen and (max-width: 520px) {
  #newsroom-tools ul, #consumer-app ul, #partner-signup ul {
    font-size: 18px;
  }
  #newsroom-tools h2, #consumer-app h2, #partner-signup h2 {
    font-size: 36px;
    margin-top: 20px;
  }
  #newsroom-tools h3, #consumer-app h3, #partner-signup h3 {
    font-size: 32px;
  }
  #newsroom-tools h4, #consumer-app h4, #partner-signup h4 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 420px) {
  #newsroom-tools h2, #consumer-app h2, #partner-signup h2 {
    margin-top: 45px;
    border-bottom: none;
  }
  #newsroom-tools h2 span, #consumer-app h2 span, #partner-signup h2 span {
    padding-right: 20%;
  }
  .newsroom-container, .partner-signup-container {
    border-top: 1px solid rgba(0, 0, 0, 0.87);
    margin-top: 15px !important;
  }
}
