<div id="_signup" class="signup card">
    <h3>Apply to be a Pro User</h3>

    <div class="body">
        
        <div class="info">

		<p>Fresco News is bringing you closer to your newsroom. Using your smartphone, you can help your local news organization cover breaking news events. Contributing content pays you $50 per video and $20 per photo, and when stations use your content on their broadcasts or websites, your name will be credited.</p>
		<p>Fresco News is bringing you closer to your newsroom. Using your smartphone, you can help your local news organization cover breaking news events. Contributing content pays you $50 per video and $20 per photo, and when stations use your content on their broadcasts or websites, your name will be credited.</p>
		<p>In addition to this, we will be paying guaranteed shifts for Nightcrawlers willing to help us ensure coverage between the hours of 12am-8am, for $50 a shift, even if you don’t get any content purchased.</p>

        </div>

        <div class="form-wrap" id="_form-wrap">
            <form id="pro-form">
                <input type="text" placeholder="Name" id="pro-name" />
                
                <input type="text" placeholder="ZIP" maxlength="5" id="pro-zip" />

                <input type="text" placeholder="Email" id="pro-email" />
                
                <input type="text" placeholder="Phone Number" id="pro-phone" />
                
                <input type="text" placeholder="Best time to call" id="pro-time" />

                <input type="submit" class="button" value="SIGN UP" id="pro-submit">

                <div class="showbox" id="pro-loader">
                  <div class="loader">
                    <svg class="circular" viewBox="25 25 50 50">
                      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10" />
                    </svg>
                  </div>
                </div>
            </form>

            <div id="_circle" class="form-circle"></div>

            <div class="form-completion" id="_form-completion">
                <div class="inner">
                    <span class="mdi mdi-check"></span>

                    <h3>You’re signed up!</h3>

                    <p>We’ll call you soon to get started. For now, 
                    <a href="https://itunes.apple.com/us/app/fresco-be-a-part-of-the-news/id872040692?mt=8">download Fresco</a> 
                    and do the following:</p>

                    <ol>
                        <li>Sign up and link Twitter and/or Facebook.</li>
                        <li>Add payment info in your profile settings.</li>
                        <li>Double check that location services are on and Fresco has permission in Settings.</li>
                        <li class="bold">
                            <a href="" id="availability-link">Tell us your availability</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
