<div id="_signup" class="signup card">
    <h3>Apply to be a Pro User</h3>

    <div class="body">
        <div class="info">
            <p>In the same way that Uber has made it easier to hail a ride with the click of a button, Fresco is helping news organizations get raw content from the scenes of various news events. Help us make this process as quick and seamless as possible by signing up to be a Pro User.</p>

            <p>WORK ON YOUR OWN TERMS</p>
            
            <p>If you have a flexible schedule, and like taking photos, you will be perfect for this job! As an independent contractor with Fresco, we will work with your availability, and contact you only when you are on call.</p>

            <p>GET PAID TO BE PART OF THE NEWS</p>
            
            <p>Being on call means that for every assignment you successfully respond to, you are guaranteed $20 even if the station doesn’t buy your content. Of course, if a station expresses interest in your content, you will directly receive payment from them! In addition to this, we guarantee a payment of $50 per shift for Nightcrawlers willing to help us ensure coverage between the hours of 12am to 8 am.</p>

            <p>NO FUSS, NO STRESS</p>
            
            <p>All you need is a smartphone to get started! We will ensure that the station sees your content, 
            and that you get paid in 2-3 working days.</p>

            <p class="last">It’s that easy! Sign up now to join the citizen journalism revolution!</p>
        </div>

        <div class="form-wrap" id="_form-wrap">
            <form id="pro-form">
                <input type="text" placeholder="Name" id="pro-name" />
                
                <input type="text" placeholder="ZIP" maxlength="5" id="pro-zip" />

                <input type="text" placeholder="Email" id="pro-email" />
                
                <input type="text" placeholder="Phone Number" id="pro-phone" />
                
                <input type="text" placeholder="Best time to call" id="pro-time" />

                <input type="submit" class="button" value="SIGN UP" id="pro-submit">

                <div class="showbox" id="pro-loader">
                  <div class="loader">
                    <svg class="circular" viewBox="25 25 50 50">
                      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10" />
                    </svg>
                  </div>
                </div>
            </form>

            <div id="_circle" class="form-circle"></div>

            <div class="form-completion" id="_form-completion">
                <div class="inner">
                    <span class="mdi mdi-check"></span>

                    <h3>You’re signed up!</h3>

                    <p>We’ll call you soon to get started. For now, 
                    <a href="https://itunes.apple.com/us/app/fresco-be-a-part-of-the-news/id872040692?mt=8">download Fresco</a> 
                    and do the following:</p>

                    <ol>
                        <li>Sign up and link Twitter and/or Facebook.</li>
                        <li>Add payment info in your profile settings.</li>
                        <li>Double check that location services are on and Fresco has permission in Settings.</li>
                        <li class="bold">
                            <a href="" id="availability-link">Tell us your availability</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
