<div id="_signup" class="signup card">
    <h3>Apply to be a Pro User</h3>

    <div class="body">
        
        <div class="info">
            <p>Using only an iPhone, you can be a part of the news revolution with Fresco! In the same way that Uber has made it easier to hail a ride, Fresco is helping news organizations get raw content from the scenes of various news events.</p>

            <p>Although anyone with our app can respond to assignments or submit news content organically, we are enlisting the help of Fresco Pro Users in order to ensure everything goes smoothly. That’s where you come in!</p>

            <p>We need users for the following shifts: 
            <br />11am&ndash;5pm, 5pm&ndash;11pm
            </p>
            <p class="last">Each shift guarantees a $50 payout regardless of whether an assignment is posted in your zone or not! Any time you do respond to a news request, you will be paid $50 per video and $20 per photo, meaning you can make far more than $50 per shift when assignments are posted.</p>

        </div>

        <div class="form-wrap" id="_form-wrap">
            <form id="pro-form">
                <input type="text" placeholder="Name" id="pro-name" />
                
                <input type="text" placeholder="ZIP" maxlength="5" id="pro-zip" />

                <input type="text" placeholder="Email" id="pro-email" />
                
                <input type="text" placeholder="Phone Number" id="pro-phone" />
                
                <input type="text" placeholder="Best time to call" id="pro-time" />

                <input type="submit" class="button" value="SIGN UP" id="pro-submit">

                <div class="showbox" id="pro-loader">
                  <div class="loader">
                    <svg class="circular" viewBox="25 25 50 50">
                      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10" />
                    </svg>
                  </div>
                </div>
            </form>

            <div id="_circle" class="form-circle"></div>

            <div class="form-completion" id="_form-completion">
                <div class="inner">
                    <span class="mdi mdi-check"></span>

                    <h3>You’re signed up!</h3>

                    <p>We’ll call you soon to get started. For now, download Fresco and do the following:</p>

                    <ol>
                        <li>Sign up and link Twitter and/or Facebook.</li>
                        <li>Add payment info in your profile settings.</li>
                        <li>Double check that location services are on and Fresco has permission in Settings.</li>
                        <li class="bold">Tell us your availability</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>