<% 
    proIdPage = typeof(proId) !== 'undefined' ? true : false;
    navClass = proIdPage ? 'nav transparent' : 'nav';
    display = typeof(proId) !== 'undefined' ? 'none' : '';
%>

<% include ../segments/head %>

<div class="wrapper">
    <div id="_nav" class="<%- navClass %>">
        <a class="logo" href="/">
            <span class="icon-fresco"></span>
        </a>

        <ul> 
            <% if(!proIdPage){ %>
                <li class="modal-action" data-event="scroll" data-element="_about">ABOUT</li>
                <li class="modal-action" data-event="scroll" data-element="_signup">SIGN UP</li>
            <% } %>
            <li><a href="/">HOME</a></li>
        </ul>
    </div>

    <div class="hero-bg">
        <div></div>
    </div>

    <% if(typeof(proId) !== 'undefined') { %>

        <%- include('pro-schedule', {active: 'active-modal'}) %>

    <% } else{ %>

       <div class="landing-wrap" id="_landing-wrap">
              <div class="hero-wrap">
                  <div id="_hero" class="hero">
                      <div class="tagline">
                          <h1>BECOME A PRO USER</h1>

                          <h3>Get paid to take photos and videos with your smartphone.</h3>
                      </div>
                  </div>
              </div>

              <div id="_bottom" class="bottom" style="">
                  <% include ../segments/about %>

                  <% include pro-signup %>
              </div>
          </div>
    <% } %>

    <%- include('../segments/footer', {display: display}) %>

</div>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '894553560641277');
fbq('track', "PageView");
</script>

<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=894553560641277&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<% include ../segments/scripts %>