<html>
	<head></head>
	<body>
		<div class="container">
			<div class="email-content">
				<div class="email-content__title">
					Outlet Verified
				</div>
				<div class="email-content__body">
					<p>Congratulations! <b>\{{ outlet }}</b> is now verified on Fresco!</p>
		            <p>Members of your outlet can now access all Fresco News features, including purchasing Archive content and posting assignments on Dispatch.</p>
		            <p><a target="_blank" href="https://fresconews.com/">Log in to get started.</a></p>
				</div>
				{{> footer }}
			</div>
		</div>
	</body>
</html>
