<html>
	<head></head>
	<body>
		<div class="container">
			<div class="email-content">
				<div class="email-content__title">
					You email needs to be verified!
				</div>
				<div class="email-content__body">
					Before using Fresco News to its full potential, please click <a target="_blank" href="\{{ link }}">here</a> or paste the URL below in your address bar to confirm that this is your email account.

                    <br>\{{ link }}
				</div>
				{{> footer }}
			</div>
		</div>
	</body>
</html>
