@import "../../../sass/email/_email";

$email-button: #0047bb;

.email-content__body {
    padding-left: 0px !important;

    @include desktop-all {
        padding-left: 0px !important;
    }

    .gallery {
        display: inline-block;
        width: 100%;

        padding-bottom: 16px;

        @include desktop-all {
            padding-bottom: 24px !important;
        }
    }

    .media {
        width: 100%;

        max-width: 408px;
        margin: auto;

        float: center;
        display: block;

        @include desktop-all {
            width: 408px !important;

            float: left;
        }

        .post {
            width: 200px;
            height: 200px;

            margin-left: 4px;
            margin-top: 4px;

            float: left;
            display: inline-block;

            position: relative;
            overflow: hidden;

            img {
                height: 100%;
                margin: auto;
                display: block;
            }
        }

        .post.large {
            width: 408px;
            height: 271px;
        }
    }

    .caption_container {
        width: 100%;
        float: left;

        font-size: 14px;

        @include desktop-all {
            width: 342px !important;
        }

        .caption {
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 16px;
            padding-bottom: 14px;

            @include desktop-all {
                padding-top: 0 !important;
                padding-left: 24px !important;
                padding-right: 24px !important;
            }
        }

        a, a:active, a:link, a:visited {
            text-decoration: none;
            color: $email-button;
            font-weight: 600;

            margin-left: 16px;
            margin-right: 16px;

            @include desktop-all {
                margin-left: 24px !important;
                margin-right: 24px !important;
            }
        }
    }
}
