<div class="email-content__divider"></div>
<div class="email-content__footer">
    <a href="https://www.fresconews.com" target="_blank">
        <img src="https://d1dw1p6sgigznj.cloudfront.net/images/wordmark-nav.png" alt="Fresco Logo"></img>
    </a>
</div>
