<div class="email-content__divider"></div>
<a href="https://www.fresconews.com" target="_blank">
    <img class="email-content__footer" src="https://d1dw1p6sgigznj.cloudfront.net/images/wordmark-nav.png" alt="Fresco Logo">
</a>
