<html>
    <body>
        <div class="nav">
            <img src="https://d1dw1p6sgigznj.cloudfront.net/images/wordmark-foot.png">
            <div>
				<h1>NEW GALLERY</h1>
                <p>A new gallery has been submitted to your assignment!</p>
			</div>
		</div>
    	<div class="content">
            Someone has submitted a gallery to your assignment <b>{{ assignment }}</b>!  To view your assignment, go to the {{ url link }}.
		</div>
	</body>
</html>
