<html>
	<body>
		<div class="nav">
            <img src="https://d1dw1p6sgigznj.cloudfront.net/images/wordmark-foot.png" height="50px">
			<div>
				<h1>NEW CREDIT</h1>
                <p>New Balance: <b>${{ amount }}</b></p>
			</div>
		</div>
    	<div class="content">
            Your outlet <i>{{ outlet }}</i> now has <b>${{ amount }}</b> of free credit on Fresco News!  You can use this money to pay for your content, and don't pay a dime until you run out!
		</div>
	</body>
</html>
