/* Sass Document */

/*------------------------------------------------------------------------------------

Copyright 2016 Fresco News, Inc. All Rights Reserved.

-------------------------------------------------------------------------------------*/

@import "./../global/_global.scss";
@import "./../global/fresco-slick.scss";

$desktopHeight:552px;
$borderRadius:2px;

html, body{
    height:auto;
    max-height:1000px;
}

iframe{
    border: 0px;
    margin: 0px;
    padding: 0px;
    @include box-shadow(0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12));
}

//Parent embed element
.embed {
    position:relative;
    min-height:400px;
    width:100%;
}

//Fresco icon in top-left
.icon-fresco{
    position:absolute;
    top:14px;
    left:17px;
    z-index:10;
    font-size:36px;
    color:#FFF;
    text-shadow:0 2px 2px rgba(0, 0, 0, 0.24);
}

//Master play button
.playButton {
    color:#FFF;
    font-size:54px;
    z-index:6;
    text-shadow:0 8px 8px rgba(0, 0, 0, 0.54);
    position: absolute;
    margin: 0 auto;
    text-align:center;
    opacity:0;
    left:0; right:0;
    top:45%;
    cursor:pointer;
    @include transition(opacity .3s ease-in-out);
    @include mobileAndTablet {
        top:25%;
    }
}

//Controls in top right
.controls{
    position:absolute;
    right:21px;
    top:21px;
    z-index:10;
    color:#FFF;
    font-size:1.2em;

    span{
        cursor:pointer;
        margin-left:24px;
        text-shadow:0 2px 2px rgba(0, 0, 0, 0.24);
        @include transition(opacity .3s ease-in-out);
    }
}

/**
 * Wrapper element holding caption and slick slider
 */
.gallery {
    width:100%;
    height:100%;
    cursor:pointer;
    @include border-radius($borderRadius);

}

/**
 * Gallery meta info, either on hover or below the media
 */
.gallery-info-wrap{
    position:absolute;
    opacity:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.54);
    z-index:5;
    color:#FFF;
    @include transition(opacity .3s ease-in-out);

    @include mobileAndTablet {
        position:static;
        opacity:1 !important;
        background:0;
        overflow:auto;
        @include rgba(color, 0, 0, 0, 0.87);       
    }

    .gallery-info{
        margin-top:70px;
        padding:0 24px;
        
        @include mobileAndTablet {
            padding:16px 24px;
            margin:0 auto;
        }

        p {
            font-family:$roboto;
            font-size:16px;
            line-height:24px;
            font-weight:400;
            margin:0 0 16px;
            max-height:144px;
            overflow:hidden;
            display: -webkit-box;
            line-height: 1.4;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            @include mobile {
                max-height:160px;
            }
        }

        a {
            font-size:20px;
            line-height:28px;
            text-shadow:0 2px 2px rgba(0, 0, 0, 0.24);
            font-weight:500;
            font-family:$nota;

            @include mobileAndTablet {
                color:$fresco-blue;
                text-shadow:none;
            }
        }
    }
}

/**
 * Slick wrapper for gallery
 */
.gallery-slick {
    margin:0;
    position: relative;
    background:black;

    .slick-slide {
        position: relative;
        background-repeat:no-repeat;
        background-position:center;
        background-size:cover;
        height:100vh;
        @include border-radius($borderRadius);

        @include mobileAndTablet{
            height:auto;
            // max-height:386px;
            width: 100%;
            padding-bottom:20%;
            
            video{
                width:auto;
                height: 100%;
                display: block;
                margin: 0 auto;
                position: absolute;
            }
        }

        video {
            position:static;
            width: 100%    !important;
            height: auto   !important;
            display: block;
            margin: 0 auto;

            @include mobileAndTablet {
                width:auto;
                height: 100%;
                position: absolute;
            }
        }
    }

    .meta-location{
        max-width:60%;
    }
}


.slick-dots{
    bottom:22px;
    right:24px;
    z-index:8;

    li {
        cursor:pointer;
    }
}
