{{#> email_base }}
	<div class="email-content__title">
		<!-- 'title' is a built in helper in mailchimp -->
		\{{{ TITLE }}}
	</div>
	<div class="email-content__body">
		\{{{ body }}}
	</div>
{{/email_base}}
