<html>
	<head></head>
	<body>
		<div class="container">
			<div class="email-content">
				<div class="email-content__title">
					<!-- title has to be capitalized, or it won't get filled in
					by the template. I'm not sure why -->
					\{{{ TITLE }}}
				</div>
				<div class="email-content__body">
					\{{{ body }}}
				</div>
				{{> footer }}
			</div>
		</div>
	</body>
</html>
