/* Sass Document */

/*-----------------------------------------------------------------------------------

Copyright 2015 Fresco News, Inc. All Rights Reserved.

-------------------------------------------------------------------------------------*/

/**
 * Color Definitons
 */

$fresco-yellow: #ffc600;

$fresco-blue: #0047BB;

$fresco-bg: #f2f2ed;


.twitter{
  color:#55acee !important;
}

.tumblr{
	color:#35465c !important;
}

.facebook{
	color:#3b5998 !important;
}

.instagram{
	color:#3f729b !important;
}