@import "media-queries";

/**
 * Color Definitons
 */

$fresco-yellow: #ffc600;

$fresco-blue: #0047BB;

$fresco-bg: #f2f2ed;

$fresco-error:#d0021b;

$fresco-black:rgba(0, 0, 0, 0.87);

$fresco-grey:rgba(0, 0, 0, 0.54);

$freco-green: #64bd61;


.twitter{
  color:#55acee !important;
}

.tumblr{
	color:#35465c !important;
}

.facebook{
	color:#3b5998 !important;
}

.instagram{
	color:#3f729b !important;
}
