/* Sass Document */

/*------------------------------------------------------------------------------------

Copyright 2016 Fresco News, Inc. All Rights Reserved.

-------------------------------------------------------------------------------------*/

.slick-meta{
	color:#FFF;
	bottom:14px;
	left:7px;
	position:absolute;
	
	tr{
		margin:5px 0 0 0;
		width:100%;
		display:block;
	
		td{
			padding-right:12px;
			width:32px;
			text-shadow:0 1px 0 rgb(0,0,0);
			text-shadow:0 1px 0 rgba(0,0,0,0.87);

			img{
				width:32px;
				height:32px;
				@include box-shadow(0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 3px 3px 0 rgba(0, 0, 0, 0.1));
				@include border-radius(50px);
			}
  		    span{
  		    	width:20px;
				margin:0 auto;
				display:block;
				font-size:1.4em;
				text-align:center;
			}
		}
		td.meta-text{
			font-size:14px;
			font-weight:400;
			max-width:80%;
			white-space: nowrap;
			overflow: hidden;
			font-family:$roboto;
			text-overflow: ellipsis;
		}
		td.byline{
			font-size:24px;
			font-weight:500;
			max-width:310px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

	}
	tr.user{
		.avatar{
			padding-right:8px;
		}

		margin:10px 0 0 0;
	}
}


.slick-dots{
    position: absolute;
    bottom:5px;
    right:5px;
    list-style: none;
    text-align: right;

	li {
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		margin: 0 5px;
		padding: 0;
		cursor: pointer;

		button:before {
		    font-size:26px !important;
		    color:#FFF;
		    opacity:.7;
		}
	}


	li.slick-active{
		button:before{
			color:#FFF;
			opacity:1;
		}
	}

}