<div id="_about" class="about card">
    <div class="scroll">
        <ul class="timeline">
            <li class="first">
                <img src="<%= utils.CDN %>/index/timeline-1.png" />
            </li>
            
            <li class="second">
                <img src="<%= utils.CDN %>/index/timeline-2.png" />
            </li>
            
            <li class="third">
                <img src="<%= utils.CDN %>/index/timeline-3.png" />
                <img class="callout" src="<%= utils.CDN %>/index/callout.png" />
            </li>
        </ul>
        <div class="line"></div>
        <ul class="progress">
            <li class="first">
                <div class="circle"></div>
                
                <p>GET CLOSE.</p>
            </li>
            
            <li class="second">
                <div class="circle"></div>                
                
                <p>GET THE SHOT.</p>
            </li>
            
            <li class="third">
                <div class="circle"></div>               
                
                <p>GET PAID.</p>
            </li>
        </ul>
   </div>

    <p class="info">Fresco notifies you about nearby breaking news events when news outlets need photos and videos for their coverage. 
    When a news outlet downloads or uses your photo or video, you get paid instantly!</p>
</div>