<!--aradd = article add-->
<div class="dim toggle-aradd"></div>
<div class="edit panel panel-default toggle-aradd aradd">
	<div class="col-xs-12 col-lg-12 edit-new dialog">
		<div class="dialog-head">
			<span class="md-type-title">Add Articles</span>
			<span class="mdi mdi-close pull-right icon toggle-aradd toggler"></span>
		</div>
		<div class="dialog-foot">
			<button id="aradd-revert-button" type="button" class="btn btn-flat">Revert changes</button>
			<button id="aradd-clear-button" type="button" class="btn btn-flat">Clear all</button>
			<button id="aradd-discard-button" type="button" class="btn btn-flat pull-right toggle-aradd toggler">Discard</button>
			<button id="aradd-save-button" type="button" class="btn btn-flat pull-right">Save</button>
		</div>
		<div class="dialog-body">
			<div class="dialog-col col-xs-12 col-md-7 form-group-default">
				<div class="dialog-row split chips">
					<div class="split-cell">
						<input id="aradd-articles-input" type="text" class="form-control floating-label" placeholder="Articles">
						<ul id="aradd-articles-list" class="chips"></ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<style>
.checkbox input[type=checkbox]:checked~.check:before, .checkbox input[type=checkbox]:checked~.check{
	color: #0077ff;
}

.tt-menu {
	background: white;
}
.tt-suggestion {
	padding: 5px;
	font-size: 16px;
}
.article-suggestion {
	padding: 5px;
	font-size: 12px;
}

.tt-cursor {
	background: lightgrey;
}

.new-story div.chip, .new-story div.icon{
	background-color: lightgreen !important;
}
.map-container {
	height: 240px;
}
</style>