<!-- bulk select -->
<div class="well hover bulk">
	<div id="bulk-thumbs" class="thumbs"></div>
	<div class="row md-type-button">
		<button id="bulk-clear-button" type="button" class="btn btn-flat" id="clear">Clear selection (<span id="post-count"></span>)</button>
		<button id="bulk-download-button" type="button" class="btn btn-flat pull-right">Purchase<!--Download--></button>
		<%
			if(user.rank && user.rank >= config.RANKS.CONTENT_MANAGER){
		%>
				<button id="bulk-edit-button" type="button" class="btn btn-flat pull-right toggle-edit toggler">Edit</button>
		<%
			}
		%>
		<!--<button type="button" class="btn btn-flat pull-right toggle-gcreate toggler">Create gallery</button>-->
	</div>
</div>
<!-- end bulk select -->