<footer class="dark">
	<div>
		<img class="lazy" src="https://d1dw1p6sgigznj.cloudfront.net/images/wordmark-foot.png">
		<p>
			Fresco News Inc.<br>
			85 Broad St #17.134<br>
			New York, NY 10004
		</p>
	</div>
	<div>
		<span>&copy;2015 Fresco News Inc.</span>
	</div>
	<div>
		<ul>
			<li><a class="mdi mdi-twitter" href="http://twitter.com/fresconews/" target="_blank"></a></li>
			<li><a class="mdi mdi-facebook-box" href="http://facebook.com/fresconews/" target="_blank"></a></li>
			<li><a class="mdi mdi-instagram" href="http://instagram.com/fresconews/" target="_blank"></a></li>
		</ul>
		<ul>
			<li data-toggle-id="team" data-toggle-role="controller" data-toggle-action="enable">Team</li>
			<li><a href="https://d1dw1p6sgigznj.cloudfront.net/pdf/press.pdf" target="_blank">Press Kit</a></li>
		</ul>
	</div>
</footer>
<%- include('team') %>