<% 
   var display = typeof(display) !== 'undefined' ? display : '';
%>

<div class="footer" style="display:<%-display%>" id="_footer">
	<div class="middle">
		<ul>
			<li>&copy;2015 Fresco News Inc</li>
			<li><a href="/legal">&bull; Terms of Service</a></li>
			<li><a href="/legal">&bull; Privacy Policy</a></li>
		</ul>
	</div>

	<div class="left">
		<span class="icon-fresco"></span>
		<p>
			Fresco News Inc.<br>
			85 Broad St #17.134<br>
			New York, NY 10004
		</p>
	</div>
	
	<div class="right">
		<ul>
			<li><a class="mdi mdi-twitter twitter" href="http://twitter.com/fresconews/" target="_blank"></a></li>
			<li><a class="mdi mdi-facebook-box facebook" href="http://facebook.com/fresconews/" target="_blank"></a></li>
			<li><a class="mdi mdi-instagram instagram" href="http://instagram.com/fresconews/" target="_blank"></a></li>
			<li><a class="mdi mdi-tumblr tumblr" href="http://instagram.com/fresconews/" target="_blank"></a></li>
		</ul>
		<ul class="links" id="footer-actions">
			<li data-event="modal" data-modal="team">TEAM</li>
			<li data-event="modal" data-modal="careers">CAREERS</li>
			<li data-event="modal" data-modal="press">PRESS</li>
			<li data-event="modal" data-modal="contact">CONTACT</li>
		</ul>
	</div>
</div>