<!-- edit -->
<div class="dim toggle-gcreate">
</div>
<div class="edit panel panel-default toggle-gcreate gcreate">
	<div class="col-xs-12 col-lg-12 edit-new dialog">
		<div class="dialog-head">
			<span class="md-type-title">Create Gallery</span>
			<span class="mdi mdi-close pull-right icon toggle-gcreate toggler"></span>
		</div>
		<div class="dialog-foot">
			<button id="gallery-create-clear-button" type="button" class="btn btn-flat">Clear all</button>
			<button id="gallery-create-save-button" type="button" class="btn btn-flat pull-right">Save</button>
			<button id="gallery-create-discard-button" type="button" class="btn btn-flat pull-right toggle-gcreate toggler">Discard</button>
		</div>
		<div class="dialog-body">
			<div class="dialog-col col-xs-12 form-group-default">
				<div class="dialog-row">
					<textarea id="gallery-create-caption-input" type="text" class="form-control floating-label" placeholder="Caption"></textarea>
				</div>
				<div class="dialog-row split chips">
					<div class="split-cell">
						<input id="gallery-create-tags-input" type="text" class="form-control floating-label" placeholder="Tags">
						<ul id="gallery-create-tags-list" class="chips"></ul>
					</div>
					<div class="split-cell">
						<span class="md-type-body2">Suggested tags</span>
						<ul id="gallery-create-suggested-tags-list" class="chips"></ul>
					</div>
				</div>
				<div class="dialog-row split chips">
					<div class="split-cell">
						<input id="gallery-create-stories-input" type="text" class="form-control floating-label" placeholder="Stories">
						<ul id="gallery-create-stories-list" class="chips"></ul>
					</div>
					<div class="split-cell">
						<span class="md-type-body2">Suggested stories</span>
						<ul id="gallery-create-suggested-stories-list" class="chips"></ul>
					</div>
				</div>
				<div class="dialog-row split chips">
					<div class="split-cell">
						<input id="gallery-create-articles-input" type="text" class="form-control floating-label" placeholder="Articles">
						<ul id="gallery-create-articles-list" class="chips"></ul>
					</div>
				</div>
				<%
					if(user.rank && user.rank >= config.RANKS.CONTENT_MANAGER){
				%>
					<div class="dialog-row">
						<div class="checkbox">
							<label>
								<input id="gallery-create-highlight-input" type="checkbox"> Highlighted
							</label>
						</div>
					</div>
				<%
					}
				%>
			</div>
		</div>
	</div>
</div>
<style>.checkbox input[type=checkbox]:checked~.check:before, .checkbox input[type=checkbox]:checked~.check{
	color: #0077ff;
}</style>
<!-- end edit -->