<!-- edit -->
<div class="dim toggle-edit">
</div>
<div class="edit panel panel-default toggle-edit">
	<div class="col-lg-3 visible-lg edit-current">
		<div class="meta">
			<div class="meta-user">
				<div class="col-xs-3">
					<img id="edit-owner-image" class="img-circle img-responsive" src="../images/placeholder-account.jpg">
				</div>
				<div class="col-xs-12">
					<div class="col-xs-9 col-xs-offset-3">
						<p id="edit-owner" class="md-type-title">User</p>
						<p id="edit-license" class="md-type-subhead">Fresco News</p>
					</div>
				</div>
			</div>
			<div id="edit-caption" class="meta-description">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
			<div class="meta-list">
				<ul id="edit-subhead" class="md-type-subhead">
					<li>
						<span class="mdi mdi-clock icon"></span>Date and time
					</li>
					<li>
						<span class="mdi mdi-map-marker icon"></span><span id="edit-location">Location</span>
					</li>
					<li id="edit-source">
						<span class="mdi mdi-twitter icon"></span><a id="edit-source-link">See original</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-lg-9 edit-new dialog">
		<div class="dialog-head">
			<span class="md-type-title">Edit post</span>
			<span class="mdi mdi-close pull-right icon toggle-edit toggler"></span>
		</div>
		<div class="dialog-foot">
			<button id="edit-revert-button" type="button" class="btn btn-flat">Revert changes</button>
			<button id="edit-clear-button" type="button" class="btn btn-flat">Clear all</button>
			<button type="button" class="btn btn-flat pull-right">Save</button>
			<button type="button" class="btn btn-flat pull-right toggle-edit toggler">Discard</button>
		</div>
		<div class="dialog-body">
			<div class="dialog-col col-xs-12 col-md-7 form-group-default">
				<div class="dialog-row">
					<textarea id="edit-caption-input" type="text" class="form-control floating-label" placeholder="Caption"></textarea>
				</div>
				<div class="dialog-row split">
					<div class="split-cell">
						<input id="edit-name-input" type="text" class="form-control floating-label" placeholder="Name">
					</div>
					<div class="split-cell">
						<input id="edit-affiliation-input" type="text" class="form-control floating-label" placeholder="Affiliation">
					</div>
				</div>
				<div class="dialog-row split chips">
					<div class="split-cell">
						<input id="edit-tags-input" type="text" class="form-control floating-label" placeholder="Tags">
						<ul id="edit-tags-list" class="chips"></ul>
					</div>
					<div class="split-cell">
						<span class="md-type-body2">Suggested tags</span>
						<ul id="edit-suggested-tags-list" class="chips"></ul>
					</div>
				</div>
				<div class="dialog-row split chips">
					<div class="split-cell">
						<input id="edit-stories-input" type="text" class="form-control floating-label" placeholder="Stories">
						<ul id="edit-stories-list" class="chips"></ul>
					</div>
					<div class="split-cell">
						<span id="edit-suggested-stories-input" class="md-type-body2">Suggested stories</span>
						<ul id="edit-suggested-stories-list" class="chips"></ul>
					</div>
				</div>
				<div class="dialog-row split chips">
					<div class="split-cell">
						<input id="edit-articles-input" type="text" class="form-control floating-label" placeholder="Articles">
						<ul id="edit-articles-list" class="chips"></ul>
					</div>
				</div>
			</div>
			<div class="dialog-col col-xs-12 col-md-5">
				<img id="edit-image" class="dialog-row img-responsive" src="../images/placeholder-photo.jpg">
				<div class="dialog-row map-group">
					<div class="form-group-default">
						<div class="form-control-wrapper">
							<input id="edit-location-input" type="text" class="form-control floating-label" placeholder="Location">
							<span class="material-input"></span>
						</div>
					</div>
					<div id="edit-map-canvas" class="map-container">
						Just pretend there's a map here ok
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end edit -->