<!-- Props -->
<% if(typeof(props) !== 'undefined'){ %>
    <script type="text/javascript">window.__initialProps__ =  <%- props %></script>
<% } %>

<!--Remote Scripts-->
<% if(typeof remoteScripts !== 'undefined') { %>
    <% for(var i in remoteScripts) { %>
        <script type="text/javascript" src="<%= remoteScripts[i] %>"></script>
    <% } %>
<% } %>

<!--Global Specific based on sections-->
<% if(typeof(section) !== 'undefined' && section == 'platform'){ %>
    <!--Google Maps-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuNoqNPGWujpgFl3vTse5HPHY_WUlMzfU&libraries=geometry,places&"></script>
<% } %>

<% // Load asset based on page, check if in dev mode or not %>
<% if(typeof(page) !== 'undefined' && typeof(assets) !== 'undefined'){ %>
    <script type="text/javascript" src="<%= assets[page]['js'] %>"></script>
<% } %>


<!--Alerts-->
<% include alerts %>

<!--Google Analytics-->
<% include ga %>

</body>

</html>
