<div class="dim toggle-sedit">
</div>
<div class="edit panel panel-default toggle-sedit">
	<div class="col-lg-4 visible-lg edit-current">
		<div class="meta">
			<div id="story-edit-caption" class="meta-description"></div>
			<div class="meta-list">
				<ul class="md-type-subhead">
					<li>
						<span class="mdi mdi-clock icon"></span><span id="story-edit-date"></span>
					</li>
					<li>
						<span class="mdi mdi-file-image-box icon"></span><span id="story-edit-photo-num"></span>
					</li>
					<li>
						<span class="mdi mdi-movie icon"></span><span id="story-edit-video-num"></span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-lg-8 edit-new dialog">
		<div class="dialog-head">
			<span class="md-type-title">Edit story</span>
			<span class="mdi mdi-close pull-right icon toggle-sedit toggler"></span>
		</div>
		<div class="dialog-foot">
			<button id="story-edit-revert" type="button" class="btn btn-flat">Revert changes</button>
			<button id="story-edit-clear" type="button" class="btn btn-flat">Clear all</button>
			<button id="story-edit-save" type="button" class="btn btn-flat pull-right">Save</button>
			<button id="story-edit-discard" type="button" class="btn btn-flat pull-right toggle-sedit toggler">Discard</button>
		</div>
		<div class="dialog-body">
			<div class="dialog-col col-xs-12 form-group-default">
				<div class="dialog-row">
					<input id="story-edit-title-input" type="text" class="form-control floating-label" placeholder="Title">
				</div>
				<div class="dialog-row">
					<textarea id="story-edit-caption-input" type="text" class="form-control floating-label" placeholder="Caption"></textarea>
				</div>
				<!--<div class="dialog-row split chips">
					<div class="split-cell">
						<input id="story-edit-tag-input" type="text" class="form-control floating-label" placeholder="Tags">
						<ul id="story-edit-tags" class="chips">
							
						</ul>
					</div>
					<div class="split-cell">
						<span class="md-type-body2">Suggested tags</span>
						<ul class="chips">
							
						</ul>
					</div>
				</div>-->
			</div> 
		</div>
	</div>
</div>
<!-- end story edit -->