<div class="modal" id="team" data-toggle-id="team" data-toggle-role="target">
	<span class="mdi mdi-close" data-toggle-id="team" data-toggle-role="controller" data-toggle-action="disable"></span>
	<div>
		<ul>
			<li>
				<img class="lazy" src="https://d1dw1p6sgigznj.cloudfront.net/images/headshots/john.jpg"></img>
				<p>
					<b>John Meyer</b><br>
					CEO<br>
					<a href="http://twitter.com/beastmode" target="_blank">@beastmode</a>
				</p>
			</li><li>
				<img class="lazy" src="https://d1dw1p6sgigznj.cloudfront.net/images/headshots/jeremy.jpg"></img>
				<p>
					<b>Jeremy Ogorek</b><br>
					CFO<br>
					<a href="http://twitter.com/jeremyogo" target="_blank">@jeremyogo</a>
				</p>
			</li>
		</ul>
		<h3>Design team</h3>
		<ul>
			<li>
				<img class="lazy" src="https://d1dw1p6sgigznj.cloudfront.net/images/headshots/imogen.jpg"></img>
				<p>
					<b>Imogen Olsen</b><br>
					CDO<br>
					<a href="http://twitter.com/imogenic" target="_blank">@imogenic</a>
				</p>
			</li><li>
				<img class="lazy" src="https://d1dw1p6sgigznj.cloudfront.net/images/headshots/erik.jpg"></img>
				<p>
					<b>Erik Washington</b><br>
					Graphic Designer<br>&nbsp;
				</p>
			</li>
		</ul>
		<h3>Development team</h3>
		<ul>
			<li>
				<img class="lazy" src="https://d1dw1p6sgigznj.cloudfront.net/images/headshots/elmir.jpg"></img>
				<p>
					<b>Elmir Kouliev</b><br>
					CTO<br>
					<a href="http://twitter.com/elmirkouliev" target="_blank">@elmirkouliev</a>
				</p>
			</li><li>
				<img class="lazy" src="https://d1dw1p6sgigznj.cloudfront.net/images/headshots/missing.png"></img>
				<p>
					<b>Mike Terpak</b><br>
					Full-stack Engineer<br>&nbsp;
				</p>
			</li><li>
				<img class="lazy" src="https://d1dw1p6sgigznj.cloudfront.net/images/headshots/missing.png"></img>
				<p>
					<b>Ryan McVeety</b><br>
					Full-stack Engineer<br>&nbsp;
				</p>
			</li><li>
				<img class="lazy" src="https://d1dw1p6sgigznj.cloudfront.net/images/headshots/omar.jpg"></img>
				<p>
					<b>Omar Elfanek</b><br>
					iOS Engineer<br>
					<a href="http://twitter.com/elfanek" target="_blank">@elfanek</a>
				</p>
			</li>
		</ul>
		<h3>Content team</h3>
		<ul>
			<li>
				<img class="lazy" src="https://d1dw1p6sgigznj.cloudfront.net/images/headshots/morgan.jpg"></img>
				<p>
					<b>Morgan Boyer</b><br>
					Editor in Chief<br>
					<a href="http://twitter.com/Morganza_Affair" target="_blank">@Morganza_Affair</a>
				</p>
			</li><li>
				<img class="lazy" src="https://d1dw1p6sgigznj.cloudfront.net/images/headshots/sean.jpg"></img>
				<p>
					<b>Sean McCready</b><br>
					Content Editor, London<br>
					<a href="http://twitter.com/elementary_son" target="_blank">@elementary_son</a>
				</p>
			</li><li>
				<img class="lazy" src="https://d1dw1p6sgigznj.cloudfront.net/images/headshots/grace.jpg"></img>
				<p>
					<b>Grace Plihal</b><br>
					Content Manager<br>
					<a href="http://twitter.com/graceplihal" target="_blank">@graceplihal</a>
				</p>
			</li><li>
				<img class="lazy" src="https://d1dw1p6sgigznj.cloudfront.net/images/headshots/bryn.jpg"></img>
				<p>
					<b>Bryn Gelbart</b><br>
					Content Manager<br>
					<a href="http://twitter.com/FeelTheBryn" target="_blank">@FeelTheBryn</a>
				</p>
			</li><li>
				<img class="lazy" src="https://d1dw1p6sgigznj.cloudfront.net/images/headshots/heather.jpg"></img>
				<p>
					<b>Heather Minton</b><br>
					Content Manager<br>
					<a href="http://twitter.com/Heather4NY" target="_blank">@Heather4NY</a>
				</p>
			</li><li>
				<img class="lazy" src="https://d1dw1p6sgigznj.cloudfront.net/images/headshots/missing.png"></img>
				<p>
					<b>Francesca Duncan</b><br>
					Content Manager<br>
					<a href="http://twitter.com/ohhhfrancesca" target="_blank">@ohhhfrancesca</a>
				</p>
			</li><li>
				<img class="lazy" src="https://d1dw1p6sgigznj.cloudfront.net/images/headshots/missing.png"></img>
				<p>
					<b>Willow Frederick</b><br>
					Content Manager<br>&nbsp;
				</p>
			</li><li>
				<img class="lazy" src="https://d1dw1p6sgigznj.cloudfront.net/images/headshots/missing.png"></img>
				<p>
					<b>Maya Chung</b><br>
					Content Manager<br>
					<a href="http://twitter.com/Mayanyani" target="_blank">@Mayanyani</a>
				</p>
			</li><li>
				<img class="lazy" src="https://d1dw1p6sgigznj.cloudfront.net/images/headshots/missing.png"></img>
				<p>
					<b>Tosi Solomon</b><br>
					Content Manager<br>&nbsp;
				</p>
			</li><li>
				<img class="lazy" src="https://d1dw1p6sgigznj.cloudfront.net/images/headshots/missing.png"></img>
				<p>
					<b>Christina Williams</b><br>
					Content Manager<br>
					<a href="http://twitter.com/thisischrissie" target="_blank">@thisischrissie</a>
				</p>
			</li><li>
				<img class="lazy" src="https://d1dw1p6sgigznj.cloudfront.net/images/headshots/missing.png"></img>
				<p>
					<b>Rakeesha Wrigley</b><br>
					Content Manager<br>
					<a href="http://twitter.com/rakeeshawrigley" target="_blank">@rakeeshawrigley</a>
				</p>
			</li><li>
				<img class="lazy" src="https://d1dw1p6sgigznj.cloudfront.net/images/headshots/katie.jpg"></img>
				<p>
					<b>Katie Schulz</b><br>
					Content Manager<br>
					<a href="http://twitter.com/schadykults" target="_blank">@schadykults</a>
				</p>
			</li>
		</ul>
	</div>
</div>
