@charset "UTF-8";

/* Sass Document */

/*-----------------------------------------------------------------------------------

Copyright 2015 Fresco News, Inc. All Rights Reserved.

-------------------------------------------------------------------------------------*/

$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-width-large: 1440px;


/**
 * Media Queries
 */

@mixin mobile {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin mobileAndTablet {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}


@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) and (max-width: #{$desktop-width-large}) {
    @content;
  }
}

@mixin desktop-large {
  @media (min-width: #{$desktop-width-large}) {
    @content;
  }
}


/**
 * Border Radius
 * @param  {[type]} $radius Radius to set to 
 */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/*
    Universal Styles
 */

* {
    margin:0;
    padding:0;
    font-weight:400;
}

html, body {
    font-family:Nota, sans-serif;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color:inherit;
}

ul{
    list-style:none;
}

.modal{
    display:none;
}


footer{

    $padding:2%;
    $mobilePadding:12%;

    background:rgb(41,41,41);
    background:rgba(0, 0, 0, 0.87);
    overflow:hidden;
    padding:$padding;
    color:#FFF;
    position:relative;

    @include mobile{
        padding:$mobilePadding;
    }

    .left{
        float:left;
        font-weight:500;
        img{
            height: 48px;
            position: relative;
            margin-bottom: 24px;
        }
    }

    .middle{
        text-align:center;
        margin:0 auto;
        position:absolute;
        left: 0; 
        bottom: 20%; 
        right: 0;

        @include mobile {
           text-align:left;
           left:$mobilePadding;
           bottom:6%;
        }

        span{
            text-align:center;
        }

    }

    .right{
        float:right;
        color:#EDEDED;
        margin-top:50px;

        @include mobile {
           float:left;
           margin-top:25px;
        }

        ul{
            text-align:right;
            margin:0 0 20px 0;
            
            li, li a{
                font-weight:500;
                margin:0 0 0 10px;
                font-size:24px;
                display:inline-block;

                @include mobile{
                    margin:0 10px 0 0;
                }
            }

            @include mobile{
                text-align:left;
            }
        }
    }
}