@charset "UTF-8";

/* Sass Document */

/*-----------------------------------------------------------------------------------

Copyright 2015 Fresco News, Inc. All Rights Reserved.

-------------------------------------------------------------------------------------*/

@import "media-queries";
@import "../../public/fonts/nota/nota.css";


/**
 * Border Radius
 * @param  {[type]} $radius Radius to set to 
 */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/**
 * Shadow
 * @param  {[type]} $radius Radius to set to 
 */

@mixin box-shadow($x:0, $y:0, $blur:0, $spread:0, $color:rgb(0,0,0)) {
    -webkit-box-shadow:$x $y $blur $spread $color;
       -moz-box-shadow:$x $y $blur $spread $color;
            box-shadow:$x $y $blur $spread $color;
}

/*
    Universal Styles
 */

* {
    margin:0;
    padding:0;
    font-weight:400;
}

html, body {
    font-family:Nota, sans-serif;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    height:100%;
}

.wrapper{
    height:100%;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color:inherit;
}

ul{
    list-style:none;
}


.modal{
    display:none;
}

/*
    Navigation
 */

nav{
    width:100%;
    height:96px;
    background:#FAFBF9;
    position:fixed;
    z-index:100;
    
    a{
        padding:12px 0;
        display:block;
        img{
            height: 64px;
            display: block;
            max-width: 400px;
            margin: 0 auto;
        }
    }
}

.page{
    padding-top:96px;
}


/*
    Footer
 */

.footer{
    
    $padding:2%;
    $mobilePadding:12%;

    background:rgb(41,41,41);
    background:rgba(0, 0, 0, 0.87);
    overflow:hidden;
    color:#FFF;
    position:relative;
    padding:$padding;

    @include mobile{
        padding:$mobilePadding;
    }

    .left{
        float:left;
        font-weight:500;
        @include mobile {
            float:none;
        }
        img{
            height: 48px;
            position: relative;
            margin-bottom: 24px;
        }
    }

    .middle{
        text-align:center;
        margin:0 auto;
        position:absolute;
        left: 0; 
        bottom: 20%; 
        right: 0;

        @include mobile {
           text-align:left;
           left:$mobilePadding;
           bottom:12%;
        }

        span{
            text-align:center;
        }

    }

    .right{
        float:right;
        color:#EDEDED;
        margin-top:50px;

        @include mobile {
           float:left;
           margin-top:25px;
        }

        ul{
            text-align:right;
            margin:0 0 20px 0;
            
            li, li a{
                font-weight:500;
                margin:0 0 0 10px;
                font-size:24px;
                display:inline-block;

                @include mobile{
                    margin:0 10px 0 0;
                }
            }

            @include mobile{
                text-align:left;
            }
        }
    }
}