<html style="font-family: 'Roboto', sans-serif">

    <body style="margin:10px auto;text-align:center;">

        <img style="display: block;margin:40px auto 0;max-width:300px;" src="https://d1dw1p6sgigznj.cloudfront.net/images/wordmark-news.png"/>

        <h2>You have a new submission!</h2>

        <p style="max-width:95%">Someone has submitted a new gallery to your assignment
        <b>\{{ assignment }}</b>!  To view your assignment, go to the <span mc:edit="LINK"></span>.
        </p>
    </body>
</html>
