<html style="font-family: 'Roboto', sans-serif">
    <body style="margin:10px auto;text-align:center;">
        <img style="width: 70vw;max-width:2000px;" src="https://d1dw1p6sgigznj.cloudfront.net/images/wordmark-news.png"/>
        <h2>You email needs to be verified!</h2>
        <p>Before using Fresco News to its full potential, please click {{ url link }} or paste the URL below in your address bar to confirm that this is your email account.</p>

        <span>{{ url URL}}</span>
    </body>
</html>
