<html>
	<head></head>
	<body>
		<div class="container">
			<div class="email-content">
				<div class="email-content__title">
					Assignment: \{{ assignment }}
				</div>
				<div class="email-content__body">
                    An assignment has been created and needs to be reviewed!
                    In order to review this assignment, log into your Fresco
                    News account and visit the <a target="_blank" href="https://www.fresconews.com/admin">Admin Page</a>.
				</div>
				{{> footer }}
			</div>
		</div>
	</body>
</html>
