<html>
	<body>
		<div class="nav">
            <img src="https://d1dw1p6sgigznj.cloudfront.net/images/wordmark-foot.png" height="50px">
			<div>
				<h1>ASSIGNMENT APPROVED</h1>
			</div>
		</div>
    	<div class="content">
            Your assignment <b>{{ assignment }}</b> has been approved and is now visible to all nearby Fresco users!  Content will now appear as users submit to your assignment.
            <br><br>
            Please feel free to contact support@fresconews.com with any questions or concerns.
		</div>
	</body>
</html>
